{% extends 'base/layout.html' %}

{% block header %}
    <div class="page-header m-0">
        {{ block.super }}

        {% block page-header %}
            <div class="container-fluid mt-2 d-print-none">
                <div class="d-flex justify-content-between">
                    {# Title #}
                    <div>
                        <h1 class="page-title">{% block title %}{% endblock title %}</h1>
                        {% block subtitle %}{% endblock %}
                    </div>

                    {# Controls #}
                    <div class="d-print-none">
                        {% block controls %}
                            <div class="btn-list">
                                {% block control-buttons %}{% endblock %}
                            </div>
                        {% endblock controls %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {# Tabs #}
        <div class="page-tabs mt-3">
            <div class="container-fluid">
                {% block tabs %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock header %}
