{% extends 'generic/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% comment %}
Blocks:
  - title:    Page title
  - tabs:     Page tabs
  - content:  Primary page content

Context:
  - model:       The model class being imported
  - form:        The bulk import form
  - fields:      A dictionary of form fields, to display import options (optional)
  - return_url:  The URL to which the user is redirected after submitting the form
{% endcomment %}

{% block title %}{{ model|meta:"verbose_name"|bettertitle }} {% trans "Bulk Import" %}{% endblock %}

{% block tabs %}
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="import-form-tab"
                data-bs-toggle="tab"
                data-bs-target="#import-form"
                data-href="#tab_import-form"
                type="button"
                role="tab"
                aria-controls="import-form"
                aria-selected="true"
            >
                {% trans "Direct Import" %}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="upload-form-tab"
                data-bs-toggle="tab"
                data-bs-target="#upload-form"
                data-href="#tab_upload-form"
                type="button"
                role="tab"
                aria-controls="upload-form"
                aria-selected="false"
            >
                {% trans "Upload File" %}
            </button>
        </li>
    </ul>
{% endblock tabs %}

{% block alerts %}
    <c-alert.messages :form="form" only />
{% endblock %}

{% block content %}
    {# Data Import Form #}
    <div class="tab-pane show active" id="import-form" role="tabpanel" aria-labelledby="import-form-tab">
        <div class="col col-md-12 col-lg-10 offset-lg-1">
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <input type="hidden" name="import_method" value="direct">

                {# Form fields #}
                {{ form.data|as_crispy_field }}
                {{ form.format|as_crispy_field }}
                {{ form.csv_delimiter|as_crispy_field }}

                {# Meta fields #}
                {% if form.changelog_message %}
                    <div class="bg-primary-subtle border border-primary rounded-1 pt-3 px-3 mb-3">
                        {{ form.changelog_message|as_crispy_field }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <div class="col col-md-12 text-end">
                        {% if return_url %}
                            <a href="{{ return_url }}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                        {% endif %}
                        <button type="submit" name="data_submit" class="btn btn-primary">{% trans "Submit" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {# File Upload Form #}
    <div class="tab-pane show" id="upload-form" role="tabpanel" aria-labelledby="upload-form-tab">
        <div class="col col-md-12 col-lg-10 offset-lg-1">
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <input type="hidden" name="import_method" value="upload">

                {# Form fields #}
                {{ form.upload_file|as_crispy_field }}
                {{ form.format|as_crispy_field }}
                {{ form.csv_delimiter|as_crispy_field }}

                {# Meta fields #}
                {% if form.changelog_message %}
                    <div class="bg-primary-subtle border border-primary rounded-1 pt-3 px-3 mb-3">
                        {{ form.changelog_message|as_crispy_field }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <div class="col col-md-12 text-end">
                        {% if return_url %}
                            <a href="{{ return_url }}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                        {% endif %}
                        <button type="submit" name="file_submit" class="btn btn-primary">{% trans "Submit" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if fields %}
        <div class="row my-3">
            <div class="col col-md-12">
                <div class="card">
                    <h2 class="card-header">{% trans "Field Options" %}</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans "Field" %}</th>
                                <th>{% trans "Required" %}</th>
                                <th>{% trans "Accessor" %}</th>
                                <th>{% trans "Description" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for name, field in fields.items %}
                                <tr>
                                    <td class="font-monospace{% if field.required %} fw-bold{% endif %}">
                                        {{ name }}
                                    </td>
                                    <td>
                                        {% if field.required %}
                                            <c-ui.checkmark :value="True" />
                                        {% else %}
                                            {{ ''|placeholder }}
                                        {% endif %}
                                    </td>
                                    {% if field.to_field_name %}
                                        <td class="font-monospace">{{ field.to_field_name }}</td>
                                    {% else %}
                                        <td>{{ ''|placeholder }}</td>
                                    {% endif %}
                                    <td>
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% elif field.label %}
                                            {{ field.label }}
                                        {% endif %}
                                        {% if field.STATIC_CHOICES %}
                                            <a
                                                href="#"
                                                data-bs-toggle="modal"
                                                data-bs-target="#{{ name }}_choices"
                                                aria-label='{{ name }} {% trans "choices" %}'
                                            ><i class="mdi mdi-help-circle"></i></a>
                                            <div class="modal fade" id="{{ name }}_choices" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">
                                                                <span class="font-monospace">{{ name }}</span>
                                                                {% trans "Choices" %}
                                                            </h5>
                                                            <button
                                                                type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"
                                                            >
                                                            </button>
                                                        </div>
                                                        <table class="table table-striped modal-body">
                                                            <thead>
                                                                <tr>
                                                                    <th>{% trans "Import Value" %}</th>
                                                                    <th>{% trans "Label" %}</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for value, label in field.choices %}
                                                                    {% if value %}
                                                                        <tr>
                                                                            <td><samp>{{ value }}</samp></td>
                                                                            <td>{{ label }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if field|widget_type == 'dateinput' %}
                                            <br><small class="text-muted">{% trans "Format: YYYY-MM-DD" %}</small>
                                        {% elif field|widget_type == 'checkboxinput' %}
                                            <br><small class="text-muted">{% trans "Specify true or false" %}</small>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p class="small text-muted">
            <i class="mdi mdi-check-bold text-success"></i>
            {% blocktrans trimmed %}
                Required fields <strong>must</strong> be specified for all objects.
            {% endblocktrans %}
        </p>
        <p class="small text-muted">
            <i class="mdi mdi-information-outline"></i>
            {% blocktrans trimmed with example="vrf.rd" %}
                Related objects may be referenced by any unique attribute. For example, <code>{{ example }}</code> would
                identify a VRF by its route distinguisher.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}
