{% extends base_template %}
{% load buttons %}
{% load i18n %}

{% comment %}
Blocks:
  - content:                   Primary page content
    - table_controls:          Control elements for the child objects table
    - bulk_controls:           Bulk action buttons which appear beneath the child objects table
      - bulk_extra_controls:   Other bulk action buttons
  - modals:                    Any pre-loaded modals

Context:
  - base_template:  The template which this template extends
  - object:         The parent object
  - child_model:    The model of child objects being displayed
  - table:          The table containing child objects
  - table_config:   The ID of the table configuration modal
  - actions:        A list of enabled bulk actions
  - tab:            The currently active tab
  - return_url:     The URL to which the user is redirected after performing a bulk action
{% endcomment %}

{% block content %}
    {% block table_controls %}
        <c-table.controls
            :table="table"
            :table_modal="table_config"
            :table_configs="table_configs"
            :filter_form="filter_form"
            only
        />
    {% endblock table_controls %}
    <form method="post">
        {% csrf_token %}
        <c-card.table.htmx :table="table" only />
        <div class="d-print-none mt-2">
            {% block bulk_controls %}
                {% if table.rows %}
                    {% action_buttons actions model multi=True return_url=request.path %}
                {% endif %}
                {% block bulk_extra_controls %}{% endblock %}
            {% endblock bulk_controls %}
        </div>
    </form>
{% endblock content %}

{% block modals %}
    {{ block.super }}
    {% table_config_form table %}
{% endblock modals %}
