{% extends 'django_tables2/bootstrap5.html' %}

{% load django_tables2 %}
{% load i18n %}

{% block table-wrapper %}
    {% block table %}
        <table {% render_attrs table.attrs class="table" %} hx-disinherit="hx-target hx-select" hx-swap="outerHTML">
            {% block table.thead %}
                {% if table.show_header %}
                    <thead
                        hx-target="closest .htmx-container"
                        {% if not table.embedded %}hx-push-url="true"{% endif %}
                        {{ table.attrs.thead.as_html }}
                    >
                        <tr>
                            {% for column in table.columns %}
                                <th {{ column.attrs.th.as_html }} scope="col">
                                    {% if column.orderable %}
                                        {% if column.is_ordered %}
                                            <div class="float-end">
                                                <a
                                                    href="#"
                                                    hx-get="{{ table.htmx_url }}{% querystring_replace table.prefixed_order_by_field='' %}"
                                                    class="text-danger"
                                                    title='{% trans "Clear ordering" %}'
                                                ><i class="fa-solid fa-xmark"></i></a>
                                            </div>
                                        {% endif %}
                                        <a
                                            href="#"
                                            hx-get="{% querystring_replace table.prefixed_order_by_field=column.order_by_alias.next %}"
                                        >{{ column.header }}</a>
                                    {% else %}
                                        {{ column.header }}
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                {{ block.super }}
            {% endblock table.tbody %}
            {% block table.tfoot %}
                {{ block.super }}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}
{% endblock table-wrapper %}
