{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Request New Allocation
{% endblock %}


{% block content %}
<h2>Request New Allocation <br><small>Project: {{ project.title }}</small></h2>
<hr>

<p class="text-justify">The following {% settings_value 'CENTER_NAME' %}
  resources are available to request for this project. If you need access to
  more than one of these, please submit a separate allocation request for each
  resource. For each request you must fill out all required the fields and  
  provide the justification for how you intend to use the resource to further 
  the research goals of your project.</p>

<form method="post">
  {% csrf_token %}
  {{form |crispy}}

  <div id="eula-div" style="display: none;">
    <textarea style="display:none;min-width:100%" id="eula"  rows="15"></textarea>
    <br>
    <p class="font-weight-bold">By clicking submit you agree to the Terms and Conditions.</p>
  </div>

  <input class="btn btn-primary" type="submit" value="Submit" />
  <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Back to Project</a><br>
</form>

<!-- Large modal -->
<div id="Modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Account Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="error_div"></div>
        *No spaces in account name
        <form id="allocation_account_form">
          {{AllocationAccountForm |crispy}}
          <button id="myFormSubmit" class="btn btn-primary" type="submit">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Send message</button>
  </div>
</div>

<script>
  var resources_form_default_quantities = {{ resources_form_default_quantities | safe }};
  var resources_form_label_texts = {{ resources_form_label_texts | safe }};
  var resources_with_accounts = {{ resources_with_accounts | safe }};
  var resources_with_eula = {{ resources_with_eula | safe }};
  var resources_form_leverage_multiple_gpus_label = {{ resources_form_leverage_multiple_gpus_label | safe }};
  var resources_form_leverage_multiple_gpus = {{ resources_form_leverage_multiple_gpus | safe }};
  var resources_form_dl_workflow_label = {{ resources_form_dl_workflow_label | safe }};
  var resources_form_dl_workflow = {{ resources_form_dl_workflow | safe }};
  var resources_form_applications_list_label = {{ resources_form_applications_list_label | safe }};
  var resources_form_applications_list = {{ resources_form_applications_list | safe }};
  var resources_form_training_or_inference_label = {{ resources_form_training_or_inference_label | safe }};
  var resources_form_training_or_inference = {{ resources_form_training_or_inference | safe }};
  var resources_form_for_coursework_label = {{ resources_form_for_coursework_label | safe }};
  var resources_form_for_coursework = {{ resources_form_for_coursework | safe }};
  var resources_form_system_label = {{ resources_form_system_label | safe }};
  var resources_form_system = {{ resources_form_system | safe }};
  var resources_form_end_date_label = {{ resources_form_end_date_label | safe }};
  var resources_form_end_date = {{ resources_form_end_date | safe }};
  var resources_form_phi_association_label = {{ resources_form_phi_association_label | safe }};
  var resources_form_phi_association = {{ resources_form_phi_association | safe }};
  var resources_form_access_level_label = {{ resources_form_access_level_label | safe }};
  var resources_form_access_level = {{ resources_form_access_level | safe }};
  var resources_form_confirm_understanding_label = {{ resources_form_confirm_understanding_label | safe }};
  var resources_form_confirm_understanding = {{ resources_form_confirm_understanding | safe }};

  $(document).ready(function () {
    $('<br><input id="selectAll" class="check" type="checkbox"> <strong>Select All Users</strong>').insertAfter($("#div_id_users > label"))
    $("#id_resource").trigger('change');

    $("#selectAll").click(function () {
      $("input[name^='users']").prop('checked', $(this).prop('checked'));
    });

    $("input[name^='users']").click(function (ele) {
      var id = $(this).attr('id');
      if (id != "selectAll") {
        $("#selectAll").prop('checked', false);
      }
    });
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  $('#modal_link').on("click", function () {
    $('#Modal').modal('show');
  });
  $(function () {
    $('#myFormSubmit').click(function (e) {
      e.preventDefault();
      $(function () {

        var new_account_name = $('#allocation_account_form').serializeArray()[0].value.trim();
        $('#id_allocation_account').prepend('<option value="' + new_account_name + '">' + new_account_name + '</option>');
        $('#id_allocation_account option[value=' + new_account_name + ']').prop('selected', true);
        $.ajax({
          headers: { 'X-CSRFToken': getCookie('csrftoken') },
          type: "POST",
          url: "/allocation/add-allocation-account/",
          data: {
            name: new_account_name,
          }, // data sent with the post request
          success: function (json) {
            console.log(json);
            $('#allocation_account_form')[0].reset();
            $('#Modal').modal('toggle');
            $('#error_div').html('<div></div>');
          },
          error: function (xhr, errmsg, err) {
            $('#error_div').html('<div class="alert alert-danger" role="alert">' + jQuery.parseJSON(xhr.responseText)["name"] + '</div>');
            console.log(xhr);
            console.log(errmsg);
            console.log(err);
          }
        });
      });
    });
  });

  $("#id_resource").change(function () {
    var resource_id = $("#id_resource option:selected").val();

    if (resource_id === '2') { // Carbonate DL
      $('#additional_info_1').remove();
      $('#div_id_justification').after(
        '<p id="additional_info_1">In order to gain access to the Carbonate Deep Learning Partition, you must first have \
        an account on Carbonate. To create an account, go to \
        <a href="https://access.iu.edu/Accounts/Create" target = "_blank">Create Additional Accounts.</a></p>'
      );
    } else {
      $('#additional_info_1').remove();
    }


    if (resource_id === '3') { // Carbonate GPU
      $('#additional_info_2').remove();
      $('#div_id_justification').after(
        '<p id="additional_info_2">In order to gain access to the Carbonate GPU Partition, you must first have \
        an account on Carbonate. To create an account, go to \
        <a href="https://access.iu.edu/Accounts/Create" target = "_blank">Create Additional Accounts.</a></p>'
      );
    } else {
      $('#additional_info_2').remove();
    }

    if (resource_id === '4') { // Carbonate PHI
      $('#additional_info_3').remove();
      $('#div_id_justification').after(
        '<p id="additional_info_3">A priority increase will prioritize your jobs ahead of the general workload. If you are \
        affiliated with a Grand Challenge, you will receive this boost indefinitely. Otherwise, we \
        can assist you in receiving a short-term priority boost up to your required deadline.</p>'
      );
    } else {
      $('#additional_info_3').remove();
    }

    if (resources_form_default_quantities[resource_id]) {
      var label = $('label[for="id_quantity"]');
      if (resources_form_label_texts[resource_id]) {
        label.html(resources_form_label_texts[resource_id])
      } else {
        label.html('<strong>Quantity*</strong>')
      }
      $('#id_quantity').val(resources_form_default_quantities[resource_id])
      $('#div_id_quantity').show();
    } else {
      $('#div_id_quantity').hide();
      $('#id_quantity').val(1)
    }
    
    if (resources_form_leverage_multiple_gpus_label[resource_id]) {
      var label = $('label[for="id_leverage_multiple_gpus_0"]');
      label.html(resources_form_leverage_multiple_gpus_label[resource_id]);
      // Do not reset the value if the user has already entered one (relevent if the form errors
      // after submission because not all the required values were given).
      if ($('input[type=radio][name=leverage_multiple_gpus]:checked').val() === undefined) {
        $('input[type=radio][name=leverage_multiple_gpus]').val([resources_form_leverage_multiple_gpus[resource_id]]);
      }
      $('#div_id_leverage_multiple_gpus').show();
    } else {
      $('#div_id_leverage_multiple_gpus').hide();
    }

    if (resources_form_dl_workflow_label[resource_id]) {
      var label = $('label[for="id_dl_workflow_0"]');
      label.html(resources_form_dl_workflow_label[resource_id]);
      if ($('input[type=radio][name=dl_workflow]:checked').val() === undefined) {
        $('input[type=radio][name=dl_workflow]').val([resources_form_dl_workflow[resource_id]]);
      }
      $('#div_id_dl_workflow').show();
    } else {
      $('#div_id_dl_workflow').hide();
    }

    if (resources_form_applications_list_label[resource_id]) {
      var label = $('label[for="id_applications_list"]');
      label.html(resources_form_applications_list_label[resource_id]);
      if ($('#id_applications_list').val().length < 1) {
        $('#id_applications_list').val(resources_form_applications_list[resource_id]);
      }
      $('#div_id_applications_list').show();
    } else {
      $('#div_id_applications_list').hide();
    }

    if (resources_form_training_or_inference_label[resource_id]) {
      var label = $('label[for="id_training_or_inference"]');
      label.html(resources_form_training_or_inference_label[resource_id]);
      if ($('#id_training_or_inference').val().length < 1) {
        $('#id_training_or_inference').val(resources_form_training_or_inference[resource_id]);
      }
      $('#div_id_training_or_inference').show();
    } else {
      $('#div_id_training_or_inference').hide();
    }

    if (resources_form_for_coursework_label[resource_id]) {
      var label = $('label[for="id_for_coursework_0"]');
      label.html(resources_form_for_coursework_label[resource_id]);
      if ($('input[type=radio][name=for_coursework]:checked').val() === undefined) {
        $('input[type=radio][name=for_coursework]').val([resources_form_for_coursework[resource_id]]);
      }
      $('#div_id_for_coursework').show();
    } else {
      $('#div_id_for_coursework').hide();
    }
    
    if (resources_form_system_label[resource_id]) {
      var label = $('label[for="id_system_0"]');
      label.html(resources_form_system_label[resource_id]);
      if ($('input[type=radio][name=system]:checked').val() === undefined){
        $('input[type=radio][name=system]').val([resources_form_system[resource_id]]);
      }
      $('#div_id_system').show();
    } else {
      $('#div_id_system').hide();
    }

    if (resources_form_end_date_label[resource_id]) {
      var label = $('label[for="id_end_date"]');
      label.html(resources_form_end_date_label[resource_id]);
      if ($('#id_end_date').val().length < 1){
        $('#id_end_date').val(resources_form_end_date[resource_id]);
      }
      $('#div_id_end_date').show();
    } else {
      $('#div_id_end_date').hide();
    }

    if (resources_form_phi_association_label[resource_id]) {
      var label = $('label[for="id_phi_association_0"]');
      label.html(resources_form_phi_association_label[resource_id]);
      if ($('input[type=radio][name=phi_association]:checked').val() === undefined){
        $('input[type=radio][name=phi_association]').val([resources_form_phi_association[resource_id]]);
      }
      $('#div_id_phi_association').show();
    } else {
      $('#div_id_phi_association').hide();
    }

    if (resources_form_access_level_label[resource_id]) {
      var label = $('label[for="id_access_level_0"]');
      label.html(resources_form_access_level_label[resource_id]);
      console.log('Access')
      console.log($('input[type=radio][name=access_level]:checked').val());
      if ($('input[type=radio][name=access_level]:checked').val() === undefined){
        $('input[type=radio][name=access_level]').val([resources_form_access_level[resource_id]]);
      }
      $('#div_id_access_level').show();
    } else {
      $('#div_id_access_level').hide();
    }
    
    if (resources_form_confirm_understanding_label[resource_id]) {
      // Changing the label also deletes the value so we need to save it beforehand.
      value = $('input[type=checkbox][name=confirm_understanding]:checked').val();

      var label = $('label[for="id_confirm_understanding"]')
      // Changing the label removes the <input> so we need to include that in our change.
      label.html(
        '<input id="id_confirm_understanding"\
          class="checkboxinput form-check-input"\
          type="checkbox" name="confirm_understanding"\
          >\n'
        + resources_form_confirm_understanding_label[resource_id]
      );
      if (value === undefined){
        $('input[type=checkbox][name=confirm_understanding]').val([resources_form_confirm_understanding[resource_id]]);
      } else {
        $('input[type=checkbox][name=confirm_understanding]').val([value]);
      }
      $('#div_id_confirm_understanding').show();
    } else {
      $('#div_id_confirm_understanding').hide();
    }
    
    if (resources_with_accounts.includes(parseInt(resource_id))) {
      $('#div_id_allocation_account').show();
    } else {
      $('#div_id_allocation_account').hide();
    }

    if (resources_with_eula[resource_id]) {
      $('#eula').text(resources_with_eula[resource_id])
      $('#eula-div').show();
      $('#eula').show();
    } else {
      $('#eula').hide();
      $('#eula-div').hide();
    }
  });
</script>
{% endblock %}
