{% extends "templates/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Subscription Review New Requests
{% endblock %}


{% block content %}


<h1>Email</h1>
<hr>

<div class="card mb-3">
  <div class="card-header">
  <h4><i class="fas fa-list"></i> Subscription Information</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table ">
        <tr>
          <th style="white-space:nowrap;">Project:</th>
          <td><a href="{% url 'project-detail' subscription.project.pk %}">{{ subscription.project }}</a></td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">PI:</th>
          <td>{{ subscription.project }}{{subscription.project.pi.first_name}} {{subscription.project.pi.last_name}} ({{subscription.project.pi.username}}</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Resource:</th>
          <td>{{ subscription.resources.first }}</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Justification:</th>
          <td>{{ subscription.justification }}</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Date Requested:</th>
          <td>{{ subscription.created }}</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Grants Last Updated:</th>
          <td>N/A</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Publications Last Updated:</th>
          <td>N/A</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>


 <form method="post">{% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-primary" type="submit" value="Email" />
    <a class="btn btn-secondary" href="{% url 'subscription-review-pending-requests' %}" role="button">Cancel</a><br>
</form>



<script>

</script>

{% endblock %}