WSGISocketPrefix /var/run/wsgi
LoadModule auth_basic_module modules/mod_auth_basic.so
LoadModule authz_user_module modules/mod_authz_user.so
LoadModule headers_module modules/mod_headers.so

WSGIPassAuthorization On

<VirtualHost 0.0.0.0:8000>

    ServerName {{ hostname }}
    ServerAlias {{ hostname }}

    Alias /static/ {{ git_prefix }}/{{ reponame }}/static_root/
    <Directory {{ git_prefix }}/{{ reponame }}/static_root/>
        Require all granted
    </Directory>

    WSGIDaemonProcess coldfront python-path={{ git_prefix }}/{{ reponame }} python-home={{ git_prefix }}/venv/ processes=2 threads=15 display-name=coldfront
    WSGIProcessGroup coldfront

    WSGIScriptAlias / {{ git_prefix }}/{{ reponame }}/(( djangoprojname }}/config/wsgi.py process-group=coldfront

    <Directory {{ git_prefix }}/{{ reponame }}/(( djangoprojname }}/config/>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    ErrorLog /var/log/httpd/cf_brc.error.log
    CustomLog /var/log/httpd/cf_brc.custom.log combined

</VirtualHost>
