{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}
{% load common_tags %} 


{% block title %}
Review Project
{% endblock %}



{% block content %}
<h3>Reviewing Project: {{project.title}}</h3> <hr>


<div class="card-body">
<p class="text-justify">{% settings_value 'EMAIL_CENTER_NAME' %} requires faculty to review their project information annually in order to renew their group’s accounts. The information provided by researchers is compiled and used to help make the case to the University for continued investment in {% settings_value 'EMAIL_CENTER_NAME' %}. Up-to-date and accurate information is crucial to our success. Please review and, if necessary, update your project description, publication and grant information. Please verify the user accounts in your group and remove any that should no longer have access to {% settings_value 'EMAIL_CENTER_NAME' %} resources. You can do so by clicking the “Back to Project” button at the bottom of the page. <a href="mailto:{% settings_value 'EMAIL_PROJECT_REVIEW_CONTACT' %}">Questions? Contact us</a>
 </p>

  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <tr>
        <th style="white-space:nowrap;">Grants Last Updated:</th>
        <td>{{project.latest_grant.created|date:"M-d-Y"|default:"No grants"}}</td>
      </tr>
      <tr>
        <th style="white-space:nowrap;">Publications Last Updated:</th>
        <td>{{project.latest_publication.created|date:"M-d-Y"|default:"No publications"}}</td>
      </tr>
      <tr>
        <th style="white-space:nowrap;">Users in project:</th>
        <td>{{project_users}}</td>
      </tr>
    </table>
  </div>
</div>


<form method="post">
    {% csrf_token %}
    {{project_review_form|crispy}}
    <input class="btn btn-primary" type="submit" value="Submit" />
    <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Back to Project</a><br>
</form>







{% endblock %}



