*.py[cod]
*.swp
coldfront.egg-info
dist
build
*._*
*.DS_Store
*.swp
env/
venv/
static_root/
db.sqlite3
local_data/
site/
local_settings.py
local_strings.py
coldfront.db
*.code-workspace
.vscode
db.json
.env
.devcontainer/*
.bin/*
