*.py[cod]
*.swp
coldfront.egg-info
dist
build
*._*
*.DS_Store
*.swp
env/
venv/
static_root/
db.sqlite3
local_data/
site/
local_settings.py
local_strings.py
coldfront.db
*.code-workspace
.vscode
db.json
.env
.devcontainer/*
.bin/*
coldfront/core/allocation/migrations/0006_auto_20230607_1719.py
coldfront/core/allocation/migrations/0006_auto_20230627_1223.py
coldfront/core/grant/migrations/0003_auto_20230627_1223.py
coldfront/core/project/migrations/0005_auto_20230627_1223.py
coldfront/core/publication/migrations/0005_auto_20230627_1223.py
coldfront/core/research_output/migrations/0002_auto_20230627_1223.py
coldfront/core/resource/migrations/0003_auto_20230627_1223.py
weeklyreportapp/__init__.py
weeklyreportapp/admin.py
weeklyreportapp/apps.py
weeklyreportapp/models.py
weeklyreportapp/README.md
weeklyreportapp/tests.py
weeklyreportapp/urls.py
weeklyreportapp/views.py
coldfront/config/urls.py
coldfront/config/plugins/weeklyreportapp.py
coldfront/plugins/weeklyreportapp/__init__.py
coldfront/plugins/weeklyreportapp/admin.py
coldfront/plugins/weeklyreportapp/apps.py
coldfront/plugins/weeklyreportapp/models.py
coldfront/plugins/weeklyreportapp/README.md
coldfront/plugins/weeklyreportapp/tests.py
coldfront/plugins/weeklyreportapp/urls.py
coldfront/plugins/weeklyreportapp/views.py
coldfront/plugins/weeklyreportapp/templates/index.html
coldfront/templates/common/authorized_navbar.html
coldfront/config/urls.py
coldfront/templates/common/authorized_navbar.html
coldfront/config/urls.py
coldfront/templates/common/authorized_navbar.html
coldfront/config/urls.py
coldfront/templates/common/authorized_navbar.html
