recursive-include coldfront/core/field_of_science/management/commands/data *
recursive-include coldfront/plugins/iquota/templates *
recursive-include coldfront/plugins/system_monitor/templates *
recursive-include coldfront/plugins/academic_analytics/templates *
recursive-include coldfront/templates *
recursive-include coldfront/static *
recursive-include coldfront/core/portal/templates *
recursive-include coldfront/core/allocation/templates *
recursive-include coldfront/core/project/templates *
recursive-include coldfront/core/research_output/templates *
recursive-include coldfront/core/publication/templates *
recursive-include coldfront/core/grant/templates *
recursive-include coldfront/core/user/templates *
recursive-include coldfront/core/resource/templates *
recursive-include coldfront/plugins/maintenance_mode/templates *
recursive-include coldfront/plugins/advanced_search/templates *
recursive-include coldfront/plugins/customizable_forms/templates *
recursive-include coldfront/plugins/ldap_user_info/templates *
recursive-include coldfront/plugins/pi_search/templates *
recursive-include coldfront/plugins/allocation_removal_requests/templates *
recursive-include coldfront/plugins/announcements/templates *
recursive-include coldfront/plugins/movable_allocations/templates *
