arrow==0.13.1
beautifulsoup4==4.10.0
bibtexparser==1.1.0
blessed==1.15.0
chardet==3.0.4
Django==3.2.5
django-crispy-forms==1.11.1
django-durationwidget==1.0.5
django-filter==2.3.0
django-flags==5.0.8
django-formtools==2.2
django-model-utils==4.1.1
django-phonenumber-field==5.1.0
django-picklefield==2.0
django-q==1.0.1
django-settings-export==1.2.1
django-simple-history==2.12.0
django-sslserver==0.20
django-su==0.8.0
djangorestframework==3.11.1
doi2bib==0.3.0
drf-nested-routers==0.91
drf-yasg==1.17.1
factory-boy==2.12.0
Faker==3.0.0
future==0.17.1
gspread==3.6.0
humanize==0.5.1
idna==2.8
iso8601==0.1.16
mod-wsgi==4.6.7
oauth2client==4.1.3
openpyxl==3.0.9
pandas==1.1.5
phonenumbers==8.12.23
psycopg2-binary==2.8.3
pyparsing==2.4.7
python-dateutil==2.8.0
python-memcached==1.59
pytz==2018.9
redis==3.2.1
requests==2.22.0
sentry-sdk==1.5.6
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.3
tqdm==4.62.3
urllib3==1.24.2
wcwidth==0.1.7
