beautifulsoup4
Django
django_auth_ldap
django-crispy-forms
django-extensions
django-formtools
django-hijack
django-hijack-admin
django-model-utils
django-python3-ldap
django-q
django-sslserver
humanize
isort
kerberos
mysqlclient
python-dateutil
requests
redis
social-auth-app-django
social-auth-core[openidconnect]