arrow==0.12.1
beautifulsoup4==4.6.3
bibtexparser==1.0.1
blessed==1.15.0
certifi==2018.8.24
chardet==3.0.4
Django==2.1.2
django-compat==1.0.15
django-crispy-forms==1.7.2
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-model-utils==3.1.2
django-picklefield==1.1.0
django-q==1.0.1
django-simple-history==2.4.0
django-sslserver==0.20
doi2bib==0.3.0
future==0.16.0
humanize==0.5.1
idna==2.7
pyparsing==2.2.2
python-dateutil==2.7.3
python-memcached==1.59
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
urllib3==1.23
wcwidth==0.1.7
