beautifulsoup4
bibtexparser
Django
django-admin-comments
django_auth_ldap
django-crispy-forms
django-extensions
django-formtools
django-hijack
django-hijack-admin
django-model-utils
django-python3-ldap
django-q
django-simple-history
django-sslserver
doi2bib
humanize
isort
ipython
kerberos
mysqlclient
python-dateutil
python-memcached
requests
redis
social-auth-app-django
social-auth-core[openidconnect]