{% extends "common/base.html" %}
{% load static %}


{% block title %}
Third-Party Accounts
{% endblock %}

{% block content %}

<h1>Third-Party Accounts</h1>
<hr>

{% if form.accounts %}
  <p>
    You can sign in to your account using any of the following third-party
	  accounts. You must have at least one third-party account.
  </p>

  <form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}

    <fieldset>
      {% if form.non_field_errors %}
        <div id="errorMsg">{{ form.non_field_errors }}</div>
      {% endif %}

      {% for base_account in form.accounts %}
        {% with account=base_account.get_provider_account %}
          <div>
            <label for="id_account_{{ base_account.id }}">
		      <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
              <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}} ({{ account.account.extra_data.idp_name }})</span> |
              {{ account.account.extra_data.email }} |
              {{ account }}
            </label>
          </div>
        {% endwith %}
      {% endfor %}
      <br>

      <div>
        <button type="submit" class="btn btn-danger" {% if form.accounts|length == 1 %}disabled{% endif %}>Remove</button>
      </div>
    </fieldset>
  </form>

{% else %}
  <p>
	You currently have no third-party accounts connected to this account.
  </p>
{% endif %}

<hr>

<h3>Add an Account</h3>

<ul class="socialaccount_providers">
  {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
