{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Import User Publications from ORCID
{% endblock %}


{% block content %}
<h2>Import User Publications from ORCID for project: {{project.title}}</h2>
<hr>

<form action="{% url 'user-orcid-import' project.pk %}" method="post" id="post-form">
  {% csrf_token %}
  {{ form|crispy }}
  <button id="search-button" type="submit" class="btn btn-success"><i class="fas fa-search" aria-hidden="true"></i> Search</button>
  <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to project</a>
</form>


{% endblock %}
