{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load feature_flags %}


{% block title %}
Project Request
{% endblock %}


{% block content %}

<h1>Create a Project</h1>
<hr>

<div class="row">
  <div class="col-lg-12 mt-2">
    <p>Request to create a new project (Slurm account) on one of the clusters below. You may also request to <a href="{% url 'project-join-list' %}">join</a> an existing project.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 mt-2">
    {% flag_enabled 'BRC_ONLY' as brc_only %}
    {% if brc_only %}
    <a class="btn btn-primary" href="{% url 'project-request-landing' %}" role="button">
      Savio
    </a>
    <a class="btn btn-primary" href="{% url 'project-request-vector-landing' %}" role="button">
      Vector
    </a>
    {% endif %}
    {% flag_enabled 'LRC_ONLY' as lrc_only %}
    {% if lrc_only %}
    <a class="btn btn-primary" href="{% url 'project-request-landing' %}" role="button">
      Lawrencium
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
