{% load i18n %}

{% cotton:vars :request="request" %}
{% cotton:vars table table_modal table_configs %}

<div class="row mb-3" id="results">
    <div class="col-auto d-print-none">
        <div class="input-group input-group-flat me-2 quicksearch" hx-disinherit="hx-select hx-swap">
            <input
                type="search"
                results="5"
                name="q"
                id="quicksearch"
                class="form-control"
                placeholder='{% trans "Quick search" %}'
                hx-get="{{ request.full_path }}"
                hx-target="#object_list"
                hx-trigger="keyup changed delay:500ms, search"
            >
            <span class="input-group-text py-1">
                <a href="#" id="quicksearch_clear" class="invisible text-secondary"><i
                        class="fa-solid fa-circle-xmark"
                    ></i></a>
            </span>
            {{ extra_table_controls }}
        </div>
    </div>

    {% if filter_form %}
        <div class="col-auto d-print-none">
            <div class="input-group">
                <label for="{{ filter_form.filter_id.id_for_label }}" class="input-group-text">
                    <i class="fa-solid fa-filter" title='{% trans "Saved filter" %}' aria-hidden="true"></i>
                    <span class="visually-hidden">{% trans "Saved filter" %}</span>
                </label>
                {{ filter_form.filter_id }}
            </div>
        </div>
    {% endif %}

    <div class="col-auto ms-auto d-print-none">
        {% if request.user.is_authenticated and table_modal %}
            <div class="table-configure btn-group">
                <button
                    type="button"
                    data-bs-toggle="modal"
                    title='{% trans "Configure Table" %}'
                    data-bs-target="#{{ table_modal }}"
                    class="btn btn-outline-secondary"
                >
                    <i class="fa-solid fa-gear"></i> {% trans "Configure Table" %}
                </button>
                {% if table.config_params or table_configs %}
                    <button
                        type="button"
                        class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <span class="visually-hidden">{% trans "Toggle Dropdown" %}</span>
                    </button>
                    <div class="dropdown-menu">
                        {% if table.config_params %}
                            <a
                                class="dropdown-item"
                                href="{% url 'core:tableconfig_add' %}?{{ table.config_params }}&return_url={{ request.path }}"
                                id="table_save_link"
                            >{% trans "Save" %}</a>
                        {% endif %}
                        {% if table.config_params and table_configs %}
                            <hr class="dropdown-divider">
                        {% endif %}
                        {% if table_configs %}
                            {% for config in table_configs %}
                                <a class="dropdown-item" href="?tableconfig_id={{ config.pk }}">{{ config }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
