{# Render an HTMX-enabled table with paginator #}
{% load render_table from django_tables2 %}
{% load i18n %}

{% cotton:vars :request="request" %}
{% cotton:vars :perms="perms" %}
{% cotton:vars id="object_list" %}
{% cotton:vars show_paginator=True %}
{% cotton:vars table %}

{% if table.rows %}
    <div class="htmx-container table-responsive" id="{{ id }}">
        {% render_table table 'generic/table_htmx.html' %}
        {% if show_paginator %}
            <c-table.paginator htmx=True :table="table" :paginator="table.paginator" :page="table.page" only />
        {% endif %}
    </div>
{% else %}
    <div class="htmx-container card-body text-muted">
        {% if table.empty_text %}{{ table.empty_text }}{% else %}{% trans "None" %}{% endif %}
    </div>
{% endif %}

{% if request.htmx %}
    {# Include the updated object count for display elsewhere on the page #}
    {% if not table.embedded %}
        <div hx-swap-oob="innerHTML:.total-object-count">{{ table.rows|length }}</div>
    {% endif %}
{% endif %}
