{% extends 'ras/allocation/base.html' %}
{% load buttons %}
{% load i18n %}

{% block control-buttons %}
    {% if slurm_association %}
        {% action_buttons actions slurm_association return_url=return_url %}
    {% endif %}
{% endblock control-buttons %}

{% block content %}
    {% if slurm_association %}
        <c-layout.panels>
            <c-slot name="left">
                <c-card.fields header="{% trans 'Slurm Association' %}" only>
                    <c-card.fields.item label="{% trans 'Allocation' %}">
                        {{ slurm_association.allocation|linkify }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Resource' %}">
                        {{ slurm_association.allocation.resource_object|linkify }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Slurm Account' %}">
                        {{ slurm_association.slurm_account|linkify }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Parent' %}">
                        {{ slurm_association.parent|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Default QOS' %}">
                        {{ slurm_association.default_qos|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Fairshare' %}">
                        {{ slurm_association.fairshare }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Max Jobs' %}">
                        {{ slurm_association.max_jobs|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Max Submit Jobs' %}">
                        {{ slurm_association.max_submit_jobs|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Max TRES per Job' %}">
                        {{ slurm_association.max_tres_per_job|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Max TRES Minutes per Job' %}">
                        {{ slurm_association.max_tres_mins_per_job|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'Max Wall Duration per Job' %}">
                        {{ slurm_association.max_wall_duration_per_job|placeholder }}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'QOS Add' %}">
                        {% for qos in slurm_association.qos_add.all %}
                            <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                        {% empty %}
                            {{ ""|placeholder }}
                        {% endfor %}
                    </c-card.fields.item>

                    <c-card.fields.item label="{% trans 'QOS Remove' %}">
                        {% for qos in slurm_association.qos_remove.all %}
                            <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                        {% empty %}
                            {{ ""|placeholder }}
                        {% endfor %}
                    </c-card.fields.item>
                </c-card.fields>

                <c-card.tags :object="slurm_association" only />
            </c-slot>

            <c-slot name="right">
                <c-card.custom_fields :object="slurm_association" only />
            </c-slot>
        </c-layout.panels>
    {% else %}
        <c-card.alert header="{% trans 'No Slurm Association' %}">
            {% trans 'This allocation does not have an associated Slurm association.' %}
        </c-card.alert>
    {% endif %}
{% endblock %}
