{% extends "account/base.html" %}


{% block title %}
Verify Your Email Address
{% endblock %}

{% block content %}
<h1>Verify Your Email Address</h1>
<hr>

<div class="alert alert-success" role="alert">
  We have sent an email to you for verification. Follow the link provided to
  finalize the signup process. If you do not see the verification email in
  your main inbox, check your spam folder. Please contact us if you do not
  receive the verification email within a few minutes.
</div>

{% endblock %}
