.fakeimg {
  height: 77px;
  background: #E2E2E2;
}

/*.navbar-custom {
  background-color: #FFFFFF;
  font-weight: bold;
  height: 50px;
}

.navbar-custom > .navbar-nav > .active {
  background: #E2E2E2;
}

*/



html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #4582EC;
}

.banner-logo {
    margin-top: 5px;
    max-height: 58px !important;
    margin-bottom: 5px;
}
