.fakeimg {
  height: 77px;
  background: #E2E2E2;
}

/*.navbar-custom {
  background-color: #FFFFFF;
  font-weight: bold;
  height: 50px;
}

.navbar-custom > .navbar-nav > .active {
  background: #E2E2E2;
}

*/