{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Allocation Detail
{% endblock %}


{% block content %}

{% if allocation.project.status.name == 'Archived' %}
<div class="alert alert-warning" role="alert">
  This is a allocation from an archived project! You cannot make any changes.
</div>
{% endif %}

<div class="mb-3">
  <h1>Allocation Detail</h1>
  <hr>
</div>

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {{ form.non_field_errors }}
</div>
{% endif %}




<div class="card mb-3">
  <div class="card-header">
    <h4><i class="fas fa-list"></i> Allocation Information</h4>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <tr>
            <th style="white-space:nowrap;">Project:</th>
            <td><a href="{% url 'project-detail' allocation.project.pk %}">{{ allocation.project }}</a></td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">Resource{{ allocation.resources.all|pluralize }} in allocation:</th>
            <td>{{ allocation.get_resources_as_string }}</td>
          </tr>
          {% if request.user.is_superuser %}
          <tr>
            <th style="white-space:nowrap;">Quantity:</th>
            <td>{{ allocation.quantity }}</td>
          </tr>
          {% endif %}
          <tr>
            <th style="white-space:nowrap;">Justification:</th>
            <td>{{ allocation.justification }}</td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">Status:</th>
            <td>
              {% if request.user.is_superuser %}
              {{ form.status }}
              {% else %}
              {{ allocation.status }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">Start Date:</th>
            <td>
              {% if request.user.is_superuser %}
              {{ form.start_date }}
              {% else %}
              {{ allocation.start_date }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">End Date:</th>
            <td>
              {% if request.user.is_superuser %}
              {{ form.end_date }}
              {% else %}
              {{ allocation.end_date }}
              {% endif %}

              {% if is_allowed_to_update_project and ALLOCATION_ENABLE_ALLOCATION_RENEWAL and allocation.status.name == 'Active' and allocation.expires_in <= 60 and allocation.expires_in >= 0 %}
              <a href="{% url 'allocation-renew' allocation.pk %}">
                <span class="badge badge-warning">
                  <i class="fas fa-redo-alt"></i>
                  Expires in {{allocation.expires_in}} day{{allocation.expires_in|pluralize}} - click to renew
                </span>
              </a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">Description:</th>
            <td>
              {% if request.user.is_superuser %}
              {{ form.description }}
              {% else %}
              {{ allocation.description }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">Created:</th>
            <td>{{ allocation.created|date:"M. d, Y" }}</td>
          </tr>
          <tr>
            <th style="white-space:nowrap;">Last Modified:</th>
            <td>{{ allocation.modified|date:"M. d, Y" }}</td>
          </tr>
        </table>
      </div>
      {% if request.user.is_superuser %}
      <button type="submit" class="btn btn-success float-right"><i class="fas fa-sync"></i> Update</button>
      {% endif %}
    </form>

  </div>
</div>

{% if attributes or attributes_with_usage or request.user.is_superuser %}
<div class="card mb-3">
  <div class="card-header">
    <h4 class="d-inline"><i class="fas fa-info-circle"></i> Allocation Attributes</h4>
    <div class="float-right">
      {% if request.user.is_superuser %}
      <a class="btn btn-success" href="{% url 'allocation-attribute-add' allocation.pk %}" role="button"><i
          class="fas fa-plus"></i> Add Allocation Attribute</a>
      <a class="btn btn-danger" href="{% url 'allocation-attribute-delete' allocation.pk %}" role="button"><i
          class="fas fa-minus"></i> Delete Allocation Attributes</a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {% if attributes %}
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for attribute in attributes %}
          {% if attribute.allocation_attribute_type.is_private %}
          <tr style="background-color:#eee">
            <td> <i class="fas fa-lock"></i> {{attribute}}</td>
            <td>{{attribute.value}}</td>
          </tr>
          {% else %}
          <tr>
            <td>{{attribute}}</td>
            <td>{{attribute.value}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if attributes_with_usage %}
    <hr>
    {% for attribute in attributes_with_usage %}
    <div class="card mb-3 mr-1">
      <div class="card-body">
        <h4 class="card-title">{{attribute}}</h4>
        <div id="gauge-{{forloop.counter0}}"></div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}


<!-- Start Allocation Users -->
<div class="card mb-3">
  <div class="card-header">
    <h4 class="d-inline"><i class="fas fa-users"></i> Users in Allocation </h4> <span
      class="badge badge-secondary">{{allocation_users.count}}</span>
    <div class="float-right">
      {% if allocation.project.status.name != 'Archived' and is_allowed_to_update_project and allocation.status.name in 'Active,New,Renewal Requested' %}
      <a class="btn btn-success" href="{% url 'allocation-add-users' allocation.pk %}" role="button"><i
          class="fas fa-user-plus"></i> Add Users</a>
      <a class="btn btn-danger" href="{% url 'allocation-remove-users' allocation.pk %}" role="button"><i
          class="fas fa-user-times"></i></i> Remove Users</a>
      {% endif %}
    </div>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody>
          {% for user in allocation_users %}
          <tr>
            <td>{{ user.user.username }}</td>
            <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
            <td>{{ user.user.email }}</td>
            {% if user.status.name == 'Active' %}
            <td class="text-success">{{ user.status.name }}</td>
            {% elif user.status.name == 'Denied' or user.status.name == 'Error' %}
            <td class="text-danger">{{ user.status.name }}</td>
            {% else %}
            <td class="text-info">{{ user.status.name }}</td>
            {% endif %}
            <td>{{ user.modified|date:"M. d, Y" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- Start Admin Messages -->
<div class="card mb-3">
  <div class="card-header">
    <h4 class="d-inline"><i class="fas fa-users"></i> Messages from System Administrators </h4> <span
      class="badge badge-secondary">{{messages.count}}</span>
  </div>
  <div class="card-body">
    {% if messages %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Comment</th>
            <th>Administrator</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody>
          {% for message in messages %}
          {% if not message.is_private or request.user.is_superuser %}
          <tr>
            <td>{{ message.message }}</td>
            <td>{{ message.author.first_name }} {{ message.author.last_name }}</td>
            <td>{{ message.modified }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> There are no messages from system
      administrators.</div>
    {% endif %}

  </div>
</div>


<script>

  $(document).ready(function () {
    var guage_data = {{ guage_data | safe
  }};
  drawGauges(guage_data);
  });

  function drawGauges(guage_data) {
    var arrayLength = guage_data.length;
    for (var i = 0; i < arrayLength; i++) {
      c3.generate({
        bindto: '#gauge-' + i,
        data: guage_data[i],
        legend: {
          item: {
            onclick: function (id) { }
          }
        }
      });

    }
  }
  $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
</script>

{% endblock %}
