{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Cluster Account Review New and Pending Requests
{% endblock %}


{% block content %}
<h1>Cluster Access Requests</h1>

<div class="table-responsive">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
          {% if request_filter == 'completed' %}
            Viewing completed requests for cluster access. You may also view
            pending requests
            <a href="{% url 'allocation-cluster-account-request-list' %}?show_all_requests=on">
              <span class="accessibility-link-text">
                Pending Requests
              </span>
              here</a>.
          {% else %}
            Viewing pending requests for cluster access. You may also view
            completed requests
            <a href="{% url 'allocation-cluster-account-request-list-completed' %}?show_all_requests=on">
              <span class="accessibility-link-text">
                Completed Requests
              </span>
              here</a>.
          {% endif %}
        </td>
        <td>
        </td>
      </tr>
        <tr>
            <td>
              Cluster access requests are created when project join requests are approved by a PI.
            </td>
            <td>
            </td>
        </tr>
    </tbody>
  </table>
</div>

{% if expand_accordion == "show" %}
  <div class="mb-3" id="accordion">
    <div class="card">
      <div class="card-header">
        <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne">
          <i class="fas fa-filter" aria-hidden="true"></i> Search
          <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse {{expand_accordion}}" data-parent="#accordion">
        <div class="card-body">
          {% if request_filter == 'completed' %}
            <form id="filter_form" method="GET" action="{% url 'allocation-cluster-account-request-list-completed' %}" autocomplete="off">
              {{ cluster_search_form|crispy }}
              <input type="submit" class="btn btn-primary" value="Search">
              <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
            </form>
          {% else %}
            <form id="filter_form" method="GET" action="{% url 'allocation-cluster-account-request-list' %}" autocomplete="off">
              {{ cluster_search_form|crispy }}
              <input type="submit" class="btn btn-primary" value="Search">
              <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}

{% if cluster_account_list %}
<div class="table-responsive">
  {% with queryset=cluster_account_list actions_visible=actions_visible %}
    {% include 'allocation/allocation_cluster_account_request_list_table.html' %}
  {% endwith %}
  {% if is_paginated %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    <ul class="pagination float-right mr-3">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{filter_parameters_with_order_by}}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{filter_parameters_with_order_by}}">Next</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
  {% endif %}
</div>
{% else %}
<div class="alert alert-info">
  No new or pending cluster access requests!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-allocation-cluster-account-requests").addClass("active");
</script>

<script>
  $(document).on('click', '#form_reset_button', function() {
    resetForm($('#filter_form'));
  });

  function resetForm($form) {
    $form.find('input:text, textarea').val('');
    $("select").val('');
  };

  $("#expand_button").click(function() {

    $('#collapseOne').collapse();
    icon = $("#plus_minus");
    icon.toggleClass("fa-plus fa-minus");

  });
</script>

{% endblock %}
