{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Allocation List
{% endblock %}


{% block content %}
<h2>Allocations</h2>
<hr>

{% if expand_accordion == "show" or allocation_list %}
  <div class="mb-3" id="accordion">
    <div class="card">
      <div class="card-header">
        <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne">
          <i class="fas fa-filter" aria-hidden="true"></i> Filter
          <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse {{expand_accordion}}" data-parent="#accordion">
        <div class="card-body">
          <form id="filter_form" method="GET" action="{% url 'allocation-list' %}" autocomplete="off">
            {{ allocation_search_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Search">
            <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}

{% if allocation_list %}
  <strong>Allocation{{allocations_count|pluralize}}: {{allocations_count}}</strong>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="text-nowrap">
            ID
            <a href="?order_by=id&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort ID asc</span></a>
            <a href="?order_by=id&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort ID desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            Project
          </th>
          <th scope="col" class="text-nowrap">
            PI
            <a href="?order_by=project__pi__username&direction=asc&{{filter_parameters}}"><i
                class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort PI asc</span></a>
            <a href="?order_by=project__pi__username&direction=des&{{filter_parameters}}"><i
                class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort PI desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            Resource Name
            <a href="?order_by=resources&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Resource Name asc</span></a>
            <a href="?order_by=resources&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Resource Name desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            Status
            <a href="?order_by=status__name&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Status asc</span></a>
            <a href="?order_by=status__name&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Status desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            End Date
            <a href="?order_by=end_date&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort End Date asc</span></a>
            <a href="?order_by=end_date&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort End Date desc</span></a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for allocation in allocation_list %}
          <tr>
            <td><a href="/allocation/{{allocation.id}}/">{{ allocation.id }}</a></td>
            <td class="text-nowrap"><a 
                href="/project/{{allocation.project.id}}/">{{ allocation.project.title|truncatechars:50 }}</a></td>
            <td class="text-nowrap">{{allocation.project.pi.first_name}} {{allocation.project.pi.last_name}}
              ({{allocation.project.pi.username}})</td>
            <td class="text-nowrap">{{ allocation.get_parent_resource }}</td>
            <td class="text-nowrap">{{ allocation.status.name }}</td>
            <td class="text-nowrap">{{ allocation.end_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      <ul class="pagination float-right mr-3">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{filter_parameters_with_order_by}}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{filter_parameters_with_order_by}}">Next</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% elif expand_accordion == "show"%}
  <div class="alert alert-secondary">
    No search results!
  </div>
{% else %}
  <div class="alert alert-secondary">
    No allocations to display!
  </div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");
  $("#navbar-allocation").addClass("active");

  $(document).on('click', '#form_reset_button', function () {
    resetForm($('#filter_form'));
  });

  $(".datepicker").flatpickr();

  function resetForm($form) {
    $form.find('input:text, input:password, input:file, select, textarea').val('');
    $form.find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
  };

  $("#expand_button").click(function () {
    $('#collapseOne').collapse();
    icon = $("#plus_minus");
    icon.toggleClass("fa-plus fa-minus");
  });
</script>
{% endblock %}
