{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Allocation Invoice Detail
{% endblock %}


{% block content %}
{% if allocation.project.status.name == 'Archived' %}
  <div class="alert alert-warning" role="alert">
    This is a allocation from an archived project! You cannot make any changes.
  </div>
{% endif %}

<div class="mb-3">
  <h2>Allocation Invoice</h2>
  <hr>
</div>

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
  </div>
{% endif %}

<div class="card mb-3">
  <div class="card-header">
    <h3><i class="fas fa-list" aria-hidden="true"></i> Allocation Information</h3>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <tr>
            <th scope="row" class="text-nowrap">Project:</th>
            <td>
              {% if request.user.is_superuser %}
                <a href="{% url 'project-detail' allocation.project.pk %}">{{ allocation.project }}</a>
              {% else %}
                {{ allocation.project }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Principal Investigator:</th>
            <td>
              {{ allocation.project.pi.first_name }} {{ allocation.project.pi.last_name }}
              ({{ allocation.project.pi.email }})
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Resource{{ allocation.resources.all|pluralize }} in allocation:</th>
            <td>{{ allocation.get_resources_as_string }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Quantity:</th>
            <td>
              {{ allocation.quantity }}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Justification:</th>
            <td>{{ allocation.justification }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Status:</th>
            <td>
              {{ form.status }}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Created:</th>
            <td>{{ allocation.created }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Last Modified:</th>
            <td>{{ allocation.modified }}</td>
          </tr>
        </table>
      </div>
      {% if request.user.is_superuser or perms.allocation.can_manage_invoice%}
        <button type="submit" class="btn btn-success float-right"><i class="fas fa-sync" aria-hidden="true"></i> Update</button>
      {% endif %}
    </form>
  </div>
</div>

<!-- Start Admin Messages -->
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-users" aria-hidden="true"></i> Notes from Staff</h3>
    <span class="badge badge-secondary">{{allocation.allocationusernote_set.count}}</span>
    <div class="float-right">
      <a class="btn btn-success" href="{% url 'allocation-add-invoice-note' allocation.pk %}" role="button">
        <i class="fas fa-plus" aria-hidden="true"></i> Add Note
      </a>
      <a class="btn btn-danger" href="{% url 'allocation-delete-invoice-note' allocation.pk %}" role="button">
        <i class="fas fa-minus" aria-hidden="true"></i> Delete Notes
      </a>
    </div>
  </div>
  <div class="card-body">
    {% if allocation.allocationusernote_set.all %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Comment</th>
              <th scope="col">Author</th>
              <th scope="col">Last Modified</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for note in allocation.allocationusernote_set.all %}
              <tr>
                <td>{{ note.note }}</td>
                <td>{{ note.author.first_name }} {{ note.author.last_name }} ({{ note.author.username }})</td>
                <td>{{ note.modified }}</td>
                <td><a href="{% url 'allocation-update-invoice-note' note.pk %}"><i class="fas fa-edit" aria-hidden="true"></i><span class="sr-only">Edit</span></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> There are no messages from system administrators.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

