{% load feature_flags %}
<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">
      #
      <a href="?order_by=id&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up"></i></a>
      <a href="?order_by=id&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down"></i></a>
    </th>
    <th scope="col">
      {% if request_filter == 'completed' %}
        Completion Time
      {% else %}
        Request Time
      {% endif %}
      <a href="?order_by=created&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up"></i></a>
      <a href="?order_by=created&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down"></i></a>
    </th>
    <th scope="col">
      User Email
      <a href="?order_by=allocation_user__user__email&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up"></i></a>
      <a href="?order_by=allocation_user__user__email&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down"></i></a>
    </th>
    <th scope="col">
      Cluster Username
      <a href="?order_by=allocation_user__user__username&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up"></i></a>
      <a href="?order_by=allocation_user__user__username&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down"></i></a>
    </th>
    <th scope="col">
      Project
      <a href="?order_by=allocation__project__name&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up"></i></a>
      <a href="?order_by=allocation__project__name=des&{{filter_parameters}}"><i class="fas fa-sort-down"></i></a>
    </th>
    <th scope="col">
      Allocation
    </th>
    {% flag_enabled 'LRC_ONLY' as lrc_only%}
    {% if lrc_only %}
      <th scope="col">
        Host User
      </th>
    {% endif %}
    <th scope="col">
      Status
    </th>
    {% if user.is_superuser and actions_visible %}
      <th scope="col">
        Allocation Actions
      </th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for request in queryset %}
    <tr>
      <td>{{ request.pk }}</td>
      {% if request_filter == 'completed' %}
        <td>{{ request.completion_time|date:"M. d, Y" }}</td>
      {% else %}
        <td>{{ request.request_time|date:"M. d, Y" }}</td>
      {% endif %}
      <td>{{ request.allocation_user.user.email }}</td>
      <td>
        {% if request.allocation_user.user.userprofile.cluster_uid %}
          {{ request.allocation_user.user.username }}
        {% else %}
          <span class="badge badge-danger">
              No cluster account.
            </span>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'project-detail' request.allocation_user.allocation.project.pk %}">
          {{ request.allocation_user.allocation.project.name }}
        </a>
      </td>
      <td>
        <a href="{% url 'allocation-detail' request.allocation_user.allocation.pk %}">
          <span class="accessibility-link-text">Allocation {{ request.allocation_user.allocation.pk }}</span>
          {{ request.allocation_user.allocation.pk }}
        </a>
      </td>
      {% if lrc_only %}
        <td>
          {% if request.allocation_user.userprofile.host_user %}
            {{ request.allocation_user.userprofile.host_user }}
          {% else %}
            N/A
          {% endif %}
        </td>
      {% endif %}
      <td>
        {% with status=request.status.name %}
          {% if status == "Pending - Add" %}
            <span class="badge badge-warning">Pending</span>
          {% elif status == "Processing" %}
            <span class="badge badge-warning">{{ status }}</span>
          {% elif status == "Active" %}
            <span class="badge badge-success">{{ status }}</span>
          {% elif status == "Denied" %}
            <span class="badge badge-danger">{{ status }}</span>
          {% endif %}
        {% endwith %}
      </td>
      {% if user.is_superuser and actions_visible %}
        <td class="text-nowrap">
          {% if request.status.name == "Pending - Add" %}
            <a href="{% url 'allocation-cluster-account-update-status' request.pk %}" class="btn btn-success mr-1">
              Activate
            </a>
          {% else %}
            <a href="{% url 'allocation-cluster-account-activate-request' request.pk %}" class="btn btn-success mr-1">
              Activate
            </a>
          {% endif %}
          <div class="modal fade" id="denial{{ request.pk }}Modal" tabindex="-1" role="dialog" aria-labelledby="denial{{ request.pk }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form action="{% url 'allocation-cluster-account-deny-request' request.pk %}" method="get" id="denial{{ request.pk }}Form">
                {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="modal-title">Deny Request</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <label>Are You Sure?</label>

                    <br><b>User:</b> {{ request.allocation_user.user.email }}
                    <br><b>Project:</b> {{ request.allocation_user.allocation.project.name }}
                    <br><b>Allocation:</b> {{ request.allocation_user.allocation.pk }}
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger mr-1" type="submit">
                      Yes, deny this request.
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button class="btn btn-danger mr-1" data-toggle="modal" data-target="#denial{{ request.pk }}Modal">
            Deny
          </button>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>