{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Allocation Review New and Pending Requests
{% endblock %}


{% block content %}
<h2>Allocation Requests</h2>

<hr>

<p class="text-justify"> 
  For each allocation request below, there is the option to activate the allocation request and to view the allocation's detail page.
</p>

<p class="text-justify"> 
  By default, activating an allocation will make it active for {{ ALLOCATION_DEFAULT_ALLOCATION_LENGTH }} days.
</p>

{% if allocation_list %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Requested</th>
          <th scope="col">Project Title</th>
          <th scope="col">PI</th>
          <th scope="col">Resource</th>
          {% if PROJECT_ENABLE_PROJECT_REVIEW %}
            <th scope="col" class="text-nowrap">Project Review Status</th>
          {% endif %}
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for allocation in allocation_list %}
          <tr>
            <td>{{allocation.pk}}</td>
            <td>{{allocation_renewal_dates|get_value_from_dict:allocation.pk|default:allocation.created|date:"M. d, Y"}}</td>
            <td><a href="{% url 'project-detail' allocation.project.pk %}">{{allocation.project.title|truncatechars:50}}</a></td>
            <td>{{allocation.project.pi.first_name}} {{allocation.project.pi.last_name}}
              ({{allocation.project.pi.username}})</td>
            <td>{{allocation.get_parent_resource}}</td>
            {% if PROJECT_ENABLE_PROJECT_REVIEW %}
              <td class="text-center">{{allocation.project|convert_status_to_icon}}</td>
            {% endif %}
            <td>{{allocation.status}}</td>
            <td class="text-nowrap">
                <form method="post" action="{% url 'allocation-detail' allocation.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="status" value="{{ allocation_status_active.id }}" />
                  <button type="submit" name="action" value="auto-approve" class="btn btn-success mr-1{% if allocation.get_information == '' %} confirm-activate{% endif %}">Approve</button>
                  <a href="{% url 'allocation-detail' allocation.pk %}" class="btn btn-primary mr-1">Details</a>
                </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info">
    No new or pending allocation requests!
  </div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-allocation-requests").addClass("active");
  $(document).on('click', '.confirm-activate', function(){
      return confirm('Are you sure you want to activate this allocation request without setting any allocation attributes?');
  })
</script>
{% endblock %}
