{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Request Allocation Attribute Change
{% endblock %}


{% block content %}
<h2>Renew allocation to {{allocation.get_parent_resource }} for project: {{allocation.project.title}}</h2>
<hr>

<p class="text-justify">The following {% settings_value 'CENTER_NAME' %}
  resources are available to request for this project. If you need access to
  more than one of these, please submit a separate allocation request for each
  resource. For each request you must provide the justification for how you
  intend to use the resource to further the research goals of your project.</p>

<script>
  var resources_with_eula = {{ resources_with_eula | safe }};
</script>
{% endblock %}
