<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <script src="pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  </head>
  
{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_tables2 %}
{% load mathfilters %}

{% render_table table %}



{% block title %}
Allocation Detail
{% endblock %}


{% block content %}
{% if allocation.project.status.name == 'Archived' %}
  <div class="alert alert-warning" role="alert">
    This is a allocation from an archived project! You cannot make any changes.
  </div>
{% endif %}
<div id = "allocation">
<div class="mb-3">
  <h2>Allocation Detail</h2>
  <button class = "btn btn-primary" id = "download"> Download PDF </button>
  <hr>
</div>

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
  </div>
{% endif %}

<div class="card mb-3">
  <div class="card-header">
    <h3><i class="fas fa-list" aria-hidden="true"></i> Allocation Information</h3>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="table-responsive">
        <div class = "container mb-3 mt-3">
        <table class="table table-bordered table-sm">
          <tr>
            <th scope="row" class="text-nowrap">Project:</th>
            <td><a href="{% url 'project-detail' allocation.project.pk %}">{{ allocation.project }}</a></td>
          </tr>
          <tr>
              <th scope="row" class="text-nowrap">Principal Investigator:</th>
              <td>
                {{ allocation.project.pi.first_name }} {{ allocation.project.pi.last_name }}
                ({{ allocation.project.pi.email }})
              </td>
          </tr> 
          <tr>
            <th scope="row" class="text-nowrap">Resource{{ allocation.resources.all|pluralize }} in allocation:</th>
            <td>{{ allocation.get_resources_as_string }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Justification:</th>
            <td>{{ allocation.justification }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Status:</th>
            <td>
              {% if request.user.is_superuser %}
                {{ form.status }}
              {% else %}
                {{ allocation.status }}
              {% endif %}
            </td>
          </tr>
                      <tr>
              <th scope="row" class="text-nowrap">Service Period:</th>
              <td> 1 Month
             </td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">Total Users in Your Bill:</th>
                <td>{{ allocation_users.count }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">Total Usage (TB):</th>
                <td>{{ allocation_users.0.allocation_group_usage_bytes| div:1073741824|floatformat:2 }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-nowrap">Quota (TB):</th>
                <td id = "group_quota">{{ allocation_users.0.allocation_group_quota| div:1073741824|floatformat:2 }}</td>
            </tr>
            <tr>
                <th  style="background-color:#D3D3D3" bordercolor="red" scope="row" class="text-nowrap">Total Amount Due:	</th>
               
                <td style="background-color:#D3D3D3">${{allocation_users.0.allocation_group_quota| div:1073741824|mul:50| div:12|floatformat:2}}</td>
              </tr>
          <tr>
          <tr>
            <th scope="row" class="text-nowrap">Description:</th>
            <td>
              {% if request.user.is_superuser %}
                {{ form.description }}
              {% else %}
                {{ allocation.description }}
              {% endif %}
            </td>
          </tr>
       </table>
      </div>
      </div>
      {% if request.user.is_superuser %}
        <button type="submit" class="btn btn-success float-right"><i class="fas fa-sync" aria-hidden="true"></i> Update</button>
      {% endif %}
    </form>
  </div>
</div>
{% if attributes or attributes_with_usage or request.user.is_superuser %}
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="d-inline"><i class="fas fa-info-circle" aria-hidden="true"></i> Allocation Attributes</h3>
      <div class="float-right">
        {% if request.user.is_superuser %}
          <a class="btn btn-success" href="{% url 'allocation-attribute-add' allocation.pk %}" role="button">
            <i class="fas fa-plus" aria-hidden="true"></i> Add Allocation Attribute
          </a>
          <a class="btn btn-danger" href="{% url 'allocation-attribute-delete' allocation.pk %}" role="button">
            <i class="fas fa-minus" aria-hidden="true"></i> Delete Allocation Attributes
          </a>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      {% if attributes %}
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for attribute in attributes %}
                {% if attribute.allocation_attribute_type.is_private %}
                  <tr style="background-color:#eee">
                    <td><i class="fas fa-lock" aria-hidden="true"></i> {{attribute}}</td>
                    <td>{{attribute.value}}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{attribute}}</td>
                    <td>{{attribute.value}}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if attributes_with_usage %}
        <hr>
        {% for attribute in attributes_with_usage %}
          <div class="card mb-3 mr-1">
            <div class="card-body">
              <h4 class="card-title">{{attribute}}</h4>
              <div id="gauge-{{forloop.counter0}}"></div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}
<div class="html2pdf__page-break"></div>
<!-- Start Allocation Users -->
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-users" aria-hidden="true"></i> Users in Allocation</h3>
    <span class="badge badge-secondary">{{allocation_users.count}}</span>
    <div class="float-right">
      {% if allocation.project.status.name != 'Archived' and is_allowed_to_update_project and allocation.status.name in 'Active,New,Renewal Requested' and request.user.is_superuser %}
        <a class="btn btn-success" href="{% url 'allocation-add-users' allocation.pk %}" role="button">
          <i class="fas fa-user-plus" aria-hidden="true"></i> Add Users
        </a>
        <a class="btn btn-danger" href="{% url 'allocation-remove-users' allocation.pk %}" role="button">
          <i class="fas fa-user-times" aria-hidden="true"></i> Remove Users
        </a>
      {% endif %}

  
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <div class = "container mb-3 mt-3">
      <!-- <table  class="table table-hover mydatatable" > -->
        <table id = "mydatatable" class = "table table-striped table-bordered">
        <thead>
          <tr>
            <!-- <th scope="col">Username</th> -->
            <th scope="col">Name</th>
            <!-- <th scope="col">Email</th> -->
            <!-- <th scope="col">Bytes</th> -->

            <th scope="col">Logical Usage</th>
            <th scope="col">Percentage Usage</th>
            <th scope="col">Cost Per user (TB/month)</th>

            
            <!-- <th scope="col">Status</th> -->
            <!-- <th scope="col">Last Modified</th> -->
          </tr>
        </thead>

        

        <tbody>
          {% for user in allocation_users %}
            <tr>
           
              <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
              <td data-sort = "{{user.usage_bytes}}" name = "usage_bytes">{{ user.usage }}{{ user.unit }}</td>
              <td>{{user.usage_bytes|div:1024|div:user.allocation_group_usage_bytes|mul:100|floatformat:2}}</td>
              <td>{{4.167|mul:user.allocation_group_quota|div:1073741824|mul:user.usage_bytes|div:1024|div:user.allocation_group_usage_bytes|floatformat:2}}</td>
              
            </tr>
           
          {% endfor %}
         
        </tbody>

        
        <script type="text/javascript">
        function findTotal(){
            var arr = document.getElementsByName('usage_bytes');
            var tot=0;
            for(var i=0;i<arr.length;i++){
                if(parseInt(arr[i].value))
                    tot += parseInt(arr[i].value);
            }
            document.getElementById('total').value = tot;
        }
        
        </script>

      </table>
    </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/af-2.3.5/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/date-1.0.2/fc-3.3.2/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sl-1.3.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.24/af-2.3.5/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/date-1.0.2/fc-3.3.2/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sl-1.3.2/datatables.min.js"></script>



  <script>
      $(document).ready( function () {
      $('#mydatatable').DataTable({
       "pageLength": 25, 
      dom: 'B<"clear">lfrtip',
      "order": [[ 3, "desc" ]],
      buttons: {
          name: 'primary',
          
          buttons: [  'csv', 'excel', 'pdf' ]
      
          }}
      );
      } );
      </script>
<div class="html2pdf__page-break"></div>
<!-- Start Admin Messages -->
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-users" aria-hidden="true"></i> Messages from System Administrators</h3>
    <span class="badge badge-secondary">{{notes.count}}</span>
  </div>
  <div class="card-body">
    {% if notes %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Note</th>
              <th scope="col">Administrator</th>
              <th scope="col">Last Modified</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
              {% if not note.is_private or request.user.is_superuser %}
                <tr>
                  <td>{{ note.note }}</td>
                  <td>{{ note.author.first_name }} {{ note.author.last_name }}</td>
                  <td>{{ note.modified }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> There are no notes from system administrators.
      </div>
    {% endif %}
  </div>
</div>
</div>
<script type="text/javascript">
window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const allocation = this.document.getElementById("allocation");
            console.log(allocation);
            console.log(window);
            var opt = {
                margin: 1,
                filename: 'allocation.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'legal', orientation: 'landscape' }
            };
            html2pdf().from(allocation).set(opt).save();
        })
}
</script>
<script>
  $(document).ready(function () {
    var guage_data = {{ guage_data | safe }};
    drawGauges(guage_data);
  });

  function drawGauges(guage_data) {
    var arrayLength = guage_data.length;
    for (var i = 0; i < arrayLength; i++) {
      c3.generate({
        bindto: '#gauge-' + i,
        data: guage_data[i],
        legend: {
          item: {
            onclick: function (id) { }
          }
        }
      });
    }
  }
  $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
</script>
{% endblock %}


{% block js %}

</div>
{% endblock %}