{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Allocation Detail
{% endblock %}


{% block content %}
{% if allocation.project.status.name == 'Archived' %}
  <div class="alert alert-warning" role="alert">
    This is a allocation from an archived project! You cannot make any changes.
  </div>
{% endif %}

<div class="mb-3">
  <h2>Allocation Detail</h2>
  <hr>
</div>

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
  </div>
{% endif %}

<div class="card mb-3">
  <div class="card-header">
    {% if allocation.is_changeable and not allocation.is_locked and is_allowed_to_update_project and allocation.status.name in 'Active, Renewal Requested, Payment Pending, Payment Requested, Paid' %}
    <div class="row">
      <div class="col">
        <h3><i class="fas fa-list" aria-hidden="true"></i> Allocation Information</h3>
      </div>
      <div class="col">
        <a class="btn btn-primary" href="{% url 'allocation-change' allocation.pk %}" role="button" style="float: right;">
          Request Change
        </a>
      </div>
    </div>
    {% else %}
      <h3><i class="fas fa-list" aria-hidden="true"></i> Allocation Information</h3>   
    {% endif %}
  </div>
  
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <tr>
            <th scope="row" class="text-nowrap">Project:</th>
            <td><a href="{% url 'project-detail' allocation.project.pk %}">{{ allocation.project }}</a></td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Resource{{ allocation.resources.all|pluralize }} in allocation:</th>
            <td>
              {% if allocation.get_resources_as_list %}
                {% for resource in allocation.get_resources_as_list %}
                  <a href="{% url 'resource-detail' resource.pk %}">{{ resource }}</a> <br>
                {% endfor %}
            {% else %}
              None
            {% endif %}
            </td>
          </tr>
          {% if request.user.is_superuser %}
            <tr>
              <th scope="row" class="text-nowrap">Quantity:</th>
              <td>{{ allocation.quantity }}</td>
            </tr>
          {% endif %}
          <tr>
            <th scope="row" class="text-nowrap">Justification:</th>
            <td>{{ allocation.justification }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Status:</th>
            <td>
              {% if request.user.is_superuser %}
                {{ form.status }}
              {% else %}
                {{ allocation.status }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Start Date:</th>
            <td>
              {% if request.user.is_superuser %}
                {{ form.start_date }}
              {% else %}
                {{ allocation.start_date }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">End Date:</th>
            <td>
              {% if request.user.is_superuser %}
                {{ form.end_date }}
              {% else %}
                {{ allocation.end_date }}
              {% endif %}
              {% if allocation.is_locked and allocation.status.name == 'Active' and allocation.expires_in <= 60 and allocation.expires_in >= 0 %}
              <span class="badge badge-warning"><i class="far fa-clock" aria-hidden="true"></i>
                Expires in {{allocation.expires_in}} day{{allocation.expires_in|pluralize}} - Not renewable
              </span>
              {% elif is_allowed_to_update_project and ALLOCATION_ENABLE_ALLOCATION_RENEWAL and allocation.status.name == 'Active' and allocation.expires_in <= 60 and allocation.expires_in >= 0 %}
                <a href="{% url 'allocation-renew' allocation.pk %}">
                <span class="badge badge-warning"><i class="fas fa-redo-alt" aria-hidden="true"></i>
                Expires in {{allocation.expires_in}} day{{allocation.expires_in|pluralize}} - Click to renew
                </span>
                </a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Description:</th>
            <td>
              {% if request.user.is_superuser %}
                {{ form.description }}
              {% else %}
                {{ allocation.description|default_if_none:"" }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Created:</th>
            <td>{{ allocation.created|date:"M. d, Y" }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Last Modified:</th>
            <td>{{ allocation.modified|date:"M. d, Y" }}</td>
          </tr>
          <tr>
            {% if request.user.is_superuser or request.user.is_staff %}
              <th scope="row" class="text-nowrap">Lock/Unlock Allocation:</th>
              <td>
                {{ form.is_locked }}
              </td>
            {% else %}
              {% if allocation.is_locked %}
                <th scope="row" class="text-nowrap">Locked</th>
                <td><i class="fas fa-lock" aria-hidden="true"></i></td>
              {% else %}
                <th scope="row" class="text-nowrap">Unlocked</th>
                <td><i class="fas fa-lock-open" aria-hidden="true"></i></td>
              {% endif %}
            {% endif %}
          </tr>
          {% if request.user.is_superuser or request.user.is_staff %}
            <tr>
              <th scope="row" class="text-nowrap">Allow Change Requests:</th>
              <td>
                {{ form.is_changeable }}
              </td>
            </tr>
          {% endif %}
        </table>
      </div>
      {% if request.user.is_superuser %}
      <div class="float-right">
        {% if allocation.status.name == 'New' or allocation.status.name == 'Renewal Requested' %}
          <button type="submit" name="action" value="approve" class="btn btn-success mr-1 confirm-activate">Approve</button>
          <button type="submit" name="action" value="deny" class="btn btn-danger mr-1 confirm-deny">Deny</button>
        {% endif %}
        <button type="submit" name="action" value="update" class="btn btn-primary"><i class="fas fa-sync" aria-hidden="true"></i> Update</button>
      {% endif %}
    </div>
    </form>
  </div>
</div>

{% if eulas %}
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-info-circle" aria-hidden="true"></i> EULA Agreements </h3>
  </div>
  <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Resource</th>
              <th scope="col">EULA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="{% url 'resource-detail' res %}">{{res_obj}}</a><br>
              </td>
              <td>
                {{eulas}}
              </td>
            </tr>
          </tbody>
        </table>
        {% if user_in_allocation %}
          <div class="d-inline-flex">
              <a href="{% url 'allocation-review-eula' allocation.pk %}">Review EULA Agreement</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

{% if attributes or attributes_with_usage or request.user.is_superuser %}
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="d-inline"><i class="fas fa-info-circle" aria-hidden="true"></i> Allocation Attributes</h3>
      <div class="float-right">
        {% if request.user.is_superuser %}
          <a class="btn btn-success" href="{% url 'allocation-attribute-add' allocation.pk %}" role="button">
            <i class="fas fa-plus" aria-hidden="true"></i> Add Allocation Attribute
          </a>
          <a class="btn btn-danger" href="{% url 'allocation-attribute-delete' allocation.pk %}" role="button">
            <i class="fas fa-minus" aria-hidden="true"></i> Delete Allocation Attributes
          </a>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      {% if attributes %}
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for attribute in attributes %}
                {% if attribute.allocation_attribute_type.is_private %}
                  <tr style="background-color:#eee">
                    <td><i class="fas fa-lock" aria-hidden="true"></i> {{attribute}}</td>
                    <td>{{attribute.value}}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{attribute}}</td>
                    <td>
                      {{attribute.value}}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if attributes_with_usage %}
        <hr>
        {% for attribute in attributes_with_usage %}
          <div class="card mb-3 mr-1">
            <div class="card-body">
              <h4 class="card-title">{{attribute}}</h4>
              <div id="gauge-{{forloop.counter0}}"></div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}

{% if not user_is_pending %}
<!-- Start Allocation Change Requests -->
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-info-circle" aria-hidden="true"></i> Allocation Change Requests</h3> <span class="badge badge-secondary">{{allocation_changes.count}}</span>
  </div>
  
  <div class="card-body">
    {% if allocation_changes %}
      <div class="table-responsive">
        <table id="allocation_change_table" class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Date Requested</th>
              <th scope="col">Status</th>
              <th scope="col">Notes</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for change_request in allocation_changes %}
                <tr>
                  <td>{{ change_request.created|date:"M. d, Y" }}</td>
                  {% if change_request.status.name == 'Approved' %}
                    <td class="text-success">{{ change_request.status.name }}</td>
                  {% elif change_request.status.name == 'Denied' %}
                    <td class="text-danger">{{ change_request.status.name }}</td>
                  {% else %}
                    <td class="text-info">{{ change_request.status.name }}</td>
                  {% endif %}
                  </td>
                  {% if change_request.notes %}
                    <td>{{change_request.notes}}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td><a href="{% url 'allocation-change-detail' change_request.pk %}"><i class="far fa-edit" aria-hidden="true"></i><span class="sr-only">Edit</span></a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle" aria-hidden="true"></i>
         There are no allocation changes to display.
      </div>
    {% endif %}
  </div>
</div>

<!-- Start Allocation Users -->
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-users" aria-hidden="true"></i> Users in Allocation</h3>
    <span class="badge badge-secondary">{{allocation_users.count}}</span>
    <div class="float-right">
      {% if allocation.project.status.name != 'Archived' and is_allowed_to_update_project and allocation.status.name in 'Active,New,Renewal Requested' %}
        <a class="btn btn-success" href="{% url 'allocation-add-users' allocation.pk %}" role="button">
          <i class="fas fa-user-plus" aria-hidden="true"></i> Add Users
        </a>
        <a class="btn btn-danger" href="{% url 'allocation-remove-users' allocation.pk %}" role="button">
          <i class="fas fa-user-times" aria-hidden="true"></i> Remove Users
        </a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="allocationuser_table" class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap">Username</th>
            <th scope="col" class="text-nowrap">First Name</th>
            <th scope="col" class="text-nowrap">Last Name</th>
            <th scope="col" class="text-nowrap">Email</th>
            <th scope="col" class="text-nowrap" >Status</th>
            <th scope="col" class="nosort">Last Modified</th>
          </tr>
        </thead>
        <tbody>
          {% for user in allocation_users %}
            <tr>
              <td>{{ user.user.username }}</td>
              <td>{{ user.user.first_name }}</td>
              <td>{{ user.user.last_name }}</td>
              <td>{{ user.user.email }}</td>
              {% if user.status.name == 'Active' %}
                <td class="text-success">{{ user.status.name }}</td>
              {% elif user.status.name == 'PendingEULA' %}
                <td class="text-info">{{ user.status.name }}</td>
              {% elif user.status.name == 'Denied' or user.status.name == 'Error' or user.status.name == 'DeclinedEULA' %}
                <td class="text-danger">{{ user.status.name }}</td>
              {% else %}
                <td class="text-info">{{ user.status.name }}</td>
              {% endif %}
              <td>{{ user.modified|date:"M. d, Y" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Start Admin Messages -->
<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-users" aria-hidden="true"></i> Notifications</h3>
    <span class="badge badge-secondary">{{notes.count}}</span>
    <div class="float-right">
      {% if request.user.is_superuser %}
        <a class="btn btn-success" href="{% url 'allocation-note-add' allocation.pk %}" role="button">
          <i class="fas fa-plus" aria-hidden="true"></i> Add Notification
        </a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {% if notes %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Note</th>
              <th scope="col">Administrator</th>
              <th scope="col">Last Modified</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
              {% if not note.is_private or request.user.is_superuser %}
                <tr>
                  <td>{{ note.note }}</td>
                  <td>{{ note.author.first_name }} {{ note.author.last_name }}</td>
                  <td>{{ note.modified }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> There are no notes from system administrators.
      </div>
    {% endif %}
  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {
    var guage_data = {{ guage_data | safe }};
    drawGauges(guage_data);

    $('#allocation_change_table').DataTable({
      lengthMenu: [5, 10, 20, 50, 100],
      "pageLength": 5,
      "ordering": false,
      'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['nosort']
      }]
    });
    $('#allocationuser_table').DataTable({
      'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['nosort']
      }]
    });
  });

  function drawGauges(guage_data) {
    var arrayLength = guage_data.length;
    for (var i = 0; i < arrayLength; i++) {
      c3.generate({
        bindto: '#gauge-' + i,
        data: guage_data[i],
        legend: {
          item: {
            onclick: function (id) { }
          }
        }
      });
    }
  }
  $(".datepicker").flatpickr();
  $(document).on('click', '.confirm-activate', function(){
    var attributes_num = {{ attributes | length }};
    if (attributes_num == 0) {
      return confirm('Are you sure you want to activate this allocation request without setting any allocation attributes?');
    }
  })
  $(document).on('click', '.confirm-deny', function(){
    var notes_num = {{ notes | length }};
    if (notes_num == 0) {
      return confirm('Are you sure you want to deny this allocation request without setting a notification?');
    }
  })
</script>
{% endblock %}