{% extends "list_view.html" %}

{% block title %}
Allocation List
{% endblock %}

{% block page_title%}Allocations{% endblock %}

{% block list_title %}Allocations: {{count}}{% endblock %}

{% block table_contents %}
<thead>
  <tr>
    <th scope="col" class="text-nowrap">
      ID
    </th>
    <th scope="col" class="text-nowrap">
      Project
    </th>
    <th scope="col" class="text-nowrap">
      PI
    </th>
    <th scope="col" class="text-nowrap">
      Resource Name
    </th>
    <th scope="col" class="text-nowrap">
      Status
    </th>
    <th scope="col" class="text-nowrap">
      Size
    </th>
    <th scope="col" class="text-nowrap">
      Usage
    </th>
  </tr>
</thead>
<tbody>
  {% for allocation in item_list %}
    <tr>
      <td><a href="/allocation/{{allocation.id}}/">{{ allocation.id }}</a></td>
      <td class="text-nowrap"><a
          href="/project/{{allocation.project.id}}/">{{ allocation.project.title|truncatechars:50 }}</a></td>
      <td class="text-nowrap">{{allocation.project.pi.first_name}} {{allocation.project.pi.last_name}}
        ({{allocation.project.pi.username}})</td>
      <td class="text-nowrap">{{ allocation.get_parent_resource }}</td>
      <td class="text-nowrap">{{ allocation.status.name }}</td>
      <td class="text-nowrap">{{ allocation.size|floatformat:2 }}</td>
      <td class="text-nowrap">{{ allocation.usage|floatformat:2 }}</td>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}

{% block activelink %}
$("#navbar-project-menu").addClass("active");
$("#navbar-allocation").addClass("active");
{% endblock %}
