<!DOCTYPE html>
<html>
<head>
	<title>HTML To PDF</title>
	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		body{
			background-color: #764ba2;
		}

		.card{
			background-color: #fff;
			padding: 50px 50px 50px 50px;
			margin:50px;
		}
	</style>
</head>

<body  >
	<div class="container">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">
					 <div class="text-center"> 
					<h3>View Invoices or download directly to PDF</h3>
					<p>Turn HTML templates into PDF's with Django + XHTML 2 PDF. This example gives you the option of  <br> view a template as a PDF or Downloading directly.</p>
					<!-- <a class="btn btn-info" href="{% url 'pdf_view' %}" target="_blank">View Invoice</a> -->
					<!-- <a class="btn btn-info"  href="{% url 'pdf_download' %}">Download Invoice</a> -->
					</div>
				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>


</body>
</html>




