{% load i18n %}
{% if applied_filters %}
    <div class="mb-3">
        {% for filter in applied_filters %}
            <a href="{{ filter.link_url }}" class="badge rounded-pill text-bg-primary text-decoration-none me-1">
                <i class="fa-solid fa-xmark"></i> {{ filter.link_text }}
            </a>
        {% endfor %}
        {% if applied_filters|length > 1 %}
            <a href="?" class="badge rounded-pill text-bg-danger text-decoration-none me-1">
                <i class="fa-solid fa-ban"></i> {% trans "Clear all" %}
            </a>
        {% endif %}
        {% if save_link %}
            <a href="{{ save_link }}" class="badge rounded-pill text-bg-success text-decoration-none me-1">
                <i class="fa-solid fa-floppy-disk"></i> {% trans "Save" %}
            </a>
        {% endif %}
    </div>
{% endif %}
