{% cotton:vars bg_color="secondary" %}
{% cotton:vars show_empty=False %}
{% cotton:vars color value css_class title %}

{% if value or show_empty %}
    {% if link %}
        <a href="{{ link  }}">
            <span
                {% if title %}title="{{ title }}"{% endif %}
                class="badge{% if not color %} text-bg-{{ bg_color }}{% endif %} me-1 {{ css_class }}"
                {% if color %}style="color: {{ color|fgcolor }}; background-color: #{{ color }}"{% endif %}
            >{{ value }}</span>
        </a>
    {% else %}
        <span
            {% if title %}title="{{ title }}"{% endif %}
            class="badge{% if not color %} text-bg-{{ bg_color }}{% endif %} me-1 {{ css_class }}"
            {% if color %}style="color: {{ color|fgcolor }}; background-color: #{{ color }}"{% endif %}
        >{{ value }}</span>
    {% endif %}
{% endif %}
