<a href="#" data-toggle="popover" title="Service Units" data-trigger="hover" data-content=
        "For <span class='badge badge-success'>RUNNING</span> jobs, the amount reflects the estimated number of service units
                              that a job will use. For <span class='badge badge-success'>COMPLETED</span> jobs, the amount is the number of service
                              units that a job did use.">
  <span class="accessibility-link-text">Service Units</span>
  <i class="fas fa-info-circle"></i>
</a>

<script>
  $(document).ready(function() {
      $('[data-toggle="popover"]').popover({html:true});
  });
</script>