{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project List
{% endblock %}


{% block content %}
<div class="card mb-3 bg-light">
  <div class="card-body">
    {% if user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'project-create' %}" role="button"><i class="fas fa-plus" aria-hidden="true"></i> Add a project</a>
    {% elif user.userprofile.is_pi and project_requests_remaining > 0 %}
      <a class="btn btn-primary" href="{% url 'project-create' %}" role="button"><i class="fas fa-plus" aria-hidden="true"></i> Add a project</a>
    {% endif %}
    <div class="float-right">
      <a class="btn btn-primary" href="{% url 'project-denied-list' %}" role="button"><i class="fas fa-archive" aria-hidden="true"></i> View denied projects</a>
      <a class="btn btn-primary" href="{% url 'project-archived-list' %}" role="button"><i class="fas fa-archive" aria-hidden="true"></i> View archived projects</a>
    </div>
  </div>
</div>
<div>
  {% if user.is_superuser or user.userprofile.is_pi %}
    <p>
      You can use the PI Search function below to search for a project your PI is in and request to be added to it.
      {% if project_requests_remaining < 1 %} You have reached the max projects you can have.{% endif %}
    </p>
  {% else %}
    <p>
      You do not have permission to make a project request. You can use the PI Search function below to search for
      a project your PI is in and request to be added to it.
    </p>
  {% endif %}
</div>

<h2>PI Search</h2>
<hr>
<div class="mb-3" id="pi_search_accordion">
  <div class="card">
    <div class="card-header">
      <a id="expand_pi_button" href="#collapse_pi" role="button" class="card-link" data-toggle="collapse">
        Expand
        <i id="plus_minus_1" class="fas {{expand_accordion|get_icon}} float-right"></i>
      </a>
    </div>
    <div id="collapse_pi" class="collapse {{expand_accordion}}" data-parent="#pi_search_accordion">
      <div class="card-body">
        <form id="pi_search_form" method="post">
          {{ project_pi_search_form|crispy }}
          <input type="submit" class="btn btn-primary" value="Search">
        </form>
        <br>
        <div class="row">
          <div class="col" id="search_results">
            <div class="card border-light">
              <div class="card-body">
                <div id="search_results_inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Projects</h2>
<hr>
{% if expand_accordion == "show" or project_list or user.is_superuser%}
  <div class="mb-3" id="accordion">
    <div class="card">
      <div class="card-header">
        <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne"> 
          <i class="fas fa-filter" aria-hidden="true"></i> Filter
          <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse {{expand_accordion}}" data-parent="#accordion">
        <div class="card-body">
          <form id="filter_form" method="GET" action="{% url 'project-list' %}" autocomplete="off">
            {{ project_search_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Search">
            <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endif %}
{% if project_list %}
  <strong>Projects: {{projects_count}}</strong>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="text-nowrap">
            ID
            <a href="?order_by=id&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort ID asc</span></a>
            <a href="?order_by=id&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort ID desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            PI
            <a href="?order_by=pi__username&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort PI asc</span></a>
            <a href="?order_by=pi__username&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort PI desc</span></a>
          </th>
          <th scope="col">Title</th>
          <th scope="col" class="text-nowrap">
            Field of Science
            <a href="?order_by=field_of_science&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Field of Science asc</span></a>
            <a href="?order_by=field_of_science&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Field of Science desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            Type
            <a href="?order_by=type&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Type asc</span></a>
            <a href="?order_by=type&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Type desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            Status
            <a href="?order_by=status&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Status asc</span></a>
            <a href="?order_by=status&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Status desc</span></a>
          </th>
          <th scope="col" class="text-nowrap">
            End Date
          </th>
          <th scope="col" class="text-nowrap">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
          <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.pi.username }}</td>
            <td style="text-align: justify; text-justify: inter-word;">{{ project.title|truncatechars:30 }}</td>
            <td>{{ project.field_of_science.description }}</td>
            <td>{{ project.type.name }}</td>
            {% if project.status.name == 'Active' %}
              {% if project.can_be_reviewed %}
                <td class="text-warning">
                  {{ project.status.name }}
                  {% if user.username in project.list_of_manager_usernames %}
                    <a href="{% url 'project-review' project.pk %}">
                      <span class="badge badge-warning">
                        <i class="fas fa-redo-alt" aria-hidden="true"></i>
                        Expires in {{ project.expires_in }} day{{ project.expires_in|pluralize }} - click to renew
                      </span>

                    </a>
                  {% endif %}
                </td>
              {% elif project.needs_review %}
                <td class="text-warning">
                  {{ project.status.name }}
                  {% if user.username in project.list_of_manager_usernames %}
                    <a href="{% url 'project-review' project.pk %}">
                      <span class="badge badge-warning">
                        <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
                        Needs Review - click to review
                      </span>
                    </a>
                  {% endif %}
                </td>
              {% else %}
                <td class="text-success">{{ project.status.name}}</td>
              {% endif %}
            {% elif project.status.name in 'Archived, Denied, Expired' %}
              <td class="text-danger">
                {{ project.status.name }}
                  {% if user.username in project.list_of_manager_usernames %}
                    {% if project.status.name == 'Expired' and project.can_be_reviewed %}
                      <a href="{% url 'project-review' project.pk %}">
                        <span class="badge badge-warning">
                          <i class="fas fa-redo-alt" aria-hidden="true"></i>
                          {{ project.expires_in|add:PROJECT_DAYS_TO_REVIEW_AFTER_EXPIRING }} days left to renew
                        </span>
                      </a>
                    {% endif %}
                  {% endif %}
              </td>
            {% else %}
              <td class="text-info">{{ project.status.name }}</td>
            {% endif %}
            <td>{{ project.end_date }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'project-detail' project.pk %}" role="button">Details</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      <ul class="pagination float-right mr-3">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{filter_parameters_with_order_by}}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{filter_parameters_with_order_by}}">Next</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% elif expand_accordion == "show"%}
  <div class="alert alert-info">
    No search results!
  </div>
{% else %}
  <div class="alert alert-info">
    No projects to display!
  </div>
{% endif %}

<script>
  var pi_last_searched = '';

  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");
  $("#navbar-project").addClass("active");

  $(document).ready(function () {
    $('#search_results').hide()
  });

  $(document).on('click', '#form_reset_button', function() {
    resetForm($('#filter_form'));
  });

  $('#pi_search_form').on('submit', function(event) {
    event.preventDefault();
    var pi_username = $('#id_pi_username').val();

    if (pi_last_searched === pi_username) {
      return;
    }
    pi_last_searched = pi_username
    
    if (pi_username === '') {
      $('#search_results').hide();
      return;
    }

    data = {
      pi_username: pi_username,
      csrfmiddlewaretoken: "{{ csrf_token }}",
    }
    $.ajax({
      url: "{% url 'project-pi-list' %}",
      type: "POST",
      data: data,
      success: function(data) {
        $('#search_results').show();
        $('#search_results_inner').html(data);
      },
      error: function(xhr, errmsg, err) {
        if (xhr.status == 403 || xhr.status == 401) {
          $('#search_results_inner').html("<div class='alert alert-danger'>Your session expired. Please login again. <a href='#' class='close'>&times;</a></div>");
        } else {
          $('#search_results_inner').html("<div class='alert alert-danger'>Oops! We have encountered an error: " + errmsg +
            " <a href='#' class='close'>&times;</a></div>");
        }
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  });

  function resetForm($form) {
    $form.find('input:text, textarea').val('');
  };

  $("#expand_button").click(function() {
    $('#collapseOne').collapse();
    icon = $("#plus_minus");
    icon.toggleClass("fa-plus fa-minus");
  });

  $("#expand_pi_button").click(function() {
    $('#collapse_pi').collapse();
    icon = $("#plus_minus_1");
    icon.toggleClass("fa-plus fa-minus");
  });
</script>
{% endblock %}
