{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Create Project
{% endblock %}


{% block content %}
 <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="Submit" />
  <input id="after_project_creation" type="hidden" name="after_project_creation" value="true">
  <a class="btn btn-secondary" href="{% url 'project-list' %}" role="button">Cancel</a>
</form>

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");

  $(document).ready(function() {
    $('#id_field_of_science').select2();
  });
</script>
{% endblock %}
