{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Test title
{% endblock %}

{% block content %}
<h2>Project Review Info</h2>

<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline">{{project_review.project}} </h3>
    <a target="_blank" href="{% url 'project-detail' project_review.project.pk%}" role="button"><i class="far fa-folder-open" aria-hidden="true"></i><span class="sr-only">Details</span></a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <tr>
          <th scope="row" class="text-nowrap">Date Submitted:</th>
          <td>{{ project_review.created|date:"M. d, Y" }}</td>
        </tr>
        <tr>
        <tr>
          <th scope="row" class="text-nowrap">Expires On:</th>
          <td>{{ project_review.project.end_date|date:"M. d, Y" }} (in {{ project_review.project.expires_in }} day{{ project_review.project.expires_in|pluralize }})</td>
        </tr>
          <th scope="row" class="text-nowrap">PI:</th>
          <td>{{ project_review.project.pi.first_name }} {{ project_review.project.pi.last_name }} ({{ project_review.project.pi.username }})</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">Grants Last Updated:</th>
          <td>{{ project_review.project.latest_grant.modified|date:"M. d, Y"|default:"No grants" }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">Publications Last Updated:</th>
          <td>{{ project_review.project.latest_publication.modified|date:"M. d, Y"|default:"No publications" }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">Allocation Renewals:</th>
          <td>
            {% if project_review.allocation_renewals %}
              {% for allocation_pk in project_review.allocation_renewals|split:"," %}
                <a href="{% url 'allocation-detail' allocation_pk %}">{{ allocation_pk }}</a>
              {% endfor %}
            {% else %}
              No renewals
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">Project Updates:</th>
          <td>{{ project_review.project_updates }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    <a href="{% url 'project-review-approve' project_review.pk %}" class="btn btn-success mr-1">Approve</a>
    <a href="{% url 'project-review-deny' project_review.pk %}" class="btn btn-danger mr-1">Deny</a>
    <a href="{% url 'project-review-list' %}" class="btn btn-secondary mr-1">Back</a>
  </div>
</div>
{% endblock %}