{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project Review List
{% endblock %}


{% block content %}
<h2>Pending Project Requests</h2>

{% if project_request_list %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">PI</th>
          <th scope="col">Type</th>
          <th scope="col">Private</th>
          <th scope="col">Project Review Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_request in project_request_list %}
          <tr>
            <td><a target="_target" href="{% url 'project-detail' project_request.pk %}">{{ project_request.title|truncatechars:50 }}</a></td>
            <td>{{ project_request.created|date:"M. d, Y" }}</td>
            <td>{{ project_request.pi.first_name }} {{project_request.pi.last_name}} ({{ project_request.pi.username }})</td>
            <td>{{ project_request.type.name }}</td>
            <td>{{ project_request.private }}</td>
            <td class="no-textwrap">
              <a href="{% url 'project-activate-request' project_request.pk %}" class="btn btn-success mr-1">Activate</a>
              <a href="{% url 'project-deny-request' project_request.pk %}" class="btn btn-danger mr-1">Deny</a>
              <a href="{% url 'project-request-email' project_request.pk %}" class="btn btn-info mr-1">Email</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info">
    No pending project requests!
  </div>
{% endif %}

<h2>Pending Project Reviews</h2>

{% if project_review_list %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">Expires On</th>
          <th scope="col">PI</th>
          <th scope="col">Grants Last Updated</th>
          <th scope="col">Publications Last Updated</th>
          <th scope="col">Allocation Renewals:</th>
          <th scope="col">Project Review Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_review in project_review_list %}
          <tr>
            <td><a target="_blank" href="{% url 'project-detail' project_review.project.pk %}">{{ project_review.project.title|truncatechars:50 }}</a></td>
            <td>{{ project_review.created|date:"M. d, Y" }}</td>
            <td>{{ project_review.project.end_date|date:"M. d, Y" }}</td>
            <td>{{ project_review.project.pi.first_name }} {{ project_review.project.pi.last_name }} ({{ project_review.project.pi.username }})</td>
            <td>{{ project_review.project.latest_grant.modified|date:"M. d, Y"|default:"No grants" }}</td>
            <td>{{ project_review.project.latest_publication.created|date:"M. d, Y"|default:"No publications" }}</td>
            <td>
              {% if project_review.allocation_renewals %}
                {% for allocation_pk in project_review.allocation_renewals|split:"," %}
                  <a target="_target" href="{% url 'allocation-detail' allocation_pk %}">{{ allocation_pk }}</a>
                {% endfor %}
              {% else %}
                No renewals
              {% endif %}
            </td>
            <td class="text-nowrap">
              <a href="{% url 'project-review-approve' project_review.pk %}" class="btn btn-success mr-1">Approve</a>
              <a href="{% url 'project-review-deny' project_review.pk %}" class="btn btn-danger mr-1">Deny</a>
              <a href="{% url 'project-review-info' project_review.pk %}" class="btn btn-info mr-1">Info</a>
              <a href="{% url 'project-review-email' project_review.pk %}" class="btn btn-info mr-1">Email</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info">
    No pending project reviews!
  </div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-director").addClass("active");
  $("#navbar-project-reviews").addClass("active");
</script>
{% endblock %}
