{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load common_tags %}


{% block title %}
Review Project
{% endblock %}


{% block content %}
<h2>Reviewing Project: {{project.title}}</h2>
<hr>

<div class="card-body">
  <p class="text-justify">{% settings_value 'CENTER_NAME' %} requires faculty to review their project information annually in order to renew their group’s accounts. The information provided by researchers is compiled and used to help make the case to the University for continued investment in {% settings_value 'CENTER_NAME' %}. Up-to-date and accurate information is crucial to our success. <a href="mailto:{% settings_value 'EMAIL_PROJECT_REVIEW_CONTACT' %}">Questions? Contact us</a></p>

  <p class="text-justify">Please update the following information:</p>

  <ol>
    <li><a href="{% url 'project-update' project.pk %}"><i class="fas fa-external-link-alt" aria-hidden="true"></i> Verify</a> your project description is accurate</li>
    <!-- <li><a href="{% url 'publication-search' project.pk %}"><i class="fas fa-external-link-alt" aria-hidden="true"></i> Add</a> Publications</li>
    <li><a href="{% url 'grant-create' project.pk %}"><i class="fas fa-external-link-alt" aria-hidden="true"></i> Add</a> Grants</li> -->
    <li><a href="{% url 'project-remove-users' project.pk %}"><i class="fas fa-external-link-alt" aria-hidden="true"></i> Verify</a> the user accounts in your group and remove any that should no longer have access to {% settings_value 'CENTER_NAME' %} resources</li>
  </ol>

  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <!-- <tr>
        <th scope="row" class="text-nowrap">Grants Last Updated:</th>
        <td>{{project.latest_grant.modified|date:"M. d, Y"|default:"No grants"}}</td>
      </tr>
      <tr>
        <th scope="row" class="text-nowrap">Publications Last Updated:</th>
        <td>{{project.latest_publication.created|date:"M. d, Y"|default:"No publications"}}</td>
      </tr> -->
      <tr>
        <th scope="row" class="text-nowrap">Users in project:</th>
        <td>{{project_users}}</td>
      </tr>
    </table>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">Allocations:</h4>
    </div>
    <div class="card-body">
      {% if formset %}
      <div class="card-text">
        <p>Please remove any users who no longer need access to these allocations. If you do not renew an allocation it will expire on its current end date.</p>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Resource</th>
              <th scope="col">Users</th>
              <th scope="col">Status</th>
              <th scope="col">Expires On</th>
              <th scope="col">Renew</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
              <tr>
                <td>
                  <a href="{% url 'allocation-detail' form.pk.value %}">{{ form.pk.value }}</a>
                </td>
                <td>{{ form.resource.value }}</td>
                <td>{{ form.users.value }}</td>
                <td>{{ form.status.value }}</td>
                <td>{{ form.expires_on.value }}</td>
                <td class="text-center">{{ form.renew }}</td>
                <td><a href="{% url 'allocation-remove-users' form.pk.value %}"><i class="fas fa-external-link-alt" aria-hidden="true"></i> Remove Users</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ formset.management_form }}
      {% else %}
        <p class="alert alert-info">This project has no active or expired allocations!</p>
      {% endif %}
    </div>
  </div>
  {{project_review_form|crispy}}
  <input class="btn btn-primary" type="submit" value="Submit" />
  <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Back to Project</a>
</form>

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");

  $(document).ready(function () {
    if ($('#id_no_project_updates').is(':checked')) {
      $('#div_id_project_updates').hide();
    }

    $('#id_no_project_updates').change(function (e) {
      if (e.target.checked) {
        $('#div_id_project_updates').hide();
      } else {
        $('#div_id_project_updates').show();
      }
    })
  })
</script>

{% endblock %}
