{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Create Project
{% endblock %}


{% block content %}
 <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="Next" />
  <a class="btn btn-secondary" href="{% url 'project-list' %}" role="button">Cancel</a>
</form>

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");

  $(document).ready(function() {
    $("#id_field_of_science").select2();

    class_name_label = $('label[for="id_class_number"]')
    class_name_label.html('Class Number*')

    var type_text = $("#id_type option:selected").text();
    if (type_text === "Class") {
      $("#div_id_class_number").show();
    } else {
      $("#div_id_class_number").hide();
    }
  });

  $("#id_type").change(function () {
    var type_text = $("#id_type option:selected").text();
    if (type_text === "Class") {
      $("#div_id_class_number").show();
    } else {
      $("#div_id_class_number").hide();
    }
  })
</script>
{% endblock %}
