{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project Review List
{% endblock %}


{% block content %}
<h2>Pending Project Requests</h2>

{% if project_request_list %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">PI</th>
          <th scope="col">Requestor</th>
          <th scope="col">Type</th>
          <th scope="col">Contacted</th>
          <th scope="col">Project Review Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_request in project_request_list %}
          <tr>
            <td><a target="_target" href="{% url 'project-detail' project_request.pk %}">{{ project_request.title|truncatechars:50 }}</a></td>
            <td>{{ project_request.created|date:"M. d, Y" }}</td>
            <td>
              <a href="#" data-toggle="modal" data-target="#id_pi_projects_modal" data-pi="{{project_request.pi.username}}" data-pk="{{project_request.pk}}">
                {{ project_request.pi.first_name }} {{project_request.pi.last_name}} ({{ project_request.pi.username }})
              </a>
            </td>
            <td>{{ project_request.requestor.first_name }} {{ project_request.requestor.last_name }} ({{ project_request.requestor.username }})</td>
            <td>{{ project_request.type.name }}</td>
            {% if project_request.status.name == 'Contacted By Admin' %}
              <td><span class="badge badge-success"><i class="fas fa-check-circle fa-lg"></i></i></span></td>
            {% else %}
              <td></td>
            {% endif %}
            <td class="no-textwrap" style="white-space: nowrap;">
              <a href="{% url 'project-activate-request' project_request.pk %}" class="btn btn-success mr-1">Activate</a>
              <a href="{% url 'project-deny-request' project_request.pk %}" class="btn btn-danger mr-1">Deny</a>
              {% if EMAIL_ENABLED %}
                <a href="{% url 'project-request-email' project_request.pk %}" class="btn btn-primary mr-1">Email</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info">
    No pending project requests!
  </div>
{% endif %}

<h2>Pending Project Renewals</h2>

{% if project_review_list %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Project Title</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">Expires On</th>
          <th scope="col">PI</th>
          <th scope="col">Project Updates</th>
          <th scope="col">Contacted</th>
          <th scope="col">Project Review Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_review in project_review_list %}
          <tr>
            <td><a target="_blank" href="{% url 'project-detail' project_review.project.pk %}">{{ project_review.project.title|truncatechars:50 }}</a></td>
            <td>{{ project_review.created|date:"M. d, Y" }}</td>
            <td>{{ project_review.project.end_date|date:"M. d, Y" }}</td>
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#id_pi_projects_modal"
                data-pi="{{project_review.project.pi.username}}"
                data-pk="{{project_review.project.pk}}"
                data-eligible="{{pi_eligibilities|get_value_from_dict:project_review.project.pi.username}}"
              \>
                {{ project_review.project.pi.first_name }} {{ project_review.project.pi.last_name }} ({{ project_review.project.pi.username }})
              </a>
              {% if not pi_eligibilities|get_value_from_dict:project_review.project.pi.username %}
                <a id="id_ineligible" href="#" class="notnavigable" data-toggle="popover" title="Not Eligible" data-trigger="hover" data-content="This user is not eligible to be a PI!">
                  <span class="badge badge-danger"><i class="fas fa-exclamation-circle"></i></span><span class="sr-only">${new_content}</span>
                </a>
              {% endif %}
            </td>
            <td>{{ project_review.project_updates|truncatechars:50 }}</td>
            {% if project_review.status.name == 'Contacted By Admin' %}
              <td><span class="badge badge-success"><i class="fas fa-check-circle fa-lg"></i></i></span></td>
            {% else %}
              <td></td>
            {% endif %}
            <td class="text-nowrap">
              <a href="{% url 'project-review-approve' project_review.pk %}" class="btn btn-success mr-1">Approve</a>
              <a href="{% url 'project-review-deny' project_review.pk %}" class="btn btn-danger mr-1">Deny</a>
              <a href="{% url 'project-review-info' project_review.pk %}" class="btn btn-primary mr-1">Info</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="alert alert-info">
    No pending project reviews!
  </div>
{% endif %}

<div id="id_pi_projects_modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="id_pi_projects_modal_label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="id_pi_projects_label">PI Projects</h4>
        
        <a
          style="font-size: 1.4em;"
          id="id_ineligible_modal"
          href="#"
          class="notnavigable ml-1"
          data-toggle="popover"
          title="Not Eligible"
          data-trigger="hover"
          data-content="This user is not eligible to be a PI!"
        \>
          <span class="badge badge-danger"><i class="fas fa-exclamation-circle"></i></span><span class="sr-only">${new_content}</span>
        </a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<script>
  pi_projects = {{ pi_projects | safe }};

  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-director").addClass("active");
  $("#navbar-project-reviews").addClass("active");

  $('a.notnavigable').click(function(e) {e.preventDefault();});

  $('#id_pi_projects_modal').on('show.bs.modal', function (event) {
    $('#id_pi_projects_modal .modal-body').html('')
    var link = $(event.relatedTarget);
    var pi = link.data('pi');
    var pk = link.data('pk');
    var eligible = link.data('eligible');
    console.log(eligible);
    if (eligible === 'False') {
      $('#id_ineligible_modal').show();
    } else {
      $('#id_ineligible_modal').hide();
    }
    var modal = $(this);
    for (let i = 0; i < pi_projects.length; i++) {
      project = pi_projects[i]
      if (project.pi === pi && project.pk !== pk) {
        $('#id_pi_projects_modal .modal-body').append(
        `<div class="card mb-3">\
          <div class="card-header">\
            <strong>${project.title}</strong>\
            <a title="Details" href="/project/${project.pk}" target="_blank">\
              <i class="far fa-folder-open" aria-hidden="true"></i><span class="sr-only">Details</span>\
            </a>\
          </div>\
          <div class="card-body">\
            ${project.description}\
          </div>\
          <div class="card-footer">
            <strong>Status:</strong> ${project.status}
          </div>
        </div>`
      );
      }
    }
  })
</script>
{% endblock %}
