{% load django_htmx %}
{% load i18n %}
{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            (function() {
              var theme = localStorage.getItem('theme');
              var prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
              document.documentElement.setAttribute('data-bs-theme', theme || (prefersDark ? 'dark' : 'light'));
            })();
        </script>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        {% if settings.DJANGO_VITE.default.dev_mode %}
            {% vite_hmr_client %}
            {% vite_asset "coldfront.ts" %}
        {% else %}
            <link rel="stylesheet" href='{% static "coldfront.css" %}?v={{ settings.VERSION }}'>
            <script type="module" crossorigin="" src='{% static "coldfront.js" %}?v={{ settings.VERSION }}'></script>
        {% endif %}
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'css/coldfront-site.css' %}">
        {% django_htmx_script %}

        <script type="text/javascript">
            window.CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        {# Page title #}
        <title>{% block title %}{% trans "Home" %}{% endblock %} | ColdFront</title>

        {# Additional <head> content #}
        {% block head %}{% endblock %}
    </head>

    <body>
        {# Page layout #}
        {% block layout %}{% endblock %}

        {% block javascript %}
        {% endblock %}

        {# Toast Alerts #}
        <c-alert.messages :messages="messages" :form="form" only />
    </body>
</html>
