{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="m-4">
        <form action="." method="post" class="object-edit">
            {% csrf_token %}

            <div id="form_fields">
                {% block form %}
                    <c-form :form="form" />
                {% endblock form %}
            </div>
            <div class="col-lg-9 text-end">
                <a href="{% url 'account:profile' %}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                <button type="submit" name="_update" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
