{% extends "list_view.html" %}

{% block title %}
Project List
{% endblock %}

{% block page_title%}Archived Projects{% endblock %}

{% block presearch %}
<div class="card mb-3 bg-light">
  <div class="card-body">
    <div class="float-left">
      <a class="btn btn-primary" href="{% url 'project-list' %}?{{filter_parameters}}" role="button"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back to active projects</a>
    </div>
  </div>
</div>
{% endblock %}


{% block list_title %}Archived and Inactive Projects: {{count}}{% endblock %}

{% block table_contents%}
<thead>
  <tr>
    <th scope="col" class="text-nowrap">
      ID
      <a href="?order_by=id&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort ID asc</span></a>
      <a href="?order_by=id&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort ID desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      PI
      <a href="?order_by=pi__username&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort PI asc</span></a>
      <a href="?order_by=pi__username&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort PI desc</span></a>
    </th>
    <th scope="col">Title and Description</th>
    <th scope="col" class="text-nowrap">
      Field of Science
      <a href="?order_by=field_of_science&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Field of Science asc</span></a>
      <a href="?order_by=field_of_science&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Field of Science desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      Status
      <a href="?order_by=status&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Status asc</span></a>
      <a href="?order_by=status&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Status desc</span></a>
    </th>
  </tr>
</thead>
<tbody>
  {% for project in item_list %}
    <tr>
      <td><a href="/project/{{project.id}}/">{{ project.id }}</a></td>
      <td>{{ project.pi.username }}: {{ project.pi.first_name }} {{ project.pi.last_name }}</td>
      <td style="text-align: justify; text-justify: inter-word;"><strong>Title: </strong> {{ project.title }}
        <br> <strong>Description: </strong>{{ project.description }}</td>
      <td>{{ project.field_of_science.description }}</td>
      <td>{{ project.status.name }}</td>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}


{% block activelink %}
$("#navbar-project-menu").addClass("active");
$("#navbar-project").addClass("active");
{% endblock %}
