{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load feature_flags %}

{% block title %}
Project List
{% endblock %}

{% block content %}

<h1>Join a Project</h1><hr>


<b>Requests Pending Manager Approval</b>
<hr>
<p>
  Below is a list of join requests that await approval by project managers.
  <b>
    Please contact a project manager or PI if your request has not been
    reviewed in a reasonable time frame.
  </b>
</p>
<p>
  Once a request is approved, a separate request for cluster access under
  the project will automatically be created, to be processed by cluster
  administrators. The statuses of those requests may be viewed on the
  <a href="{% url 'home' %}">home page</a> or on the project's detail page.
</p>
{% if not join_requests %}
  <hr>
  <div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
      No requests await approval by project managers.
  </div>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-nowrap">ID</th>
        <th scope="col" class="text-nowrap">Name</th>
        <th scope="col" class="text-nowrap">PIs</th>
        <th scope="col">Title</th>
        <th scope="col">Cluster</th>
      </tr>
    </thead>
    <tbody>
      {% for project in join_requests %}
        <tr>
          <td><a href="{% url 'project-detail' project.id %}">{{ project.id }}</a></td>
          <td>{{ project.name }}</td>
          <td>{% for pi in project.pis %}{{ pi.username }}<br>{% endfor %}</td>
          <td style="text-align: justify; text-justify: inter-word;">{{ project.title }}</td>
          <td>{{ project.cluster_name|upper }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<br>
<b>Make a New Request</b>
<hr>

{% if need_host %}
  <div>If you are joining your first project and are not an LBL employee with an LBL email (@lbl.gov), you must
    select an eligible PI to become your host user when requesting to join a project.</div>
    <hr>
{% endif %}

{% if expand_accordion == "show" or project_list or user.is_superuser%}
<div class="mb-3" id="accordion">
  <div class="card">
    <div class="card-header">
      <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne">
        <i class="fas fa-filter" aria-hidden="true"></i> Search
        <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
      </a>
    </div>
    <div id="collapseOne" class="collapse {{expand_accordion}}" data-parent="#accordion">
      <div class="card-body">
        <form id="filter_form" method="GET" action="{% url 'project-join-list' %}" autocomplete="off">
          {{ project_search_form|crispy }}
          <input type="submit" class="btn btn-primary" value="Search">
          <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if project_list %}
<strong>Projects: {{projects_count}}  </strong>

<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-nowrap">
          ID
          <a href="?order_by=id&direction=asc&{{filter_parameters}}">
            <span class="accessibility-link-text">Sort by Ascending ID</span>
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=id&direction=des&{{filter_parameters}}">
            <span class="accessibility-link-text">Sort by Descending ID</span>
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col" class="text-nowrap">
          Name
        </th>
        <th scope="col" class="text-nowrap">
          PIs
        </th>
        <th scope="col">Title</th>
        <th scope="col">Cluster</th>
<!--        <th scope="col" class="text-nowrap">-->
<!--          UCB Campus Division or Department-->
<!--          <a href="?order_by=field_of_science&direction=asc&{{filter_parameters}}">-->
<!--            <span class="accessibility-link-text">Sort by Ascending Field of Science</span>-->
<!--            <i class="fas fa-sort-up"></i>-->
<!--          </a>-->
<!--          <a href="?order_by=field_of_science&direction=des&{{filter_parameters}}">-->
<!--            <span class="accessibility-link-text">Sort by Descending Field of Science</span>-->
<!--            <i class="fas fa-sort-down"></i>-->
<!--          </a>-->
<!--        </th>-->
        <th scope="col" class="text-nowrap">
          Status
          <a href="?order_by=status&direction=asc&{{filter_parameters}}">
            <span class="accessibility-link-text">Sort by Ascending Status</span>
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=status&direction=des&{{filter_parameters}}">
            <span class="accessibility-link-text">Sort by Descending Status</span>
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col" class="text-nowrap">
          Join
        </th>
      </tr>
    </thead>
    <tbody>
      {% for project in project_list %}
      <tr>
        <td>
          <a href="/project/{{project.id}}/">
            <span class="accessibility-link-text">Project {{ project.id }}</span>
            {{ project.id }}
          </a>
        </td>
        <td>{{ project.name }}</td>
        <td>
          {% for pi in project.pis %}
            {{ pi.username }}<br>
          {% endfor %}
        </td>
        <td style="text-align: justify; text-justify: inter-word;">{{ project.title }}</td>
        <td>{{ project.cluster_name|upper }}</td>
<!--        <td>{{ project.field_of_science.description }}</td>-->
        <td>{{ project.status.name }}</td>
        <td>
          {% if project.name in not_joinable %}
            <a href="#" class="btn btn-primary disabled">
              <i class="fas fa-user-plus" aria-hidden="true"></i>
              Join
            </a>
          {% else %}
            <div class="modal fade" id="reason{{ project.pk }}Modal" tabindex="-1" role="dialog" aria-labelledby="reason{{ project.pk }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="{% url 'project-join' project.pk %}" method="post" id="reason{{ project.pk }}Form">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title">Join Project <b>{{ project.name }}</b></p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <label for="reason{{ project.pk }}Input">Reason*</label>
                            <textarea required id="reason{{ project.pk }}Input" aria-describedby="reason{{ project.pk }}Help" class="form-control" name="reason" minlength="20" maxlength="1000"></textarea>
                            <small id="reason{{ project.pk }}Help" class="form-text text-muted">Please provide a short reason that will be reviewed by the project managers.</small>
                            {% if need_host %}
                              {{ selecthostform_dict|get_value_from_dict:project.name | crispy }}
                            {% endif %}
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-user-plus" aria-hidden="true"></i>
                                Join
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            </div>

            <button class="btn btn-primary" data-toggle="modal" data-target="#reason{{ project.pk }}Modal">
                <i class="fas fa-user-plus" aria-hidden="true"></i>
                Join
            </button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  <ul class="pagination float-right mr-3">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{filter_parameters_with_order_by}}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %} {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{filter_parameters_with_order_by}}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% elif expand_accordion == "show"%}
<div class="alert alert-info">
  No search results!
</div>
{% else %}
<div class="alert alert-info">
  No projects to display!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-project-menu").addClass("active");
   $("#navbar-project").addClass("active");
</script>

<script>
$(document).on('click', '#form_reset_button', function() {
  resetForm($('#filter_form'));
});

function resetForm($form) {
  $form.find('input:text, textarea').val('');
};

$("#expand_button").click(function() {

  $('#collapseOne').collapse();
  icon = $("#plus_minus");
  icon.toggleClass("fa-plus fa-minus");

});
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% endblock %}
