{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}


{% block title %}
Project Detail
{% endblock %}


{% block content %}

{% if is_allowed_to_update_project and project.needs_review%}
<div class="alert alert-warning">
  You need to review this project. <a href="{% url 'project-review' project.pk %}">Review Project</a>
</div>
{% endif %}


<div id="alert_div">

</div>

{% if project.status.name == 'Archived' %}
<div class="alert alert-warning" role="alert">
  This is an archived project!  You cannot make any changes.
</div>
{% endif %}



<div class="mb-3">
<h1 class="text-justify">{{ project.name }}</h1> <hr>
</div>

{% if project.status.name != 'Archived' and is_allowed_to_update_project %}
  <div class="card mb-3 bg-light">
    <div class="card-header">
      <h2 class="d-inline"><i class="fas fa-cubes"></i></a> <a name="manage-project">Manage Project</a></h2>
      <div class="float-right">
          {% if project.status.name in 'Active, New' and is_allowed_to_update_project %}
            <a class="btn btn-primary" href="{% url 'project-update' project.pk %}" role="button"><i class="far fa-edit" aria-hidden="true"></i> Update Project Information</a>

            {% if is_allowed_to_archive_project %}
                <a class="btn btn-primary" href="{% url 'project-archive' project.pk %}" role="button"><i class="fas fa-file-archive" aria-hidden="true"></i> Archive Project</a>
            {% endif %}
          {% endif %}
      </div>
    </div>
    <div class="card-body">
      {% if project.status.name != 'Archived' %}
          {% if is_allowed_to_update_project %}
        <a class="btn btn-success" href="{% url 'project-add-users-search' project.pk %}" role="button"><i class="fas fa-user-plus" aria-hidden="true"></i> Add Users</a>
              {% endif %}
          <a class="btn btn-success" href="{% url 'project-review-join-requests' project.pk %}" role="button">
            <i class="fas fa-user-plus" aria-hidden="true"></i>
            Review Join Requests
            &nbsp;<span class="badge badge-light">{{ num_join_requests }}</span>
          </a>
        {% endif %}
        {% if renew_allowance_current_visible %}
          {% if renew_allowance_current_clickable %}
            <a
                class="btn btn-success"
                href="{% url 'project-renew' project.pk %}"
                role="button">
              <i class="fas fa-plus" aria-hidden="true"></i>
              Renew Allowance
            </a>
          {% else %}
            <button type="button" class="btn btn-success" disabled>
              <i class="fas fa-plus" aria-hidden="true"></i>
              Renew Allowance
            </button>
          {% endif %}
        {% endif %}
    </div>
  </div>

{% endif %}



<!-- Start Project Heading -->
<div class="card mb-3">
    <div class="card-header">
        <h2 class="d-inline">
            <i class="fas fa-server"></i>
            Project Information
        </h2>
    </div>
  <div class="card-body">
    <p class="card-title">
      <b>
        Principal Investigators:
        {% comment %}
          <a href=""><i class="far fa-envelope"></i></a>
        {% endcomment %}
      </b>
    </p>
    <ul class="list-group">
      {% for pi in project.pis %}
        <li class="list-group-item">
          {{ pi.first_name }} {{ pi.last_name }} ({{ pi.username }})
        </li>
      {% endfor %}
    </ul>
    <br>
    <p class="card-text text-justify"><strong>Title: </strong>{{ project.title }}</p>
    <p class="card-text text-justify"><strong>Description: </strong>{{ project.description }}</p>
    <p class="card-text text-justify">
      <strong>Cluster: </strong>
      {% if project.name|slice:":1" == "v" %}
        Vector
      {% else %}
        Savio
      {% endif %}
    </p>
<!--    <p class="card-text text-justify"><strong>UCB Campus Division or Department: </strong>{{ project.field_of_science }}</p>-->
    <p class="card-text text-justify"><strong>Project Status: </strong>{{ project.status }}
        {% if project.last_project_review and  project.last_project_review.status.name == 'Pending'%}
          <span class="badge badge-pill badge-info">project review pending</span>
        {% endif %}
    </p>
    <p class="card-text text-justify"><strong>Created: </strong>{{ project.created|date:"M. d, Y" }}</p>
    <p class="card-text text-justify">
      <strong>Requests to Join: </strong>
      User requests to join the project must be approved by a PI.
      {% if is_allowed_to_update_project %}
        <a href="{% url 'project-update' project.pk %}">
          <span class="accessibility-link-text">Update Project settings</span>
          <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
      {% endif %}
    </p>
  </div>
</div>

<!-- End Project Heading -->


<!-- Start Project Allocations -->
<div class="card mb-3">
  <div class="card-header">
    <h2 class="d-inline">
      <i class="fas fa-server"></i>
      Allocations
      <span class="badge badge-secondary">{{allocations.count}}</span>
    </h2>
    <div class="float-right">
      {% if purchase_sus_visible %}
        <a
            class="btn btn-success"
            href="{% url 'purchase-service-units-landing' project.pk %}"
            role="button">
          <i class="fas fa-dollar-sign" aria-hidden="true"></i>
          Purchase Service Units
        </a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {% if allocations %}
    <div class="table-responsive">
      <table id="allocation_table" class="table table-hover">
        <thead>
          <tr>
            <th>Resource Name</th>
<!--            <th>Resource Type</th>-->
            <th>Information</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th class="nosort">More Details</th>
          </tr>
        </thead>
        <tbody>
          {% for allocation in allocations %}
          <tr>
            <td>{{ allocation.get_parent_resource.name }}</td>
<!--            <td>{{ allocation.get_parent_resource.resource_type.name }}</td>-->
            <td class="text-nowrap">{{allocation.get_information}}</td>
            {% if allocation.status.name == 'Active' %}
              <td class="text-success">{{ allocation.status.name }}</td>
            {% elif  allocation.status.name == 'Expired' or allocation.status.name == 'Denied' %}
              <td class="text-danger">{{ allocation.status.name }}</td>
            {% else %}
              <td class="text-info">{{ allocation.status.name }}</td>
            {% endif %}
            <td>{{allocation.start_date|date:"Y-m-d"}}</td>
            <td>{{allocation.end_date|date:"Y-m-d"}}</td>
            <td>
              <a href="{% url 'allocation-detail' allocation.pk %}">
                <span class="accessibility-link-text">{{ allocation.get_parent_resource.name }} details</span>
                <i class="far fa-folder-open"></i>
              </a>
            </td>
            {% comment %}
            <td>
              <a href="{% url 'allocation-detail' allocation.pk %}"><i class="far fa-folder-open"></i></a>
              {% if is_allowed_to_update_project and ALLOCATION_ENABLE_ALLOCATION_RENEWAL and allocation.status.name == 'Active' and allocation.expires_in <= 60 and allocation.expires_in >= 0 %}
                <a href="{% url 'allocation-renew' allocation.pk %}">
                <span class="badge badge-warning"><i class="fas fa-redo-alt"></i>
                Expires in {{allocation.expires_in}} day{{allocation.expires_in|pluralize}} <br> Click to renew
                </span>
                </a>
              {% endif %}
            </td>
            {% endcomment %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
     <div class="alert alert-info" role="alert"><i class="fas fa-info-circle" aria-hidden="true"></i> There are no allocations to display.</div>
    {% endif %}
  </div>
</div>
<!-- End Project Allocations -->


<!-- Start Project Users -->
<div class="card mb-3">
  <div class="card-header">
  <h2 class="d-inline">
    <i class="fas fa-users"></i>
    <a name="users">Users</a>
    <span class="badge badge-secondary">{{project_users.count}}</span>
  </h2>
    <div class="float-right">
      {% if project.status.name != 'Archived' and is_allowed_to_update_project %}
        {% comment %}
          <a class="btn btn-primary" href="{{mailto}}" role="button"><i class="far fa-envelope"></i> Email Project Users</a>
        {% endcomment %}
        <a class="btn btn-success" href="{% url 'project-add-users-search' project.pk %}" role="button"><i class="fas fa-user-plus" aria-hidden="true"></i> Add Users</a>
        <a class="btn btn-danger" href="{% url 'project-remove-users' project.pk %}" role="button"><i class="fas fa-user-times" aria-hidden="true"></i> Remove Users</a>
      {% endif %}
    </div>
    <div class="float-right">
      {% if project.status.name != 'Archived' and can_leave_project %}
        <div class="modal fade" id="denial{{ user.pk }}Modal" tabindex="-1" role="dialog" aria-labelledby="denial{{ user.pk }}ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form action="{% url 'project-remove-self' project.pk %}" method="post">
              {% csrf_token %}

              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title">Leave Project: {{ project.name }}</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <label>Are you sure? You will immediately be disallowed from submitting jobs under this project.</label>

                  <br><b>User:</b> {{ user.email }}
                  <br><b>Project:</b> {{ project.name }}
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-danger mr-1" type="submit">
                    Yes, leave this project.
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <button class="btn btn-danger mr-1" data-toggle="modal" data-target="#denial{{ user.pk }}Modal">
          Leave Project
        </button>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>
              Role
              <a href="#" data-toggle="popover" title="Role" data-trigger="hover" data-content="Manager role grants user access to add/remove users, and allocations to the project.">
                <span class="accessibility-link-text">Role Help Text</span>
                <i class="fas fa-info-circle"></i>
              </a>
            </th>
            <th>Cluster Username</th>
            <th>Project Access on Cluster</th>

            {% if is_allowed_to_update_project %}
              <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for user in project_users %}
          <tr>
            <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
            <td>{{ user.user.email }}</td>
            <td>{{ user.role.name }}</td>
            <td>
              {% if user.user.userprofile.cluster_uid is not None %}
                {{ user.user.username }}
              {% else %}
                <span class="badge badge-danger">
                  No cluster account.
                </span>
              {% endif %}
            </td>
            <td>
              {% if user.cluster_access_status == "Active" %}
                <span class="badge badge-success">
                  Active
                </span>
              {% elif user.cluster_access_status == "Pending - Add" %}
                <span class="badge badge-warning">
                  Pending
                </span>
              {% elif user.cluster_access_status == "Processing" %}
                <span class="badge badge-warning">
                  Processing
                </span>
              {% else %}
                <span class="badge badge-danger">
                  No Access
                </span>
                {% if cluster_accounts_requestable and is_allowed_to_update_project and user.user in project.pis or user.user in project.managers  %}
                  <br><br>
                  <form action="{% url 'allocation-request-cluster-account' compute_allocation_pk user.user.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-terminal" aria-hidden="true"></i>
                      Request
                    </button>
                  </form>
                {% endif %}
              {% endif %}
            </td>
            {% if is_allowed_to_update_project %}
              <td>
                  <a href="{% url 'project-user-detail' project.pk user.id %}">
                    <span class="accessibility-link-text">{{ user.user.first_name }} {{ user.user.last_name }} Actions</span>
                    <i class="fas fa-user-edit"></i>
                  </a>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>
<!-- End Project Users -->


<!-- Start Admin Messages -->
<div class="card mb-3">
  <div class="card-header">
  <h2 class="d-inline">
    <i class="fas fa-users" aria-hidden="true"></i>
    Messages from System Administrators
    <span class="badge badge-secondary">{{project.projectusermessage_set.count}}</span>
  </h2>
  </div>
  <div class="card-body">
    {% if project.projectusermessage_set.all %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Comment</th>
              <th scope="col">Administrator</th>
              <th scope="col">Last Modified</th>
            </tr>
          </thead>
          <tbody>
            {% for message in project.projectusermessage_set.all %}
            <tr>
              <td>{{ message.message }}</td>
              <td>{{ message.author.first_name }} {{ message.author.last_name }}</td>
              <td>{{ message.modified }}</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fas fa-info-circle" aria-hidden="true"></i> There are no messages from system administrators.</div>
    {% endif %}

  </div>
</div>

<script>

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();

    $('#publication-table').DataTable({
      "iDisplayLength": 25,
      "bSortClasses": false,
      "order": [[ 1, "desc" ]]
    });
});
$('#allocation_table').DataTable({
'aoColumnDefs': [{
    'bSortable': false,
    'aTargets': ['nosort']
}]
});
$('#grant_table').DataTable({
'aoColumnDefs': [{
    'bSortable': false,
    'aTargets': ['nosort']
}]
});


$("[id^=email_notifications_for_user_id_]").change(function() {
  var checked = $(this).prop('checked');
  var user_project_id = Number($(this).attr('id').split("_").pop());

  $.ajax({
    headers: { 'X-CSRFToken': getCookie('csrftoken') },
    type: "POST",
    url: "/project/project-user-update-email-notification/",
    data: {
      user_project_id: user_project_id,
      checked: checked
    },
    success: function (data) {
      $("#alert_div").html('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Success!</strong> Email notification updated.</div>')
    },
    error: function (xhr, status, error) {
      $("#alert_div").html('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Error!</strong> Failed updating email notification.</div>')
    }
  });

  location.reload();
});

</script>

{% endblock %}
