{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block title %}
Merge Projects
{% endblock %}

{% block content %}
<h3>Merge Projects</h3>

{% if formset %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="card border-light">
    <div class="card-body">
      <h4>Projects List</h4>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">
                  <input type="checkbox" class="check" id="selectAll">
                </th>
                <th scope="col">ID</th>
                <th scope="col">PI</th>
                <th scope="col">Title</th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
                <tr>
                  <td>{{ form.selected }}</td>
                  <td>{{ form.id.value }}</td>
                  <td>{{ form.pi.value }}</td>
                  <td class="proj-title">{{ form.title.value }}</td>
                  <td class="proj-descript" style="display:none;">{{ form.description.value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {{ formset.management_form }}
    </div>
  </div>
  <div class="card border-light" id="proj-rename" style="display: none;">
    <div class="card-body">
      <h4>Merged Project Name and Description</h4>
      {{ rename|crispy }}
    </div>
  </div>
  <div class="card border-light">
    <div class="card-body">
      <!-- <p>Links between objects are NOT currently preserved.</p> -->
      <p id="not-enough-projs-notice" style="display:none;">
        <span class="text-info"><i class="fas fa-exclamation-circle"></i>Notice:</span>
        You do not have enough projects to merge.
        Please <a href="{% url 'project-create' %}">create</a> or
        <a href="{% url 'project-import' %}">import</a> more projects.
      </p>
      <p>
        <span class="text-danger"><i class="fas fa-exclamation-triangle"></i>WARNING:</span>
        Merging projects will archive the old projects and move all
        publications, grants, resource, etc to the new merged project.
        This operation is irrevocable!
      </p>
      <input class="btn btn-primary" type="submit" value="Merge">
      <a class="btn btn-secondary" href="{% url 'project-list' %}" role="button">Cancel</a>
    </div>
  </div>
</form>
{% else %}
  <a class="btn btn-secondary mb-3" href="{% url 'project-list' %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to project</a>
  <div class="alert alert-info">
    No projects to merge!
  </div>
{% endif %}

  <script>
    var rename_fields_touched = false;

    function create_rename()
    {
      if (rename_fields_touched)
      {
        return;
      }

      var rename_title = $("#id_title");
      var rename_descript = $("#id_description");

      var new_title = ""
      var new_descript = ""

      var projectforms = $("input[name^='projectform-']");
      var projtitles = $(".proj-title");
      var projdescripts = $(".proj-descript");

      for (let i = 0; i < projtitles.length; i++) {
        projform = projectforms[i]

        if ($(projform).prop('checked'))
        {
          new_title += $(projtitles[i]).html().trim() + " ";
          new_descript += $(projdescripts[i]).html().trim() + "\n";
          // console.log($(projtitles[i]))
        }
      }

      // console.log(new_title)

      $(rename_title).val(new_title);
      $(rename_descript).val(new_descript);
    }

    function autotoggle_rename(instant = false)
    {
      var projectforms = $("input[name^='projectform-']");
      var selected_projects = 0

      for (let i = 0; i < projectforms.length; i++) {
        projform = projectforms[i];
        
        if ($(projform).prop('checked') && !$(projform).is(":hidden"))
        {
          selected_projects += 1
        }
      }

      // console.log(selected_projects)

      var animtime = instant ? 0 : 400;

      if (selected_projects >= 2)
      {
        $("#proj-rename").slideDown(animtime);
        $(".btn-primary").prop('disabled', false);
        $(".btn-primary").prop('title', "");
      }
      else
      {
        $("#proj-rename").slideUp(animtime);
        $(".btn-primary").prop('disabled', true);
        $(".btn-primary").prop('title', "Select two or more projects.");
      }
    }

    $("document").ready(function() {
      autotoggle_rename(true);

      if ($(".proj-title").length < 2)
      {
        $("#not-enough-projs-notice").show();
      }
    });

    $("#selectAll").click(function () {
      $("input[name^='projectform-']").prop('checked', $(this).prop('checked'));

      autotoggle_rename();
      create_rename();
    });
  
    $("input[name^='projectform-']").click(function (ele) {
      var id = $(this).attr('id');
      if ( id != "selectAll") {
        $("#selectAll").prop('checked', false);
      }

      autotoggle_rename();
      create_rename();
    });

    $("#id_title").focus(function () {
      rename_fields_touched = true;
    });

    $("#id_description").focus(function () {
      rename_fields_touched = true;
    });
  </script>
{% endblock %}
