{% extends "list_view.html" %}

{% block title %}
Project List
{% endblock %}


{% block page_title%}Projects{% endblock %}

{% block presearch %}
<div class="card mb-3 bg-light">
  <div class="card-body">
    {% comment %}
    {% if user.userprofile.is_pi or user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'project-create' %}" role="button"><i class="fas fa-plus" aria-hidden="true"></i> Add a project</a>
    {% endif %}
    {% endcomment %}
    <div class="float-right">
      {% if request.user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'project-create' %}" role="button">
          <i class="fas fa-archive" aria-hidden="true"></i> Manually add a project
        </a>
      {% endif %}
      <a class="btn btn-primary" href="{% url 'project-archived-list' %}?{{filter_parameters}}" role="button"><i class="fas fa-archive" aria-hidden="true"></i> View archived projects</a>
    </div>
  </div>
</div>
{% endblock %}

{% block list_title %}Projects: {{count}}{% endblock %}

{% block table_contents%}
<thead>
  <tr>
    <th scope="col" class="text-nowrap">
      ID
    </th>
    <th scope="col" class="text-nowrap">
      PI
    </th>
    <th scope="col">Title</th>
    <th scope="col" class="text-nowrap">
      Field of Science
    </th>
    <th scope="col" class="text-nowrap">
      Status
    </th>
  </tr>
</thead>
<tbody>
  {% for project in item_list %}
  <tr>
    <td><a href="/project/{{project.id}}/">{{ project.id }}</a></td>
    <td>{{project.pi.first_name}} {{project.pi.last_name}} ({{ project.pi.username }}) </td>
    <td style="text-align: justify; text-justify: inter-word;">{{ project.title }}</td>
    <td>{{ project.field_of_science.description }}</td>
    <td>{{ project.status.name }}</td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}


{% block activelink %}
$("#navbar-project-menu").addClass("active");
$("#navbar-project").addClass("active");
{% endblock %}
