{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Add Project Notification
{% endblock %}


{% block content %}
<h2>Adding notification to {{project.title}} for PI {{ project.pi.first_name }}
  {{ project.pi.last_name }} ({{ project.pi.username }})</h2>

<form method="post">
  {% csrf_token %}
  {{form |crispy}}
  <input class="btn btn-success" type="submit" value="Add" />
  <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Back to
    Project</a><br>
</form>
{% endblock %}