{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Project User Detail
{% endblock %}

{% block content %}


<h1>Project User Detail</h1>

<h3>Project: {{project_obj.name}}</h3> <hr>

<form action="{% url 'project-user-detail' project_obj.pk project_user_obj.pk %}" method="post">
{% csrf_token %}
<div class="card">
  <div class="card-header"><i class="fas fa-user" aria-hidden="true"></i> User Detail</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th scope="row">First Name:</th>
          <td>{{project_user_obj.user.first_name}}</td>
        </tr>
        <tr>
          <th scope="row">Last Name:</th>
          <td>{{project_user_obj.user.last_name}}</td>
        </tr>
        <tr>
          <th scope="row">Email:</th>
          <td>{{project_user_obj.user.email}}</td>
        </tr>
        {% if project_user_obj.user in project_user_obj.project.pis %}
          <tr>
            <th scope="row">Role:</th>
            <td>{{project_user_obj.role}}</td>
          </tr>
          <tr>
            <th scope="row">Enable Notifications:</th>
            <td>{{project_user_update_form.enable_notifications}}</td>
          </tr>
        {% else %}
          <tr>
            <th scope="row">Role:</th>
            <td>{{project_user_update_form.role}}</td>
          </tr>
          {% if project_user_is_manager %}
              <tr>
                <th scope="row">Notifications Enabled:</th>
                <td>{{project_user_obj.enable_notifications|yesno:"Yes,No"}}</td>
              </tr>
          {% else %}
              <tr>
                <th scope="row">Enable Notifications:</th>
                <td>{{project_user_update_form.enable_notifications}}</td>
              </tr>
          {% endif %}
        {% endif %}
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary" href="{% url 'project-detail' project_obj.pk %}" role="button">Back to Project</a><br>
  </div>
</div>
</form>

<br>
<form action="{% url 'allocation-request-cluster-account' allocation_obj.pk project_user_obj.user.pk %}" method="post">
  {% csrf_token %}
  <div class="card">
    <div class="card-header">
      <i class="fas fa-terminal" aria-hidden="true"></i>
      Cluster Access
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th scope="row">Cluster Username:</th>
            {% if project_user_obj.user.userprofile.cluster_uid is not None %}
              <td>
                {{project_user_obj.user.username}}
              </td>
            {% else %}
              <td>
                <span class="badge badge-danger">
                  No cluster account.
                </span>
              </td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Project Access on Cluster:</th>
            <td>
              {% if cluster_access_status == 'Active' %}
                <span class="badge badge-success">
                  Active
                </span>
              {% elif cluster_access_status == 'Pending - Add' %}
                <span class="badge badge-warning">
                  Pending
                </span>
              {% elif cluster_access_status == 'None' %}
                <span class="badge badge-danger">
                  No Access
                </span>
                {% if project_user_obj.user in project_user_obj.project.pis or project_user_obj.user in project_user_obj.project.managers %}
                  <br><br>
                  <form action="{% url 'allocation-request-cluster-account' allocation_obj.pk project_user_obj.user.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-terminal" aria-hidden="true"></i>
                      Request Cluster Access
                    </button>
                  </form>
                {% endif %}
              {% else %}
                Failed to retrieve status. Please contact an administrator.
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</form>

{% endblock%}
