{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Archive Project
{% endblock %}

{% block content %}
<h1> Archiving Project </h1>

<!-- Start Project Heading -->
<div class="card mb-3">
  <div class="card-body">
    <h4 class="card-title">
      Principal Investigators:
      <a href=""><i class="far fa-envelope"></i></a>
    </h4>
    <ul class="list-group">
      {% for pi in project.pis %}
        <li class="list-group-item">
          {{ pi.first_name }} {{ pi.last_name }} ({{ pi.username }})
        </li>
      {% endfor %}
    </ul>
    <br>
    <p class="card-text text-justify"><strong>Description: </strong>{{ project.description }}</p>
    <p class="card-text text-justify"><strong>Field of Science: </strong>{{ project.field_of_science }}</p>
    <p class="card-text text-justify"><strong>Status: </strong>{{ project.status}}</p>
  </div>
</div>

<div class="alert alert-danger" role="alert">
  <form method="post">{% csrf_token %}
    Are you sure you want to archive this project? This will expire all your
    allocations on this project, which will disable your group's access to the
    resources in those allocations. <br>
    <input class="btn btn-danger" type="submit" value="Yes" />
    <a class="btn btn-secondary" href="{% url 'project-detail' project.id %}"
      role="button">Cancel</a><br>
  </form>
</div>

{% endblock %}
