{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Project Join Requests
{% endblock %}


{% block content %}
<h1>Project Join Requests</h1>

<div class="table-responsive">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
            Below are pending project join requests. Managers or PIs of the project must
            approve/deny the requests. Once a request is approved, a separate request for
            cluster access under the project will automatically be created, to be processed
            by cluster administrators.
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% if expand_accordion == "show" %}
  <div class="mb-3" id="accordion">
    <div class="card">
      <div class="card-header">
        <a id="expand_button" role="button" class="card-link " data-toggle="collapse" href="#collapseOne">
          <i class="fas fa-filter" aria-hidden="true"></i> Search
          <i id="plus_minus" class="fas {{expand_accordion|get_icon}} float-right"></i>
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <form id="filter_form" method="GET" action="{% url 'project-join-request-list' %}" autocomplete="off">
              {{ join_request_search_form|crispy }}
              <input type="submit" class="btn btn-primary" value="Search">
              <button id="form_reset_button" type="button" class="btn btn-secondary">Reset</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if join_request_list %}
<div class="card border-light">
    <div class="card-body">
        <div class="table-responsive">
          {% with queryset=join_request_list %}
            {% include 'project/project_join_request_list_table.html' %}
          {% endwith %}
          {% if is_paginated %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            <ul class="pagination float-right mr-3">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{filter_parameters_with_order_by}}">Previous</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{filter_parameters_with_order_by}}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info">
  No pending project join requests!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-nonadmin-staff").addClass("active");
  $("#navbar-project-join-request-list").addClass("active");
</script>

<script>
  $(document).on('click', '#form_reset_button', function() {
    resetForm($('#filter_form'));
  });

  function resetForm($form) {
    $form.find('input:text, textarea').val('');
    $("select").val('');
  };

  $("#expand_button").click(function() {

    $('#collapseOne').collapse();
    icon = $("#plus_minus");
    icon.toggleClass("fa-plus fa-minus");

  });
</script>

{% endblock %}
