{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Create Project
{% endblock %}


{% block content %}
<h2>Creating a new Project</h2>

<p>Enter the name of an AD group you would like to manually add to Coldfront
  and a short description.
  Upon submission, Coldfront will check AD for the group and add it to the database
  if it exists.
</p>

 <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="Save" />
  <a class="btn btn-secondary" href="{% url 'project-list' %}" role="button">Cancel</a>
</form>

<script>
  $(document).ready(function() {
    $('#id_field_of_science').select2();
  });
</script>
{% endblock %}
