{% extends "common/base.html" %} 
{% load crispy_forms_tags %} 
{% load static %} 

{% block title %} Remove Users from Project {% endblock %} 

{% block content %}
<h1>Remove users from project: {{project.title}}</h1>
<hr>
{% if formset %}
<div class="card border-light">
  <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>
                <input type="checkbox" class="check" id="selectAll">
              </th>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
            <tr>
              <td>{{ form.selected }}</td>
              <td>{{ forloop.counter }}</td>
              <td>{{ form.username.value }}</td>
              <td>{{ form.first_name.value }}</td>
              <td>{{ form.last_name.value }}</td>
              <td>{{ form.email.value }}</td>
              <td>{{ form.role.value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
       <div>

           <button class="btn btn-danger mr-1" data-toggle="modal" data-target="#denial{{ user.pk }}Modal">
               Remove Selected Users From Projecttttt
           </button>
        <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a>
        <br>
      </div>
  </div>
</div>
    <div class="modal fade" id="denial{{ user.pk }}Modal" tabindex="-1" role="dialog" aria-labelledby="denial{{ user.pk }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{% url 'project-remove-users' project.pk %}" method="post">
                {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Leave Project</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <label>Are You Sure?</label>

                    <br><b>User:</b> {{ user.email }}
                    <br><b>Project:</b> {{ project.name }}
                </div>
                {{ formset.management_form }}

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger mr-1" type="submit">
                        Poggers
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
{% else %} 
  <a class="btn btn-secondary mb-3" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a> 
  <div class="alert alert-info">
    No users to remove!
  </div>
{% endif %}


<script>
$("#selectAll").click(function() {
  $("input[name^='userform-']").prop('checked', $(this).prop('checked'));
});

$("input[name^='userform-']").click(function(ele) {
  var id = $(this).attr('id');
  if (id != "selectAll") {
    $("#selectAll").prop('checked', false);
  }
});
</script>
{% endblock %}
