{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Remove Users from Project {% endblock %}

{% block content %}
<h2>Remove users from project: {{project.title}}</h2>
<hr>

{% if formset or users_no_removal %}
  <div class="card border-light">
    <div class="card-body">
      <p>
        Project users have the ability to access storage allocations. Removing a user here
        will remove the user's access to your project's storage allocations, but will not
        remove that user's data from the allocations.
      </p>
      <p>
        To be removed from a lab, the user must not have the lab as their primary
        group. If you would like to remove a user that has your lab as their primary
        group, please <a href="mailto:{{ EMAIL_ACCOUNT_TICKET_EMAIL }}?subject=User removal request for Project {{ project.title }}">
        contact FASRC support</a>.
      </p>
      <form action="{% url 'project-remove-users' project.pk %}" method="post">
        {% csrf_token %}
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" class="check" id="selectAll">
                </th>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users_no_removal %}
              <tr>
                <td></td>
                <td></td>
                <td style="color: gray;">{{ user.username }}</td>
                <td style="color: gray;">{{ user.first_name }}</td>
                <td style="color: gray;">{{ user.last_name }}</td>
                <td style="color: gray;">{{ user.email }}</td>
                <td style="color: gray;">{{ user.role }}</td>
              </tr>
              {% endfor %}
              {% for form in formset %}
                <tr>
                  <td>{{ form.selected }}</td>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ form.username.value }}</td>
                  <td>{{ form.first_name.value }}</td>
                  <td>{{ form.last_name.value }}</td>
                  <td>{{ form.email.value }}</td>
                  <td>{{ form.role.value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {{ formset.management_form }}
        <div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-user-minus" aria-hidden="true"></i> Remove Selected Users From Project</button>
          <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a>
          <br>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <a class="btn btn-secondary mb-3" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a>
  <div class="alert alert-info">
    No users to remove!
  </div>
{% endif %}

<script>
  $("#selectAll").click(function() {
    $("input[name^='userform-']").prop('checked', $(this).prop('checked'));
  });

  $("input[name^='userform-']").click(function(ele) {
    var id = $(this).attr('id');
    if (id != "selectAll") {
      $("#selectAll").prop('checked', false);
    }
  });
</script>
{% endblock %}
