{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Subscription Invoice Detail
{% endblock %}


{% block content %}

{% if subscription.project.status.name == 'Archived' %}
<div class="alert alert-warning" role="alert">
  This is a subscription from an archived project! You cannot make any changes.
</div>
{% endif %}

<div class="mb-3">
<h1>Subscription Invoice</h1> <hr>
</div>

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {{ form.non_field_errors }}
</div>
{% endif %}




<div class="card mb-3">
  <div class="card-header">
  <h4><i class="fas fa-list"></i> Subscription Information</h4>
  </div>
  <div class="card-body">
    <form method="post">
    {% csrf_token %}
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <tr>
          <th style="white-space:nowrap;">Project:</th>
          <td>
            {% if request.user.is_superuser %}
              <a href="{% url 'project-detail' subscription.project.pk %}">{{ subscription.project }}</a></td>
            {% else %}
              {{ subscription.project }}
            {% endif %}
        </tr>
        <tr>
          <th style="white-space:nowrap;">Principal Investigator:</th>
          <td>
              {{ subscription.project.pi.first_name }} {{ subscription.project.pi.last_name }} ({{ subscription.project.pi.email }})
          </td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Resource{{ subscription.resources.all|pluralize }} in subscription:</th>
          <td>{{ subscription.get_resources_as_string }}</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Quantity:</th>
          <td>
              {{ subscription.quantity }}
          </td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Status:</th>
          <td>
              {{ form.status }}
          </td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Created:</th>
          <td>{{ subscription.created }}</td>
        </tr>
        <tr>
          <th style="white-space:nowrap;">Last Modified:</th>
          <td>{{ subscription.modified }}</td>
        </tr>
      </table>
    </div>
    {% if request.user.is_superuser or perms.subscription.can_manage_invoice%}
    <button type="submit" class="btn btn-success float-right"><i class="fas fa-sync"></i> Update</button>
    {% endif %}
  </form>

  </div>
</div>

<!-- Start Admin Messages -->
<div class="card mb-3">
  <div class="card-header">
  <h4 class="d-inline"><i class="fas fa-users"></i> Notes from Staff </h4> <span class="badge badge-secondary">{{subscription.subscriptionusernote_set.count}}</span>
   <div class="float-right">
        <a class="btn btn-success" href="{% url 'subscription-add-invoice-note' subscription.pk %}" role="button"><i class="fas fa-plus"></i> Add Note</a>
        <a class="btn btn-danger" href="{% url 'subscription-delete-invoice-note' subscription.pk %}" role="button"><i class="fas fa-minus"></i> Delete Notes</a>
    </div>
  </div>
  <div class="card-body">
    {% if subscription.subscriptionusernote_set.all %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Comment</th>
              <th>Author</th>
              <th>Last Modified</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for note in subscription.subscriptionusernote_set.all %}
            <tr>
              <td>{{ note.note }}</td>
              <td>{{ note.author.first_name }} {{ note.author.last_name }} ({{ note.author.username }})</td>
              <td>{{ note.modified }}</td>
              <td><a href="{% url 'subscription-update-invoice-note' note.pk %}"><i class="fas fa-edit"></i></a></td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> There are no messages from system administrators.</div>
    {% endif %}

  </div>
</div>



{% endblock %}
