{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Subscription Invoice LIst
{% endblock %}

{% block content %}
<h1>Subscriptions that require payment</h1>
{% if subscription_list %}
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Resource</th>
        <th>Status</th>
        <th>PI</th>
      </tr>
    </thead>
    <tbody>
      {% for subscription in subscription_list %}
      <tr>
        <td><a target="_blank" href="{% url 'subscription-invoice-detail' subscription.pk %}">{{subscription.pk}}</td>
        <td>{{subscription.get_resources_as_string}}</td>
        <td>{{subscription.status}}</td>
        <td >{{subscription.project.pi.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-info">
  No subscriptions requiring payment!
</div>
{% endif %}

{% endblock %}
