{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load common_tags %} 
{% load static %}


{% block title %}
Add Subscription Attribute 
{% endblock %}


{% block content %}

<h2>Adding subscription attribute to {{subscription.get_parent_resource}} for PI {{ subscription.project.pi.first_name }} {{ subscription.project.pi.last_name }} ({{ subscription.project.pi.username }})</h2>


<form method="post">
    {% csrf_token %}
    {{form |crispy}}
    <input class="btn btn-success" type="submit" value="Add" />
    <a class="btn btn-secondary" href="{% url 'subscription-detail' subscription.pk %}" role="button">Back to Subscription</a><br>
</form>






{% endblock %}
