{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Subscription Review New and Pending Requests
{% endblock %}


{% block content %}


<h1>Subscription Requests</h1>
{% if subscription_list %}
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Date Requested/<br>Last Modified</th>
        <th>Project Title</th>
        <th>PI</th>
        <th>Resource</th>
        {% if PROJECT_ENABLE_PROJECT_REVIEW %}
          <th style="white-space:nowrap;">Project Review Status</th>
        {% endif %}
        <th>Status</th>
        <th>Subscription Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for subscription in subscription_list %}
      <tr>
        <td><a href="{% url 'subscription-detail' subscription.pk %}">{{subscription.pk}}</a></td>
        <td >{{ subscription.modified|date:"M. d, Y" }}</td>
        <td><a href="{% url 'project-detail' subscription.project.pk %}">{{subscription.project.title|truncatechars:50}}</a></td>
        <td>{{subscription.project.pi.first_name}} {{subscription.project.pi.last_name}} ({{subscription.project.pi.username}})</td>
        <td>{{subscription.get_parent_resource}}</td>
        {% if PROJECT_ENABLE_PROJECT_REVIEW %}
          <td class="text-center">{{subscription.project|convert_status_to_icon}}</td>
        {% endif %}
        <td>{{subscription.status}}</td>
        <td style="white-space:nowrap;">
          <a href="{% url 'subscription-activate-request' subscription.pk %}" class="btn btn-success mr-1">Activate</a>
          <a href="{% url 'subscription-deny-request' subscription.pk %}" class="btn btn-danger mr-1">Deny</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-info">
  No new or pending subscription requests!
</div>
{% endif %}



<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
   $("#navbar-subscription-requests").addClass("active");
</script>

{% endblock %}
