{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Secure Directory Request - Setup
{% endblock %}


{% block content %}
<h1>Setup</h1>
<hr>

<p>
  Please perform secure directory setup on the cluster.
</p>

{% include 'secure_dir/secure_dir_request/secure_dir_request_card.html' with secure_dir_request=secure_dir_request %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Review
    </h4>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a href="{% url 'secure-dir-request-detail' secure_dir_request.pk %}" class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
</div>

{% endblock %}
