<footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
  <div class="row pad">
      <p class="signature">
          <a href="https://www.iu.edu" class="signature-link signature-img"><img src="//assets.iu.edu/brand/3.2.x/iu-sig-formal.svg" alt="Indiana University"/></a>
      </p>

      <p class="copyright">
          <span class="line-break">
              <a href="https://accessibility.iu.edu/assistance/" id="accessibility-link" title="Having trouble accessing this web page content? Please visit this page for assistance.">Accessibility</a> | <a href="/privacy/" id="privacy-policy-link">Privacy Notice</a>
          </span>
          <span class="hide-on-mobile"> | </span>
          <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; 2021 <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url">
                  <span itemprop="name">Indiana University</span></a>
          </span>
      </p>
  </div>
</footer>