{% load static %}
<div id="branding-bar" class="iu" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
	<div class="row pad">
			<img src="//assets.iu.edu/brand/3.2.x/trident-large.png" alt="" />
			<p id="iu-campus">
				<a href="https://www.iu.edu" title="Indiana University">
					<span id="campus-name" class="show-on-desktop" itemprop="name">Indiana University</span>
					<span class="show-on-tablet" itemprop="name">Indiana University</span>
					<span class="show-on-mobile" itemprop="name">IU</span>
				</a>
			</p>
	</div>
</div>
