{% extends 'ras/base.html' %}
{% load buttons %}
{% load i18n %}

{% block breadcrumbs %}
    {% if object.tenant %}
        <li class="breadcrumb-item">
            <a href="{% url 'ras:project_list' %}?tenant_id={{ object.tenant.id }}">{{ object.tenant }}</a>
        </li>
    {% elif object.project.tenant %}
        <li class="breadcrumb-item">
            <a
                href="{% url 'ras:project_list' %}?tenant_id={{ object.project.tenant.id }}"
            >{{ object.project.tenant }}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">{{ object.project|linkify }}</li>
    <li class="breadcrumb-item"><a href="{% url 'ras:project_allocations' pk=object.project.pk %}">Allocations</a></li>
{% endblock %}

{% block extra_controls %}
    {% if transitions %}
        {% action_buttons transitions object %}
    {% endif %}
{% endblock extra_controls %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields only>
                <c-slot name="header">
                    Allocation <c-ui.badge value="{{object.status|title}}" :bg_color="object.get_status_color" />
                </c-slot>

                <c-card.fields.item label="{% trans 'Slug' %}">
                    {{ object.slug }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Project' %}">
                    {{ object.project|linkify }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Owner' %}">
                    {{ object.owner }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Start Date' %}">
                    {{ object.start_date|isodate }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'End Date' %}">
                    {{ object.end_date|isodate }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Resources' %}">
                    <div>
                        <c-ui.badge
                            :value="object.resource_object"
                            link="{{ object.resource_object.get_absolute_url }}"
                        />
                    </div>
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Justification' %}">
                    {{ object.justification|placeholder }}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
            <c-card.related_objects :object="object" :models="related_models" only />
        </c-slot>

        <c-slot name="right">
            {% if object.attributes %}
                <c-card.fields header="{% trans 'Attributes' %}" only>
                    {% for k, v in object.attributes.items %}
                        <c-card.fields.item :label="k">
                            {{ v|placeholder }}
                        </c-card.fields.item>
                    {% endfor %}
                </c-card.fields>
            {% endif %}

            <c-card.custom_fields :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
