{% extends 'ras/base.html' %}
{% load i18n %}

{% block extra_controls %}
    {{ block.super }}
    {% if perms.ras.request_allocation %}
        <c-button.request
            url="{% url 'ras:project_allocationrequest' pk=object.pk %}?return_url={% url 'ras:project_allocations' pk=object.pk %}"
            label='{% trans "Request Allocation" %}'
        />
    {% endif %}
{% endblock extra_controls %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Slug' %}">
                    {{ object.slug }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Owner' %}">
                    {{ object.owner.first_name }} {{ object.owner.last_name }} ({{ object.owner.username }})
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.custom_fields :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
