{% extends 'ras/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Resource Type' %}">
                    <c-ui.badge
                        link="{{ object.resource_type.get_absolute_url }}"
                        :value="object.resource_type"
                        :color="object.resource_type.color"
                    />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Status' %}">
                    <c-ui.badge :value="object.status" :bg_color="object.get_status_color" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Locked' %}">
                    <c-ui.checkmark :value="object.locked" />
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
            <c-card.related_objects :object="object" :models="related_models" only />
        </c-slot>

        <c-slot name="right">
            <c-card.custom_fields :object="object" only />
            <c-card.schema :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
