<div class="card mb-3">
  <div class="card-header">
    <h2>
      <i class="fas fa-info-circle" aria-hidden="true"></i>
      Request Information
      {% with status=addition_request.status.name %}
        {% if status == 'Under Review' %}
          <span class="badge badge-warning" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% elif status == 'Complete' %}
          <span class="badge badge-success" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% else %}
          <span class="badge badge-danger" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% endif %}
      {% endwith %}
    </h2>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">
      <strong>Request #: </strong>
      {{ addition_request.pk }}
    </p>
    <p class="card-text text-justify">
      <strong>Date Requested/Last Modified: </strong>
      {{ addition_request.modified|date:"M. d, Y" }}
    </p>
    <p class="card-text text-justify">
      <strong>Requester: </strong>
      {% with requester=addition_request.requester %}
        {{ requester.first_name }} {{ requester.last_name }} ({{ requester.email }})
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>Project: </strong>
      <a href="{% url 'project-detail' addition_request.project.pk %}">
          <span class="accessibility-link-text">{{ addition_request.project.name }}</span>
          {{ addition_request.project.name }}
      </a>
    </p>
    <p class="card-text text-justify">
      <strong>Number of Service Units: </strong>
      {{ addition_request.num_service_units }}
    </p>
    <p class="card-text text-justify">
      <strong>Purchase Details: </strong>
      <button id="view-purchase-details" class="btn btn-primary" role="button">
        View
      </button>
    </p>
  </div>
</div>