{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Purchase Service Units
{% endblock %}


{% block content %}
<h1>Purchase Service Units for {{ project.name }}</h1><hr>

<p>
  Project {{ project.name }} is eligible to purchase additional Service Units
  for use on the Savio cluster.
</p>
<p>
  <b>Current Usage:</b>
  {{ current_usage }}/{{ current_allowance }} ({{ usage_percentage}})
</p>

<p>
  The PIs and managers of the Project will be contacted to provide a signed
  Memorandum of Understanding as part of the approval process.
</p>

<p>
  Note: A Project may only have one pending request at a time.
</p>


{% if not has_pending_request %}
  <a
      class="btn btn-primary"
      href="{% url 'purchase-service-units' project.pk %}">
    Continue
  </a>
{% else %}
  <button type="button" class="btn btn-primary" disabled>
    Continue
  </button>
{% endif %}
<a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}">
  Back
</a>

<hr>

<h1>Pending Requests</h1>

<div class="row">
  <div class="col-lg-12 mt-2">
    <p>
      You may view your
      <a href="{% url 'service-units-purchase-pending-request-list' %}">
        pending
      </a>
      renewal requests.
    </p>
    <p>
      You may also view your
      <a href="{% url 'service-units-purchase-completed-request-list' %}">
        completed
      </a>
      renewal requests.
    </p>
  </div>
</div>

{% endblock %}
