<div class="card mb-3">
  <div class="card-header">
    <h2>
      <i class="fas fa-info-circle" aria-hidden="true"></i>
      Request Information
    </h2>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">
      <strong>Request #: </strong>
      {{ addition_request.pk }}
    </p>
    <p class="card-text text-justify">
      <strong>Date Requested/Last Modified: </strong>
      {{ addition_request.modified|date:"M. d, Y" }}
    </p>
    <p class="card-text text-justify">
      <strong>Requester: </strong>
      {% with requester=addition_request.requester %}
        {{ requester.first_name }} {{ requester.last_name }} ({{ requester.email }})
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>Project: </strong>
      {{ addition_request.project.name }}
    </p>
    <p class="card-text text-justify">
      <strong>Number of Service Units: </strong>
      {{ addition_request.num_service_units }}
    </p>
    <p class="card-text text-justify">
      <strong>Purchase Details: </strong>
      <button id="view-purchase-details" class="btn btn-primary" role="button">
        View
      </button>
    </p>
  </div>
</div>