{% extends 'slurm/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Allocation' %}">
                    {{ object.allocation|linkify }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Resource' %}">
                    {{ object.allocation.resource_object|linkify }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Slurm Account' %}">
                    {{ object.slurm_account|linkify }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Parent' %}">
                    {{ object.parent|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Default QOS' %}">
                    {{ object.default_qos|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Fairshare' %}">
                    {{ object.fairshare }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Max Jobs' %}">
                    {{ object.max_jobs|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Max Submit Jobs' %}">
                    {{ object.max_submit_jobs|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Max TRES per Job' %}">
                    {{ object.max_tres_per_job|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Max TRES Minutes per Job' %}">
                    {{ object.max_tres_mins_per_job|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Max Wall Duration per Job' %}">
                    {{ object.max_wall_duration_per_job|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'QOS Add' %}">
                    {% for qos in object.qos_add.all %}
                        <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                    {% empty %}
                        {{ ""|placeholder }}
                    {% endfor %}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'QOS Remove' %}">
                    {% for qos in object.qos_remove.all %}
                        <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                    {% empty %}
                        {{ ""|placeholder }}
                    {% endfor %}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.custom_fields :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
