{% extends 'slurm/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Cluster' %}">
                    <c-ui.badge link="{{ object.cluster.get_absolute_url }}" :value="object.cluster" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Name' %}">
                    {{ object.name }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Fairshare' %}">
                    {{ object.fairshare|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'QOS Add' %}">
                    {% for qos in object.qos_add.all %}
                        <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                    {% empty %}
                        {{ ""|placeholder }}
                    {% endfor %}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'QOS Remove' %}">
                    {% for qos in object.qos_remove.all %}
                        <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                    {% empty %}
                        {{ ""|placeholder }}
                    {% endfor %}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.custom_fields :object="object" only />
            <c-card.related_objects :object="object" :models="related_models" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
