{% extends 'slurm/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Locked' %}">
                    <c-ui.checkmark :value="object.locked" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Tenant' %}">
                    {{ object.tenant|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Default QOS' %}">
                    {{ object.default_qos|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Fairshare' %}">
                    {{ object.fairshare }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Features' %}">
                    {{ object.features|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Classification' %}">
                    {{ object.classification|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'QOS List' %}">
                    {% for qos in object.qos_list.all %}
                        <c-ui.badge link="{{ qos.get_absolute_url }}" :value="qos" />
                    {% empty %}
                        {{ ""|placeholder }}
                    {% endfor %}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.custom_fields :object="object" only />
            <c-card.related_objects :object="object" :models="related_models" only />
        </c-slot>

        <c-slot name="bottom">
            <c-card.schema :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
