{% extends 'ras/base.html' %}

{% block breadcrumbs %}
    {% if object.tenant %}
        <li class="breadcrumb-item">
            <a href="{% url 'ras:project_list' %}?tenant_id={{ object.tenant.id }}">{{ object.tenant }}</a>
        </li>
    {% elif object.project.tenant %}
        <li class="breadcrumb-item">
            <a
                href="{% url 'ras:project_list' %}?tenant_id={{ object.project.tenant.id }}"
            >{{ object.project.tenant }}</a>
        </li>
    {% endif %}
    <li class="breadcrumb-item">{{ object.project|linkify }}</li>
    <li class="breadcrumb-item"><a href="{% url 'ras:project_allocations' pk=object.project.pk %}">Allocations</a></li>
{% endblock %}
