{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load Bootstrap4 -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <!-- Load d3.js and c3.js -->
  <link href="{% static 'c3js/c3.min.css' %}" rel="stylesheet">

  <script src="{% static 'd3/d3.v5.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'c3js/c3.min.js' %}"></script>

  <!-- select2 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- Datatable -->
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

   <!-- Custom -->
  <link rel="stylesheet" href="{% static 'common/css/common.css' %}">

  <title>{% block title %}Welcome to ColdFront {% endblock %}</title>
</head>

<body>
  {% include "su/is_su.html" %}
  <header>
    {% if user.is_authenticated %}
      {% include 'common/authorized_navbar.html' %}
    {% else %}
      {% include 'common/nonauthorized_navbar.html' %}
    {% endif %}
  </header>

  <!-- Begin page content -->
  <main class="container">
    {% include 'common/messages.html' %} 
    {% block content %} 
      Content goes here! 
    {% endblock %}
  </main>

  {% include 'common/footer.html' %}
  {% block javascript %} {% endblock %}
</body>

</html>
