{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/images/apple-touch-icon.png' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'common/images/favicon.ico' %}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'common/site.webmanifest' %}">

  <!-- Load Bootstrap4 -->
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'flatpickr/flatpickr.min.css' %}">

  <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'flatpickr/flatpickr.js' %}"></script>

  <!-- Fontawesome CSS -->
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Load d3.js and c3.js -->
  <link href="{% static 'c3js/c3.min.css' %}" rel="stylesheet">

  <script src="{% static 'd3/d3.v5.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'c3js/c3.min.js' %}"></script>

  <!-- select2 -->
  <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
  <script src="{% static 'select2/select2.min.js' %}"></script>

  <!-- Datatable -->
  <link href="{% static 'datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
  <script src="{% static 'datatable/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'datatable/dataTables.bootstrap4.min.js' %}"></script>

   <!-- Custom -->
  <link rel="stylesheet" href="{% static 'common/css/common.css' %}">

  <title>{% block title %}Welcome to ColdFront {% endblock %}</title>
</head>

<body>
  {% include "su/is_su.html" %}
  <header>
    {% if user.is_authenticated %}
      {% include 'common/authorized_navbar.html' %}
    {% else %}
      {% include 'common/nonauthorized_navbar.html' %}
    {% endif %}
  </header>

  <!-- Begin page content -->
  <main class="container">
    {% include 'common/messages.html' %} 
    {% block content %} 
      Content goes here! 
    {% endblock %}
  </main>

  {% include 'common/footer.html' %}
  {% block javascript %} {% endblock %}
</body>

</html>
