<li id="navbar-invoice" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Usage Reports</a>
  <div class="dropdown-menu">
    <a id="navbar-allocation-invoice-list" class="dropdown-item" href="{% url 'allocation-invoice-list' %}">Allocations
      Usage List</a>
      {% comment %} <a id="navbar-allocation-invoice-paid-list" class="dropdown-item" href="{% url 'allocation-invoice-paid-list' %}">Allocations {% endcomment %}
          {% comment %} Invoice Paid List</a> {% endcomment %}
  </div>
</li>
