<li id="navbar-admin" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/admin">MyBRC Administration</a>
    <a id="navbar-user-search" class="dropdown-item" href="{% url 'user-search-home' %}">User Search</a>
    <a class="dropdown-item" href="{% url 'project-list' %}?show_all_projects=on">All Projects</a>
    <a class="dropdown-item" href="{% url 'allocation-list' %}?show_all_allocations=on">All Allocations</a>
    <a id="navbar-project-reviews" class="dropdown-item" href="{% url 'project-review-list' %}">Project Reviews</a>
<!--    <a id="navbar-allocation-requests" class="dropdown-item" href="{% url 'allocation-request-list' %}">-->
<!--      Allocation Requests</a>-->
    <a id="navbar-allocation-cluster-account-requests" class="dropdown-item" href="{% url 'allocation-cluster-account-request-list' %}">
      Cluster Account Requests
    </a>
    <a id="navbar-project-savio-project-requests" class="dropdown-item" href="{% url 'savio-project-pending-request-list' %}">
      Savio Project Requests
    </a>
    <a id="navbar-project-vector-project-requests" class="dropdown-item" href="{% url 'vector-project-pending-request-list' %}">
      Vector Project Requests
    </a>
  </div>
</li>
