<li id="navbar-admin" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/admin">ColdFront Administration</a>
    <a id="navbar-user-search" class="dropdown-item" href="{% url 'user-search-home' %}">User Search</a>
    <a class="dropdown-item" href="{% url 'project-list' %}?show_all_projects=on">All Projects</a>
    <a class="dropdown-item" href="{% url 'allocation-list' %}?show_all_allocations=on">All Allocations</a>
    <a class="dropdown-item" href="{% url 'resource-list' %}">All Resources</a>
    <a id="navbar-project-reviews" class="dropdown-item" href="{% url 'project-review-list' %}">Project Reviews</a>
    <a id="navbar-allocation-requests" class="dropdown-item" href="{% url 'allocation-request-list' %}">
      Allocation Requests</a>
    <a id="navbar-allocation-change-requests" class="dropdown-item" href="{% url 'allocation-change-list' %}">
      Allocation Change Requests</a>
{% if settings.GRANT_ENABLE %}
    <a id="navbar-grant-report" class="dropdown-item" href="{% url 'grant-report' %}">Grant Report</a>
{% endif %}
  </div>
</li>
