<li id="navbar-admin" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="/admin">MyBRC Administration</a></li>
        <li><a class="dropdown-item" href="{% url 'allocation-list' %}?show_all_allocations=on">All Allocations</a></li>
        <li><a id="navbar-jobs-list" class="dropdown-item" href="{% url 'slurm-job-list' %}?show_all_jobs=on">All Jobs</a></li>
        <li><a class="dropdown-item" href="{% url 'project-list' %}?show_all_projects=on">All Projects</a></li>
        <li><a class="dropdown-item" href="{% url 'user-search-all' %}">All Users</a></li>
        <a id="navbar-project-reviews" class="dropdown-item" href="{% url 'project-review-list' %}">Project Reviews</a>
        <li><a id="navbar-user-search" class="dropdown-item" href="{% url 'user-search-home' %}">User Search</a></li>


        <li><div class="dropdown-divider"></div></li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Requests</a>
            <ul class="dropdown-menu">
                <li><a id="navbar-view-all-requests-admin" class="dropdown-item" href="{% url 'request-hub-admin' %}">
                  All Requests
                </a></li>
                <li><a id="navbar-allocation-cluster-account-requests" class="dropdown-item" href="{% url 'allocation-cluster-account-request-list' %}?show_all_requests=on">
                    Cluster Account Requests
                </a></li>
                <li><a id="navbar-project-savio-project-requests" class="dropdown-item" href="{% url 'savio-project-pending-request-list' %}">
                    New Savio Project Requests
                </a></li>
                <li><a id="navbar-project-vector-project-requests" class="dropdown-item" href="{% url 'vector-project-pending-request-list' %}">
                    New Vector Project Requests
                </a></li>
                <li><a id="navbar-project-join-request-list" class="dropdown-item" href="{% url 'project-join-request-list' %}">
                    Project Join Requests
                </a></li>
                <li><a id="navbar-project-removal-requests" class="dropdown-item" href="{% url 'project-removal-request-list' %}">
                    Project Removal Requests
                </a></li>
                <li><a id="navbar-pi-allocation-renewal-requests" class="dropdown-item" href="{% url 'pi-allocation-renewal-pending-request-list' %}">
                    Project Renewal Requests
                </a></li>
                <li><a id="navbar-service-units-purchase-requests" class="dropdown-item" href="{% url 'service-units-purchase-pending-request-list' %}">
                    Service Units Purchase Requests
                </a></li>
            </ul>
        </li>
    </ul>
</li>
