<li id="navbar-director" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Director</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'project-list' %}?show_all_projects=on">All Projects</a>
    <a class="dropdown-item" href="{% url 'allocation-list' %}?show_all_allocations=on">All Allocations</a>
    <a class="dropdown-item" href="{% url 'resource-list' %}">All Resources</a>
    <a id="navbar-project-reviews" class="dropdown-item" href="{% url 'project-review-list' %}">Project Reviews</a>
{% if settings.GRANT_ENABLE %}
    <a id="navbar-grant-report" class="dropdown-item" href="{% url 'grant-report' %}">Grant Report</a>
{% endif %}
  </div>
</li>
