{% include 'common/navbar_brand.html' %}
{% load common_tags %} 
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand d-block d-sm-none text-primary" href="#">ColdFront</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="navbar-nav">
        <li id="navbar-home" class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li id="navbar-center-summary" class="nav-item">
          <a class="nav-link" href="{% url 'center-summary' %}">Center Summary</a>
        </li>
        {% if settings.CENTER_HELP_URL %}
          {% include 'common/navbar_help.html' %}
        {% endif %}
      </ul>
 
      <ul class="navbar-nav ml-auto">
        <li id="navbar-login" class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
