{% load static %}
<div class="bg-primary">
  <div class="container" style="margin-bottom:1px">
    <div class="row">
      <div class="col"><a href="/"><img class="img-responsive banner-logo" src="{% static 'common/images/logo.png' %}" class="rounded" alt="Coldfront"></a></div>
      <div class="col"><h3 class="text-center" style="color:white; padding-top:20px; font-weight:normal; letter-spacing: 1px;">Coldfront - 
        <small style="color:white; font-weight:lighter; letter-spacing: 2px;"> Resource Allocation System</small></h3></div>
    </div>
  </div> 
</div>