{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields header='{% trans "Comment Entry" %}' only>
                <c-card.fields.item label='{% trans "Created" %}'>
                    {{ object.created|isodate }}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Kind" %}'>
                    <c-ui.badge :value="object.get_kind_display" :bg_color="object.get_kind_color" />
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Created By" %}'>
                    {{ object.created_by|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Assigned Object" %}'>
                    {{ object.assigned_object|linkify }}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.related_objects :object="object" :models="related_models" only />
            <c-card.custom_fields :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
