{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields header='{% trans "Custom Link" %}' only>
                <c-card.fields.item label='{% trans "Name" %}'>
                    {{ object.name }}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Enabled" %}'>
                    {% if object.enabled %}
                        <i class="mdi mdi-check-bold text-green"></i>
                    {% else %}
                        <i class="mdi mdi-close-thick text-red"></i>
                    {% endif %}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Group Name" %}'>
                    {{ object.group_name|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Weight" %}'>
                    {{ object.weight }}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Button Class" %}'>
                    {{ object.get_button_class_display }}
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "New Window" %}'>
                    {% if object.new_window %}
                        <i class="mdi mdi-check-bold text-green"></i>
                    {% else %}
                        <i class="mdi mdi-close-thick text-red"></i>
                    {% endif %}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.fields header='{% trans "Templates" %}' only>
                <c-card.fields.item label='{% trans "Link Text" %}'>
                    <code>{{ object.link_text }}</code>
                </c-card.fields.item>

                <c-card.fields.item label='{% trans "Link URL" %}'>
                    <code>{{ object.link_url }}</code>
                </c-card.fields.item>
            </c-card.fields>
        </c-slot>

        <c-slot name="right">
            <c-card.list header='{% trans "Object Types" %}' only>
                {% for ct in object.object_types.all %}
                    <c-card.list.item>
                        {{ ct }}
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>
            <c-card.related_objects :object="object" :models="related_models" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
