{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Name' %}">
                    {{ object.name }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Slug' %}">
                    {{ object.slug }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'User' %}">
                    {{ object.user|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Enabled' %}">
                    {% if object.enabled %}
                        <c-ui.badge bg_color="success" value="{% trans 'Yes' %}" />
                    {% else %}
                        <c-ui.badge bg_color="danger" value="{% trans 'No' %}" />
                    {% endif %}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Shared' %}">
                    {% if object.shared %}
                        <c-ui.badge bg_color="success" value="{% trans 'Yes' %}" />
                    {% else %}
                        <c-ui.badge bg_color="danger" value="{% trans 'No' %}" />
                    {% endif %}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Weight' %}">
                    {{ object.weight }}
                </c-card.fields.item>
            </c-card.fields>
        </c-slot>

        <c-slot name="right">
            <c-card.list header="{% trans 'Assigned Object Types' %}" only>
                {% for object_type in object.object_types.all %}
                    <c-card.list.item>
                        {{ object_type }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        {% trans 'None' %}
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>

            <c-card header="{% trans 'Parameters' %}">
                <pre class="pre-scrollable">{{ object.parameters|json }}</pre>
            </c-card>
        </c-slot>
    </c-layout.panels>
{% endblock %}
