{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Savio Project Request Detail
{% endblock %}


{% block content %}
<h1>Review Savio Project Request</h1>
<hr>

<p>This form activates a request for a Savio project. Please review the given information and complete the checklist before final approval.</p>

{% include 'project/project_request/savio/project_request_card.html' with savio_request=savio_request %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Checklist
    </h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Confirm that the requested PI is eligible for a Savio allowance.</td>
            <td style="color: #28a745"><i class="fas fa-check-circle" aria-hidden="true"></i></td>
            <td>
              <a href="{% url 'savio-project-request-review-eligibility' savio_request.pk %}" class="btn btn-primary">
                Manage
              </a>
          </tr>
          <tr>
            <td>Confirm that the project satisfies the readiness criteria.</td>
            <td style="color: #dc3545"><i class="fas fa-times-circle" aria-hidden="true"></i></td>
            <td>
              <a href="{% url 'savio-project-request-review-readiness' savio_request.pk %}" class="btn btn-primary">
                Manage
              </a>
            </td>
          </tr>
          <tr>
            <td>Perform project setup on the cluster.</td>
            <td style="color: #dc3545"><i class="fas fa-times-circle" aria-hidden="true"></i></td>
            <td>
              <a href="{% url 'savio-project-request-review-setup' savio_request.pk %}" class="btn btn-primary">
                Manage
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button type="button" class="btn btn-success" disabled>Submit</button>
<a href="{% url 'savio-project-request-list' %}" class="btn btn-secondary">Cancel</a>

{% include 'project/project_request/savio/project_request_survey_modal.html' with survey_form=survey_form %}

{% endblock %}
