{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
New Savio Project
{% endblock %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}


{% block content %}
<h1>New Savio Project</h1><hr>

<p>
  Eligible users may request to create a new project on the Savio cluster, or
  pool their allocations with those of existing projects. The following
  allocation types are available:
</p>
<ul>
  <li>Faculty Compute Allowance (FCA)</li>
  <li>Condo Allowance</li>
  <li>Partner Compute Allowance (PCA)</li>
  <li>Memorandum of Understanding (MOU) (Buy time on Savio)</li>
</ul>
<p>
  This form is intended for Principal Investigators (PIs) or users acting on
  behalf of PIs. The user who fills it out will become a manager on the
  project: the user will receive access to the project on the cluster, will
  have permissions to manage the project and its users, and cannot opt out of
  email notifications (unless at least one other user becomes a manager). If
  this does not sound like your role on the project, please ask the appropriate
  user to fill it out.
</p>
<p>
  If you are filling out the form on behalf of another PI, that PI will be
  notified by email that a request is being made by you.
</p>
<a class="btn btn-primary" href="{% url 'savio-project-request' %}">
  Continue
</a>
<a class="btn btn-secondary" href="{% url 'project-request' %}">
  Back
</a>

{% endblock %}
