{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


{% block title %}
Savio Project Request - Set Allocation Dates
{% endblock %}


{% block content %}
<h1>Set Allocation Dates</h1>
<hr>

<p>Please set the start and end date of the allocation.</p>

{% include 'project/project_request/savio/project_request_card.html' with savio_request=savio_request %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Set Allocation Dates
    </h4>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a href="{% url 'savio-project-request-detail' savio_request.pk %}" class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
</div>

{% include 'project/project_request/savio/project_request_extra_fields_modal.html' with extra_fields_form=extra_fields_form %}
{% include 'project/project_request/savio/project_request_survey_modal.html' with survey_form=survey_form %}

<script>
  $(function () {
    $("#id_start_date").datepicker();
    $("#id_end_date").datepicker();
  });
</script>

{% endblock %}
