{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}
{% load iso8601_to_datetime %}


{% block title %}
Savio Project Request Detail
{% endblock %}


{% block content %}
<h1>
  Savio: {{ savio_request }}
  {% with status=savio_request.status.name %}
    {% if status == 'Under Review' %}
      <span class="badge badge-warning" style="float: right;">{{ status }}</span>
    {% elif status == 'Approved - Processing' %}
      <span class="badge badge-warning" style="float: right;">{{ status }}</span>
    {% elif status == 'Approved - Scheduled' %}
      <span class="badge badge-warning" style="float: right;">{{ status }}</span>
    {% elif status == 'Approved - Complete' %}
      <span class="badge badge-success" style="float: right;">{{ status }}</span>
    {% else %}
      <span class="badge badge-danger" style="float: right;">{{ status }}</span>
    {% endif %}
  {% endwith %}
</h1>
<hr>

{% include 'project/project_request/savio/project_request_card.html' with savio_request=savio_request %}

<div class="card mb-3">
  <div class="card-header">
    <h2>
      <i class="fas fa-question-circle" aria-hidden="true"></i>
      Request Status
    </h2>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Status:</th>
            <td>
              {% with status=savio_request.status.name %}
                {% if status == 'Under Review' %}
                  <p>
                    This request is currently under review. Administrators must
                    determine if the requested PI is eligible for an allowance,
                    and if the project is appropriate for Savio.
                    {% if savio_request.allocation_type == 'ICA' %}
                      They must also set the start and end dates of the
                      allocation.
                    {% endif %}
                    {% if savio_request.allocation_type in 'ICA,RECHARGE' %}
                      {% if savio_request.allocation_type == 'ICA' %}
                        They must also confirm that the Memorandum of
                        Understanding has been signed.
                      {% else %}
                        They must also confirm that the Memorandum of
                        Understanding has been signed and that funds have been
                        transferred.
                      {% endif %}
                    {% endif %}
                  </p>
                {% elif status == 'Approved - Processing' %}
                  <p>
                    This request has been approved, and is currently being set
                    up on the cluster.
                  </p>
                {% elif status == 'Approved - Scheduled' %}
                  <p>
                    This request has been approved, and final processing is
                    scheduled for
                    {{ savio_request.allocation_period.start_date }}.
                  </p>
                {% elif status == 'Approved - Complete' %}
                  <p>
                    This request has been approved, and is fully processed.
                  </p>
                {% else %}
                  <p>This request has been denied. Below are specific details:</p>
                  <p>
                    <strong>Category:</strong>
                    {{ denial_reason.category }}
                  </p>
                  <p>
                    <strong>Justification:</strong>
                    {{ denial_reason.justification }}
                  </p>
                  <p>
                    <strong>Timestamp:</strong>
                    {{ denial_reason.timestamp|iso8601_to_datetime }}
                  </p>
                    {% if user.is_superuser %}
                    <p>
                    <strong>Un-deny Request:</strong>
                    <a href="{% url 'savio-project-undeny-request' savio_request.pk %}" class="btn btn-primary">
                        Un-deny
                    </a>
                    </p>
                        {% endif %}
                    <p>If you have any questions or concerns, please contact us at {{ support_email }}.</p>
                {% endif %}
              {% endwith %}
            </td>
          </tr>
          <tr>
            <th>Latest Update Timestamp:</th>
            <td>{{ latest_update_timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if is_allowed_to_manage_request and savio_request.status.name not in 'Approved - Complete,Approved - Scheduled,Denied' %}
  <div class="card mb-3">
    <div class="card-header">
      <h2>
        <i class="fas fa-check-circle" aria-hidden="true"></i>
        System Administrator Checklist
      </h2>
    </div>
    <div class="card-body">
      <p>
        This section, which is only visible for system administrators,
        manages this request. Please review the given information and complete
        the checklist in the following order before final approval. You may
        also deny the request for some other reason.
      </p>
      {% with allocation_period=savio_request.allocation_period %}
        {% if has_allocation_period_started %}
          {% if allocation_period %}
            <p>
              If approved, the request will be processed immediately, since its
              Allocation Period ({{ allocation_period.name }}) has already begun.
            </p>
          {% else %}
            <p>If approved, the request will be processed immediately.</p>
          {% endif %}
        {% else %}
          <p>
            If approved, the request will be scheduled for processing at the
            beginning of its Allocation Period ({{ allocation_period.name }}),
            on {{ allocation_period.start_date|date:"M. d, Y" }}.
          </p>
        {% endif %}
      {% endwith %}
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% with eligibility=savio_request.state.eligibility readiness=savio_request.state.readiness setup=savio_request.state.setup %}
              <tr>
                <td>Confirm that the requested PI is eligible for a Savio allowance.</td>
                <td>
                  {% if eligibility.status == 'Pending' %}
                    <span class="badge badge-warning">
                      {{ eligibility.status }}
                    </span>
                  {% elif eligibility.status == 'Approved' %}
                    <span class="badge badge-success">
                      {{ eligibility.status }} {{ eligibility.timestamp|iso8601_to_datetime }}
                    </span>
                  {% else %}
                    <span class="badge badge-danger">
                      {{ eligibility.status }} {{ eligibility.timestamp|iso8601_to_datetime }}
                    </span>
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'savio-project-request-review-eligibility' savio_request.pk %}" class="btn btn-primary">
                    Manage
                  </a>
                </td>
              </tr>
              <tr>
                <td>Confirm that the project satisfies the readiness status criteria.</td>
                <td>
                  {% if eligibility.status == 'Denied' %}
                    <span class="badge badge-danger">
                      N/A
                    </span>
                  {% elif readiness.status == 'Pending' %}
                    <span class="badge badge-warning">
                      {{ readiness.status }}
                    </span>
                  {% elif readiness.status == 'Approved' %}
                    <span class="badge badge-success">
                      {{ readiness.status }} {{ readiness.timestamp|iso8601_to_datetime }}
                    </span>
                  {% else %}
                    <span class="badge badge-danger">
                      {{ readiness.status }} {{ readiness.timestamp|iso8601_to_datetime }}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% if eligibility.status == 'Approved' %}
                    <a href="{% url 'savio-project-request-review-readiness' savio_request.pk %}" class="btn btn-primary">
                      Manage
                    </a>
                  {% else %}
                    <button class="btn btn-primary" disabled="true">
                      Manage
                    </button>
                  {% endif %}
                </td>
              </tr>
              <!--
                Setting allocation dates and confirming that the memorandum is
                signed are not dependent on each other, and can be completed in
                either order.
              -->
              {% if savio_request.allocation_type == 'ICA' %}
                {% with allocation_dates=savio_request.state.allocation_dates %}
                  <tr>
                    <td>Set the start and end dates of the allocation.</td>
                    <td>
                      {% if eligibility.status == 'Denied' or readiness.status == 'Denied' %}
                        <span class="badge badge-danger">
                          N/A
                        </span>
                      {% elif allocation_dates.status == 'Pending' %}
                        <span class="badge badge-warning">
                          {{ allocation_dates.status }}
                        </span>
                      {% else %}
                        <span class="badge badge-success">
                          {{ allocation_dates.status }} {{ allocation_dates.timestamp|iso8601_to_datetime }}
                        </span>
                      {% endif %}
                    </td>
                    <td>
                      {% if eligibility.status == 'Approved' and readiness.status == 'Approved' %}
                        <a href="{% url 'savio-project-request-review-allocation-dates' savio_request.pk %}" class="btn btn-primary">
                          Manage
                        </a>
                      {% else %}
                        <button class="btn btn-primary" disabled="true">
                          Manage
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                {% endwith %}
              {% endif %}
              {% if savio_request.allocation_type in 'ICA,RECHARGE' %}
                {% with memorandum_signed=savio_request.state.memorandum_signed %}
                  <tr>
                    {% if savio_request.allocation_type == 'ICA' %}
                      <td>
                        Confirm that the Memorandum of Understanding has been
                        signed.
                      </td>
                    {% else %}
                      <td>
                        Confirm that the Memorandum of Understanding has been
                        signed and that funds have been transferred.
                      </td>
                    {% endif %}
                    <td>
                      {% if eligibility.status == 'Denied' or readiness.status == 'Denied' %}
                        <span class="badge badge-danger">
                          N/A
                        </span>
                      {% elif memorandum_signed.status == 'Pending' %}
                        <span class="badge badge-warning">
                          {{ memorandum_signed.status }}
                        </span>
                      {% else %}
                        <span class="badge badge-success">
                          {{ memorandum_signed.status }} {{ memorandum_signed.timestamp|iso8601_to_datetime }}
                        </span>
                      {% endif %}
                    </td>
                    <td>
                      {% if eligibility.status == 'Approved' and readiness.status == 'Approved' %}
                        <a href="{% url 'savio-project-request-review-memorandum-signed' savio_request.pk %}" class="btn btn-primary">
                          Manage
                        </a>
                      {% else %}
                        <button class="btn btn-primary" disabled="true">
                          Manage
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                {% endwith %}
              {% endif %}
              <tr>
                <td>Perform project setup on the cluster.</td>
                <td>
                  {% if setup_status == 'N/A' %}
                    <span class="badge badge-danger">
                      N/A
                    </span>
                  {% elif setup_status == 'Pending' %}
                    <span class="badge badge-warning">
                      Pending
                    </span>
                  {% else %}
                    <span class="badge badge-success">
                      {{ setup.status }} {{ setup.timestamp|iso8601_to_datetime }}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% if savio_request.allocation_type == 'ICA' %}
                    {% with allocation_dates=savio_request.state.allocation_dates %}
                      {% with memorandum_signed=savio_request.state.memorandum_signed %}
                        {% if eligibility.status == 'Approved' and readiness.status == 'Approved' and allocation_dates.status == 'Complete' and memorandum_signed.status == 'Complete' %}
                          <a href="{% url 'savio-project-request-review-setup' savio_request.pk %}" class="btn btn-primary">
                            Manage
                          </a>
                        {% else %}
                          <button class="btn btn-primary" disabled="true">
                            Manage
                          </button>
                        {% endif %}
                      {% endwith %}
                    {% endwith %}
                  {% elif savio_request.allocation_type == 'RECHARGE' %}
                    {% with memorandum_signed=savio_request.state.memorandum_signed %}
                      {% if eligibility.status == 'Approved' and readiness.status == 'Approved' and memorandum_signed.status == 'Complete' %}
                        <a href="{% url 'savio-project-request-review-setup' savio_request.pk %}" class="btn btn-primary">
                          Manage
                        </a>
                      {% else %}
                        <button class="btn btn-primary" disabled="true">
                          Manage
                        </button>
                      {% endif %}
                    {% endwith %}
                  {% else %}
                    {% if eligibility.status == 'Approved' and readiness.status == 'Approved' %}
                      <a href="{% url 'savio-project-request-review-setup' savio_request.pk %}" class="btn btn-primary">
                        Manage
                      </a>
                    {% else %}
                      <button class="btn btn-primary" disabled="true">
                        Manage
                      </button>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endwith %}
          </tbody>
        </table>
      </div>
      <hr>
      {% if is_checklist_complete %}
        <form action="{% url 'savio-project-request-detail' savio_request.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'savio-project-pending-request-list' %}" class="btn btn-secondary">Cancel</a>
          <a href="{% url 'savio-project-request-review-deny' savio_request.pk %}" class="btn btn-danger" style="float: right;">
            Deny For Other Reason
          </a>
        </form>
      {% else %}
        <button type="button" class="btn btn-primary" disabled>Submit</button>
        <a href="{% url 'savio-project-pending-request-list' %}" class="btn btn-secondary">Cancel</a>
        <a href="{% url 'savio-project-request-review-deny' savio_request.pk %}" class="btn btn-danger" style="float: right;">
          Deny For Other Reason
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}

{% include 'project/project_request/savio/project_request_extra_fields_modal.html' with extra_fields_form=extra_fields_form %}
{% include 'project/project_request/savio/project_request_survey_modal.html' with survey_form=survey_form %}

{% endblock %}
