{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load feature_flags %}
{% load static %}


{% block title %}
New Savio Project
{% endblock %}


{% block content %}
<h1>New Savio Project</h1><hr>

{% flag_enabled 'ALLOCATION_RENEWAL_FOR_NEXT_PERIOD_REQUESTABLE' as next_period_requestable %}
{% if next_period_requestable %}
  <div class="alert alert-info" role="alert">
    <i class="fas fa-info-circle" aria-hidden="true"></i>
    The allowance year for FCAs is ending soon, on
    {{ CURRENT_ALLOWANCE_YEAR_ALLOCATION_PERIOD.end_date|date:"M. d, Y" }}.
    Between now and then, you may request to create a new project for the
    remainder of the current allocation year, or to create it for the start of
    the next allocation year. If you choose to create it now, you may complete
    a separate renewal form once it has been approved and processed.
  </div>
{% endif %}

<p>
  Eligible users may request to create a new project on the Savio cluster, or
  pool their allocations with those of existing projects. The following
  allocation types are available:
</p>
<ul>
  <li>Faculty Compute Allowance (FCA)</li>
  <li>Condo Allocation</li>
  <li>Instructional Compute Allowance (ICA)*</li>
  <li>Partner Compute Allowance (PCA)</li>
  <li>Recharge Allocation (Purchase time on Savio)*</li>
</ul>
<p>
  This form is intended for Principal Investigators (PIs) or users acting on
  behalf of PIs. The user who fills it out will become a manager on the
  project: the user will receive access to the project on the cluster, will
  have permissions to manage the project and its users, and cannot opt out of
  email notifications (unless at least one other user becomes a manager). If
  this does not sound like your role on the project, please ask the appropriate
  user to fill it out.
</p>
<p>
  If you are filling out the form on behalf of another PI, that PI will be
  notified by email that a request is being made by you.
</p>
<p>
  * The PI will be contacted to provide a signed Memorandum of Understanding
  as part of the approval process.
</p>
<a class="btn btn-primary" href="{% url 'savio-project-request' %}">
  Continue
</a>
<a class="btn btn-secondary" href="{% url 'project-request' %}">
  Back
</a>

{% endblock %}
