{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Savio Project Request - New PI
{% endblock %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h1>Savio: Principal Investigator</h1><hr>

<ol class="breadcrumb">
  <li>Allocation Type: {{ allocation_type }}</li>
</ol>

<p>Provide details about a new user, who will be a Principal Investigator for the project. An existing user should have been selected in the previous step.</p>

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ form|crispy }}
        <hr>
      {% endfor %}
    {% else %}
      {{ wizard.form|crispy }}
    {% endif %}
  </table>
  {% if wizard.steps.prev %}
    <button
        class="btn btn-secondary"
        formnovalidate="formnovalidate"
        name="wizard_goto_step"
        type="submit"
        value="{{ wizard.steps.first }}">
      First Step
    </button>
    <button
        class="btn btn-secondary"
        formnovalidate="formnovalidate"
        name="wizard_goto_step"
        type="submit"
        value="{{ wizard.steps.prev }}">
      Previous Step
    </button>
  {% endif %}
  <input class="btn btn-primary" type="submit" value="Next Step"/>
</form>
<br>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

{% endblock %}
