{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Savio Project Request - Deny
{% endblock %}


{% block content %}
<h1>Deny Request</h1>
<hr>

<p>
  Deny the request for some other reason. A notification email will be sent to the requester and PI.
</p>

{% include 'project/project_request/savio/project_request_card.html' with savio_request=savio_request %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Deny
    </h4>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a href="{% url 'savio-project-request-detail' savio_request.pk %}" class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
</div>

{% include 'project/project_request/savio/project_request_extra_fields_modal.html' with extra_fields_form=extra_fields_form %}
{% include 'project/project_request/savio/project_request_survey_modal.html' with survey_form=survey_form %}

{% endblock %}
