{% extends "common/base.html" %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load feature_flags %}
{% load static %}


{% block title %}
New {{ PRIMARY_CLUSTER_NAME }} Project
{% endblock %}


{% block content %}
<h1>New {{ PRIMARY_CLUSTER_NAME }} Project</h1><hr>

{% flag_enabled 'ALLOCATION_RENEWAL_FOR_NEXT_PERIOD_REQUESTABLE' as next_period_requestable %}
{% if next_period_requestable %}
  <div class="alert alert-info" role="alert">
    <i class="fas fa-info-circle" aria-hidden="true"></i>
    The allowance year for {{ yearly_allowance_names }} is ending soon, on
    {{ CURRENT_ALLOWANCE_YEAR_ALLOCATION_PERIOD.end_date|date:"M. d, Y" }}.
    Between now and then, you may request to create a new project for the
    remainder of the current allowance year, or to create it for the start of
    the next allowance year. If you choose to create it now, you may complete
    a separate renewal form once it has been approved and processed.
  </div>
{% endif %}

<p>
  Eligible users may request to create a new project on the
  {{ PRIMARY_CLUSTER_NAME }} cluster, or pool their allowances with those of
  existing projects. The following allowances are available:
</p>
<ul>
  {% for allowance in allowances %}
  <li>
    {{ allowance|get_value_from_dict:'name_long' }}
    {% if allowance|get_value_from_dict:'is_poolable' %}
      <span class="badge badge-primary">POOL</span>
    {% endif %}
    {% if allowance|get_value_from_dict:'requires_mou' %}
      <span class="badge badge-info">MOU</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<p>
  This form is intended for Principal Investigators (PIs) or users acting on
  behalf of PIs. The user who fills it out will become a manager on the
  project: the user will receive access to the project on the cluster, will
  have permissions to manage the project and its users, and cannot opt out of
  email notifications (unless at least one other user becomes a manager). If
  this does not sound like your role on the project, please ask the appropriate
  user to fill it out.
</p>
<p>
  If you are filling out the form on behalf of another PI, that PI will be
  notified by email that a request is being made by you.
</p>
<p>
  <div>
    <span class="badge badge-info">MOU</span>
    The PI will be contacted to provide a signed Memorandum of Understanding as
    part of the approval process.
  </div>
  <div>
    <span class="badge badge-primary">POOL</span>
    The allowance is eligible for pooling of service units.
  </div>
</p>
<a class="btn btn-primary" href="{% url 'new-project-request' %}">
  Continue
</a>
<a class="btn btn-secondary" href="{% url 'project-request' %}">
  Back
</a>

{% endblock %}
