#------------------------------------------------------------------------------
# Default Strings. Override these in local settings
#------------------------------------------------------------------------------

EMAIL_DIRECTOR_PENDING_SUBSCRIPTION_EMAIL = ''
