{% extends "common/base.html" %}
{% load static %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block title %} 
Password Set
{% endblock %} 

{% block content %}
<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-login").addClass("active");
</script>

<div class="col-sm-6 offset-sm-3">
  <div class="card border-primary">
    <div class="card-header bg-primary text-white">
      <h5>Password Set</h5>
    </div>
    <div class="card-body">
      <p>Your portal password has been set. Note that you still need to use your OTP and PIN to access the cluster.</p>
      <a href="{% url 'login' %}" class="btn btn-primary btn-block">
        <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log In
      </a>
    </div>
  </div>
</div>
{% endblock %}
