{% extends "common/base.html" %}
{% load static %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block title %} 
Change Password
{% endblock %} 

{% block content %}
<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-login").addClass("active");
</script>

<div class="col-sm-6 offset-sm-3">
  <div class="card border-primary">
    <div class="card-header bg-primary text-white">
      <h5>Change Password</h5>
    </div>
    <div class="card-body">
      <p>Change your portal password. Note that this does not change the OTP and PIN used to access the BRC cluster.</p>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
