{% load i18n %}{% autoescape off %}

Dear {{ PORTAL_NAME }} Portal user,

You're receiving this email because you requested a password reset for your {{ PORTAL_NAME }} portal account at {{ site_name }}.

As a reminder, this password is unique to the portal, and does not change the PIN and OTP used to access {{ PROGRAM_NAME_SHORT }} clusters.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
Your portal username, in case you've forgotten: {{ user.get_username }}

Thanks for using our site!

{{signature}}
{{ PORTAL_NAME }} User Portal team

{% endautoescape %}
