{% load i18n %}{% autoescape off %}

{% trans "Dear MyBRC Portal user," %}

{% blocktrans %}You're receiving this email because you requested a password reset for your MyBRC portal account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your portal username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{{signature}}
{% blocktrans %}MyBRC User Portal team{% endblocktrans %}

{% endautoescape %}
