{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Create Grant
{% endblock %}



{% block content %}
  {% if orcid_vars == True %}
    <div class="mb-3">
      <a class="btn btn-info" href="{% url 'grant-orcid-import' project.pk %}" role="button">
        <i class="far fa-edit" aria-hidden="true"></i> Import Grants from ORCID
      </a>
      <a class="btn btn-info" href="{% url 'grant-user-orcid-import' project.pk %}" role="button">
        <i class="far fa-user" aria-hidden="true"></i> Import Grants from User ORCIDs
      </a>
    </div>
  {% else %}
  <div title="{{orcid_config_msg}}" class="mb-3">
    <a class="btn btn-info disabled" href="{% url 'grant-orcid-import' project.pk %}" role="button">
      <i class="far fa-edit" aria-hidden="true"></i> Import Grants from ORCID
    </a>
    <a class="btn btn-info disabled" href="{% url 'grant-user-orcid-import' project.pk %}" role="button">
      <i class="far fa-user" aria-hidden="true"></i> Import Grants from User ORCIDs
    </a>
  </div>
  {% endif %}

  <br>

  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Save" />
    <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">Cancel</a><br>
</form>


{% endblock %}

