{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Import Grant from ORCID
{% endblock %}

{% block content %}
<h1>Import Grant from ORCID</h1>

<div class="col" >
    <form method="GET" id="selected_users">
        {% csrf_token %}
        {{ grant_orcid_query_form|crispy }}
        <button id="search-btn" type="submit" class="btn btn-success btn-block">Import</button>
    </form>
</div>

<br/>

<div class="col" id="search_results" >
    <div class="card border-light">
      <div class="card-body">
        <div id="search_results_inner"><a class="btn btn-secondary" href="{% url 'project-detail' project_pk %}" role="button">Back to Project</a></div>
      </div>
    </div>
</div>

{% endblock %}


{% block javascript %} 
  {{ block.super }}

<script>
    $('#search-btn').on('click', function(event)
    {
      console.log("search-btn clicked");

      event.preventDefault();
      $('#search_results').show();
      $("#search_results_inner").html('<div class="alert alert-info text-center"><i class="fas fa-sync fa-spin fa-fw"></i> Searching</div>')
      create_post();
    });
  
    function create_post() {
      var test = $('#selected_users')
      console.log(test)
      const webform = document.getElementById('selected_users')
      var form = new FormData()
      form.append('csrfmiddlewaretoken', webform[0].value)
      form.append('id_users', webform[1].value)

      var pk = "{{ project.pk }}"
      $.ajax({
          url : "/grant/project/" + pk + "/orcid-import-search-result/", // the endpoint
          type : "POST", // http method
          data : {
            form_info :  form,
            csrfmiddlewaretoken: "{{ csrf_token }}"
          }, // data sent with the post request
          // handle a successful response
          success : function(data) {
              $('#search_results').show();
              $('#search_results_inner').html(data);
          },
  
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                  " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
  };
  
  $(document).ready(function(){
    $('<br><input id="selectAll" class="check" type="checkbox"> <strong>Select All Users</strong>').insertAfter($("#div_id_users > label"))


    $("#selectAll").click(function () {
      $("input[name^='users']").prop('checked', $(this).prop('checked'));
    });

    $("input[name^='users']").click(function (ele) {
      var id = $(this).attr('id');
      if (id != "selectAll") {
        $("#selectAll").prop('checked', false);
      }
    });

    $('[data-toggle="popover"]').popover();

  });
  </script>

{% endblock %}