{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Manually Enter Grant
{% endblock %}
{% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
      <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> Add Grant </button>
    </div>
    
</form>

<br/>


<a class="btn btn-info" href="{% url 'grant-create-choice' project.pk %}" role="button">
  <i class="fas fa-search" aria-hidden="true"></i> Back to Search
</a>
<a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button">
    <i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project
</a>

<script>
 $('#id_grant_start').flatpickr();
 $('#id_grant_end').flatpickr();
</script>

{% endblock %}

