{% extends "list_view.html" %}

{% block title %}
Department List
{% endblock %}

{% block page_title %}Department Reports{% endblock %}


{% block presearch %}
<style>
.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}
</style>
{% endblock %}


{% block list_title %}Department{{count|pluralize}}: {{count}}{% endblock %}

{% block table_contents %}
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Department</th>
    <th scope="col">Rank</th>
    <th scope="col">Number of Projects</th>
  </tr>
</thead>
<tbody>
  {% for department in item_list %}
    <tr>
      <td><a href="{% url 'department-detail' department.id %}">{{department.id}}</td>
      <td>{{department.name}}</td>
      <td>{{department.rank }}</td>
      <td>{{department.project_count }}</td>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}

{% block activelink %}
$("#navbar-project-menu").addClass("active");
$("#navbar-department").addClass("active");
{% endblock %}
