{% load i18n %}

{% with custom_fields=object.get_custom_fields_by_group %}
    {% if custom_fields %}
        <c-card header='{% trans "Custom Fields" %}'>
            <table class="table table-hover attr-table">
                {% for group_name, fields in custom_fields.items %}
                    {% if group_name %}
                        <tr>
                            <th scope="row" colspan="2" class="fw-bold">{{ group_name }}</th>
                        </tr>
                    {% endif %}
                    {% for field, value in fields.items %}
                        <tr>
                            <th scope="row" {% if group_name %}class="ps-3"{% endif %}>
                                {{ field }}
                                {% if field.description %}
                                    <i
                                        class="fa-solid fa-circle-info text-primary"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="right"
                                        title="{{ field.description|escape }}"
                                    ></i>
                                {% endif %}
                            </th>
                            <td>
                                {% customfield_value field value %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </c-card>
    {% endif %}
{% endwith %}
