{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Vector Project Request Detail
{% endblock %}


{% block content %}
<h1>
  Review Vector Project Request
  {% with status=vector_request.status.name %}
    {% if status == 'Under Review' %}
      <span class="badge badge-warning" style="float: right;">{{ status }}</span>
    {% elif status == 'Approved - Processing' %}
      <span class="badge badge-warning" style="float: right;">{{ status }}</span>
    {% elif status == 'Approved - Complete' %}
      <span class="badge badge-success" style="float: right;">{{ status }}</span>
    {% else %}
      <span class="badge badge-danger" style="float: right;">{{ status }}</span>
    {% endif %}
  {% endwith %}
</h1>
<hr>

<p>This form activates a request for a Vector project. Please review the given information and complete the checklist before final approval.</p>

{% include 'project/project_request/vector/project_request_card.html' with vector_request=vector_request %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Checklist
    </h4>
  </div>
  <div class="card-body">
    <p>Complete the checklist below in the following order.</p>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% with eligibility=vector_request.state.eligibility setup=vector_request.state.setup %}
            <tr>
              <td>Confirm that the requester is eligible for Vector access.</td>
              <td>
                {% if eligibility.status == 'Pending' %}
                  <span class="badge badge-warning">
                    {{ eligibility.status }}
                  </span>
                {% elif eligibility.status == 'Approved' %}
                  <span class="badge badge-success">
                    {{ eligibility.status }} {{ eligibility.timestamp }}
                  </span>
                {% else %}
                  <span class="badge badge-danger">
                    {{ eligibility.status }} {{ eligibility.timestamp }}
                  </span>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'vector-project-request-review-eligibility' vector_request.pk %}" class="btn btn-primary">
                  Manage
                </a>
              </td>
            </tr>
            <tr>
              <td>Perform project setup on the cluster.</td>
              <td>
                {% if eligibility.status == 'Denied' %}
                  <span class="badge badge-danger">
                    N/A
                  </span>
                {% elif setup.status == 'Pending' %}
                  <span class="badge badge-warning">
                    {{ setup.status }}
                  </span>
                {% else %}
                  <span class="badge badge-success">
                    {{ setup.status }} {{ setup.timestamp }}
                  </span>
                {% endif %}
              </td>
              <td>
                {% if eligibility.status == 'Approved' %}
                  <a href="{% url 'vector-project-request-review-setup' vector_request.pk %}" class="btn btn-primary">
                    Manage
                  </a>
                {% else %}
                  <button class="btn btn-primary" disabled="true">
                    Manage
                  </button>
                {% endif %}
              </td>
            </tr>
          {% endwith %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if is_checklist_complete %}
  <form action="{% url 'vector-project-request-detail' vector_request.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="{% url 'vector-project-pending-request-list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% else %}
  <button type="button" class="btn btn-success" disabled>Submit</button>
  <a href="{% url 'vector-project-pending-request-list' %}" class="btn btn-secondary">Cancel</a>
{% endif %}

{% endblock %}
