{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Vector Project {{ request_filter|title }} Requests
{% endblock %}


{% block content %}
<h1>{{ request_filter|title }} Vector Project Requests</h1>
<hr>

<p>
  {% if request_filter == 'completed' %}
    Viewing completed requests for new Vector projects. You may also view pending requests <a href="{% url 'vector-project-pending-request-list' %}">here</a>.
  {% else %}
    Viewing pending requests for new Vector projects. You may also view completed requests <a href="{% url 'vector-project-completed-request-list' %}">here</a>.
  {% endif %}
</p>

{% if vector_project_request_list %}
<div class="table-responsive">
  {% with queryset=vector_project_request_list %}
    {% include 'project/project_request/vector/project_request_list_table.html' %}
  {% endwith %}
</div>
{% else %}
<div class="alert alert-info">
  No {{ request_filter }} Vector project requests!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-project-vector-project-requests").addClass("active");
</script>

{% endblock %}
