{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Vector Project {{ request_filter|title }} Requests
{% endblock %}


{% block content %}
<h1>{{ request_filter|title }} Vector Project Requests</h1>

<p>
  {% if request_filter == 'completed' %}
    View completed requests for new Vector projects. You may also view pending requests <a href="{% url 'vector-project-pending-request-list' %}">here</a>.
  {% else %}
    View pending requests for new Vector projects. You may also view completed requests <a href="{% url 'vector-project-completed-request-list' %}">here</a>.
  {% endif %}
</p>

{% if vector_project_request_list %}
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date Requested/<br>Last Modified</th>
        <th scope="col">Requester Email</th>
        <th scope="col">Project</th>
        <th scope="col">PI</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for vector_project_request in vector_project_request_list %}
      <tr>
        <td>
          <a href="{% url 'vector-project-request-detail' vector_project_request.pk %}">
            {{ vector_project_request.pk }}
          </a>
        </td>
        <td>{{ vector_project_request.modified|date:"M. d, Y" }}</td>
        <td>{{ vector_project_request.requester.email }}</td>
        <td>{{ vector_project_request.project.name }}</td>
        <td>{{ vector_project_request.pi.email }}</td>
        <td>
          {% with status=vector_project_request.status.name %}
            {% if status == 'Under Review' %}
              <span class="badge badge-warning">{{ status }}</span>
            {% elif status == 'Approved - Processing' %}
              <span class="badge badge-warning">{{ status }}</span>
            {% elif status == 'Approved - Complete' %}
              <span class="badge badge-success">{{ status }}</span>
            {% else %}
              <span class="badge badge-danger">{{ status }}</span>
            {% endif %}
          {% endwith %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-info">
  No {{ request_filter }} Vector project requests!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  $("#navbar-project-vector-project-requests").addClass("active");
</script>

{% endblock %}
