{% load i18n %}
{% load navigation %}

<nav id="sidebar" class="nav flex-column sidebar collapse show">
    {% for menu, groups in nav_items %}
        <button
            class="btn btn-toggle d-flex align-items-center w-100"
            data-bs-toggle="collapse"
            data-bs-target="#{{ menu.label }}-collapse"
            aria-expanded="false"
            aria-controls="{{ menu.label }}-collapse"
        >
            <i class="{{ menu.icon_class }} fa-fw me-2"></i> {{ menu.label }}
            <i class="fa-solid fa-chevron-down fa-xs ms-auto toggle-icon"></i>
        </button>
        <div class="collapse" id="{{ menu.label }}-collapse">
            {% for group, items in groups %}
                <ul class="nav flex-column">
                    <li class="nav-item d-flex nav-link text-secondary text-uppercase fw-bold pt-1 justify-content-between py-0">
                        {{ group.label }}
                    </li>
                    {% for item, buttons in items %}
                        <li class="nav-item d-flex justify-content-between py-0">
                            <a href="{{ item.url }}" class="nav-link">{{ item.link_text }}</a>
                            {% if buttons %}
                                <div class="btn-group btn-group-sm">
                                    {% for button in buttons %}
                                        <a
                                            href="{{ button.url }}"
                                            class='btn btn-sm btn-outline-{{ button.color|default:"secondary" }} px-1 py-2'
                                            title="{{ button.title }}"
                                        >
                                            <i class="{{ button.icon_class }}"></i>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endfor %}
</nav>
