{% load i18n %}

{% cotton:vars model prerequisite_model %}

<c-alert type="warning">
    <span class="flex-fill">
        {% blocktrans trimmed with model=model|meta:"verbose_name" prerequisite_model=prerequisite_model|meta:"verbose_name" %}
            Before you can add a {{ model }} you must first create a <strong>{{ prerequisite_model }}</strong>.
        {% endblocktrans %}
    </span>
    <c-button.add url="{% action_url prerequisite_model 'add' %}" :return_url="request.path" only />
</c-alert>
