{% extends 'tenancy/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if object.group %}
        <li class="breadcrumb-item">
            <a href="{% url 'tenancy:tenant_list' %}?group_id={{ object.group.pk }}">{{ object.group }}</a>
        </li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Group' %}">
                    {{ object.group|linkify|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.related_objects :object="object" :models="related_models" only />
            <c-card.custom_fields :object="object" only />
        </c-slot>
    </c-layout.panels>
{% endblock %}
