{% extends 'generic/object.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    {% for tenantgroup in object.get_ancestors %}
        <li class="breadcrumb-item">
            <a href="{% url 'tenancy:tenantgroup_list' %}?parent_id={{ tenantgroup.pk }}">{{ tenantgroup }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block extra_controls %}
    {% if perms.tenancy.add_tenant %}
        <a href="{% url 'tenancy:tenant_add' %}?group={{ object.pk }}" class="btn btn-primary">
            <span class="fa-solid fa-plus" aria-hidden="true"></span> {% trans "Add Tenant" %}
        </a>
    {% endif %}
{% endblock extra_controls %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Name' %}">
                    {{ object.name }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Parent' %}">
                    {{ object.parent|linkify|placeholder }}
                </c-card.fields.item>
            </c-card.fields>

            <c-card.tags :object="object" only />
        </c-slot>

        <c-slot name="right">
            <c-card.related_objects :object="object" :models="related_models" only />
            <c-card.custom_fields :object="object" only />
        </c-slot>

        <c-slot name="bottom">
            {% querystring embedded=True parent_id=object.pk return_url=request.path as qstring %}
            <c-card.table.htmx link="{% url 'tenancy:tenantgroup_list' %}{{ qstring }}" only>
                <c-slot name="header">
                    {% trans "Child Groups" %}
                    {% if perms.tenancy.add_tenantgroup %}
                        <div class="card-actions">
                            <a
                                href="{% url 'tenancy:tenantgroup_add' %}?parent={{ object.pk }}"
                                class="btn btn-primary btn-sm"
                            >
                                <span class="fa-solid fa-plus" aria-hidden="true"></span> {% trans "Add Tenant Group" %}
                            </a>
                        </div>
                    {% endif %}
                </c-slot>
            </c-card.table.htmx>
        </c-slot>
    </c-layout.panels>
{% endblock %}
