{% extends "common/base.html" %} {% load common_tags %} {% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2>Welcome</h2>
    <hr>

    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>MyBRC is a new user portal available to all users of BRC clusters, starting on June 1st, 2021.</p>
      We'd love to hear your feedback. Please fill out this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScZoYXkFMAVEYhoqE2guG64JQb4dsPcwidlhZ0W-TZ2t_Va4w/viewform">Google Form</a> letting us know what you think.
    </div>

    <p>If you would like to set up or update your access to a cluster, please complete the following steps.</p>
    <p>First review and sign the cluster user agreement. Only then you can join a cluster project and gain access to the cluster.</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. Sign the cluster user access agreement.</td>
          {% if user.userprofile.access_agreement_signed_date is not None %}
            <td>
              <span class="badge badge-success">
                <i class="fas fa-check"></i>
                Signed {{ user.userprofile.access_agreement_signed_date }}
              </span>
            </td>
            <td>
              <a href="{% url 'user-access-agreement' %}" class="btn btn-primary">
                Review
              </a>
            </td>
          {% else %}
            <td>
              <span class="badge badge-danger">
                <i class="fas fa-times"></i>
                Unsigned
              </span>
            </td>
            <td>
              <a href="{% url 'user-access-agreement' %}" class="btn btn-primary">
                <i class="fas fa-edit" aria-hidden="true"></i>
                Review and Sign
              </a>
            </td>
          {% endif %}
        </tr>
        <tr>
          <td>
            2. Create or join a project.
            <i
              class="fas fa-question-circle"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="A project corresponds to an allowance (e.g., FCA, Condo, etc.) and provides access to a Slurm account on the cluster.">
            </i>
          </td>

          {% if user.userprofile.access_agreement_signed_date is not None %}
            <td>
              {% if project_list %}
                <span class="badge badge-success">
                  <i class="fas fa-check"></i>
                  {{ project_list|length }} Project(s)
                </span>
              {% else %}
                <span class="badge badge-danger">
                  <i class="fas fa-times"></i>
                  {{ project_list|length }} Project(s)
                </span>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'project-request' %}" class="btn btn-primary">
                Create
              </a>
              <a href="{% url 'project-join-list' %}" class="btn btn-primary">
                Join
              </a>
            </td>
          {% else %}
            <td>
              <span class="badge badge-danger">
                <i class="fas fa-times"></i>
                {{ project_list|length }} Project(s)
              </span>
            </td>
            <td>
              <button class="btn btn-primary" disabled="true">
                Create
              </button>
              <button class="btn btn-primary" disabled="true">
                Join
              </button>
            </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-lg-12">
    Your BRC Supercluster account username:
    {% if cluster_username is not None %}
      <span class="alert alert-success"><b>{{ cluster_username }}</b></span>
    {% else %}
      <span class="alert alert-danger"><b>No Cluster Account</b></span>
    {% endif %}
  </div>
</div>
<br></br>

<div class="row">
  <div class="col-lg-12 mt-2">
    <a href="{% url 'project-list' %}">
      <h3>My BRC Cluster Projects &raquo;</h3>
    </a>
    <hr>

    {% if project_list %}
      <div class="row">
        <div class="col-lg-6 mt-2">
          <h4>Savio</h4>
          {% if savio_projects %}
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col" class="text-nowrap">Project Name</th>
                      <th scope="col" class="text-nowrap">Project Access on Cluster</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for project in project_list %}
                          {% if project.name in savio_projects %}
                          <tr>
                              <td>
                                  <a href="{% url 'project-detail' project.pk %}">
                                    <i class="fa fa-folder fa-lg" aria-hidden="true"></i>
                                    {{ project.name }}
                                  </a>
                                  {% if project.needs_review %}
                                    <a href="{% url 'project-review' project.pk %}">
                                      <span class="badge badge-warning">Needs Review</span>
                                    </a>
                                  {% endif %}
                              </td>

                              <td>
                                    {% if project.name in pending_removal_request_projects %}
                                        <span class="badge badge-danger">Pending Removal</span>
                                    {% elif 'Active' in project.display_status %}
                                        <span class="badge badge-success">Active</span>
                                    {% elif 'Pending' in project.display_status %}
                                        <span class="badge badge-warning">Pending</span>
                                    {% elif 'Processing' in project.display_status %}
                                        <span class="badge badge-warning">Processing</span>
                                    {% else %}
                                        <span class="badge badge-danger">No Access</span>
                                    {% endif %}
                              </td>
                          </tr>
                          {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <hr>
              <div class="alert alert-info" role="alert">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                You are not part of any Savio projects at this time. Please click Join to join any of the existing projects. You can also click Create to request setup of a new project.
              </div>
          {% endif %}
        </div>

        <div class="col-lg-6 mt-2">
          <h4>Vector</h4>

          {% if vector_projects %}
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col" class="text-nowrap">Project Name</th>
                      <th scope="col" class="text-nowrap">Project Access on Cluster</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for project in project_list %}
                      {% if project.name in vector_projects %}
                          <tr>
                              <td>
                                  <a href="{% url 'project-detail' project.pk %}">
                                  <i class="fa fa-folder fa-lg" aria-hidden="true"></i>
                                  {{ project.name }}
                                  </a>

                                  {% if project.needs_review %}
                                  <a href="{% url 'project-review' project.pk %}">
                                  <span class="badge badge-warning">Needs Review</span>
                                  </a>
                                  {% endif %}
                              </td>

                              <td>
                                  {% if project.name in pending_removal_request_projects %}
                                      <span class="badge badge-danger">Pending Removal</span>
                                  {% elif 'Active' in project.display_status %}
                                      <span class="badge badge-success">Active</span>
                                  {% elif 'Pending' in project.display_status %}
                                      <span class="badge badge-warning">Pending</span>
                                  {% else %}
                                      <span class="badge badge-danger">No Access</span>
                                  {% endif %}
                              </td>
                          </tr>
                      {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
            <hr>
            <div class="alert alert-info" role="alert">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              You are not part of any Vector projects at this time. Please click Join to join any of the existing projects. You can also click Create to request setup of a new project.
            </div>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 mt-2"></div>
        <div class="col-lg-6 mt-2">
          <h4>ABC</h4>

          {% if abc_projects %}
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col" class="text-nowrap">Project Name</th>
                      <th scope="col" class="text-nowrap">Project Access on Cluster</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for project in project_list %}
                        {% if project.name in abc_projects %}
                        <tr>
                            <td>
                                <a href="{% url 'project-detail' project.pk %}">
                                  <i class="fa fa-folder fa-lg" aria-hidden="true"></i>
                                  {{ project.name }}
                                </a>

                                {% if project.needs_review %}
                                  <a href="{% url 'project-review' project.pk %}">
                                    <span class="badge badge-warning">Needs Review</span>
                                  </a>
                                {% endif %}
                            </td>

                            <td>
                                {% if project.name in pending_removal_request_projects %}
                                    <span class="badge badge-danger">Pending Removal</span>
                                {% elif 'Active' in project.display_status %}
                                    <span class="badge badge-success">Active</span>
                                {% elif 'Pending' in project.display_status %}
                                    <span class="badge badge-warning">Pending</span>
                                {% else %}
                                    <span class="badge badge-danger">No Access</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
            <hr>
            <div class="alert alert-info" role="alert">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              You are not part of any ABC projects at this time. Please click Join to join any of the existing projects.
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        You are not part of any BRC cluster projects at this time. Please click Join to join any of the existing projects. You can also click Create to request setup of a new project.
      </div>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'user-projects-managers' %}">
      View all projects and managers
    </a>
  </div>


<!-- We do not need to display allocations for the users in the home page -krishna.
  <div class="col-lg-6 mt-2">
    <a href="{% url 'allocation-list' %}">
      <h3>Allocations &raquo;</h3>
    </a>
    <hr>
    {% if allocation_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Resource</th>
          <th scope="col">Status</th>

        </tr>
      </thead>
      <tbody>
        {% for allocation in allocation_list %}
        <tr>
          <td>{{allocation.project.title}}</td>
          <td>{{allocation.get_parent_resource}}</td>
          {%  if allocation.status.name == "Expired" and allocation.expires_in < 0 %}
          <td><a href="{% url 'allocation-detail' allocation.id %}" class="btn btn-danger btn-block">Expired</a></td>
          {%  elif allocation.status.name == "Renewal Requested" %}
          <td><a href="{% url 'allocation-detail' allocation.id %}" class="btn btn-danger btn-block">Renewal
              Requested</a></td>
          {%  elif allocation.expires_in >= 0 and  allocation.expires_in <= 30 %}
          <td><a href="{% url 'allocation-detail' allocation.id %}" class="btn btn-danger btn-block">Expires in <span
                class="badge badge-light">{{allocation.expires_in}}</span> day{{allocation.expires_in|pluralize }}</a>
          </td>
          {% elif allocation.expires_in > 30 and allocation.expires_in <= 90 %}
          <td><a href="{% url 'allocation-detail' allocation.id %}" class="btn btn-warning btn-block">Expires in <span
                class="badge badge-light">{{allocation.expires_in}}</span> day{{allocation.expires_in|pluralize }}</a>
          </td>
          {% elif allocation.status.name == "Pending" %}
          <td><a href="{% url 'allocation-detail' allocation.id %}"
              class="btn btn-info btn-block">{{allocation.status}}</a></td>
          {% elif allocation.status.name == "Active" %}
          <td><a href="{% url 'allocation-detail' allocation.id %}"
              class="btn btn-success btn-block">{{allocation.status}}</a></td>
          {% else %}
          <td><a href="{% url 'allocation-detail' allocation.id %}"
              class="btn btn-info btn-block">{{allocation.status}}</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <div class="alert alert-info" role="alert"><i class="fa fa-info-circle" aria-hidden="true"></i> There are no allocations to display.
    </div>
    {% endif %}
  </div>
-->

</div>
<div class="row">
  {% include "portal/extra_app_templates.html" %}
</div>
{% endblock %} {% block javascript %} {{ block.super }}
<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-home").addClass("active");
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% endblock %}
