{% load static %}
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-bottom: 10px;">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'core/portal/imgs/airport-business-cabinets-236093.jpg' %}" alt="image1" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Tile</h3>
        <p>Text</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/portal/imgs/analogue-blur-business-159282.jpg' %}" alt="image2" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Title</h3>
        <p>Text</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/portal/imgs/computer-electronics-equipment-325223.jpg' %}" alt="image3" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Title</h3>
        <p>Text</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>