{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load common_tags %}
{% load humanize %}


{% block title %}
Center Summary
{% endblock %}


{% block content %}
<h2>{% settings_value 'CENTER_NAME' %} Scientific Impact</h2>
<hr>

<div class="card mb-3 bg-light">
  <div class="card-body">
    <h2>All Resources</h2>
  </div>
</div>


<!-- Start Resources -->
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-server" aria-hidden="true"></i> Resources
  </div>
  <div class="card-body">
    <div id="chartResourcesBar"></div>
  </div>
</div>
<!-- End Resources -->

<!-- Start Resource/Allocation Charts -->
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-th-list"></i> Resource Allocations
  </div>
  <div id="allocation-summary" class="card-body">
    <div class="text-center">
      <button type="button" class="btn btn-primary"><i class="fas fa-sync fa-spin fa-fw" aria-hidden="true"></i> Getting Data <span
          class="sr-only">...</span></button>
    </div>
  </div>
</div>
<!-- End Resource/Allocation Charts -->



<hr>
<div class="card mb-3 bg-light">
  <div class="card-body">
    <h2>Storage Overview</h2>
  </div>
</div>


<!-- Start Storage by Volume -->
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-hdd" aria-hidden="true"></i> Storage by Volume
  </div
  <div class="card-body">
    <div id="chartVolumes"></div>
      <div class="card-body">
        <div class="table-responsive">
        <table id="volume-table" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Capacity (TB)</th>
              <th scope="col">Used (TB)</th>
              {% comment %}
              <th scope="col">Warranty expires</th>
              {% endcomment %}
              <th scope="col">File count</th>
              <th scope="col">User count</th>
              <th scope="col">Lab count</th>
              <th scope="col">Avg. Allocation Size (TB)</th>
            </tr>
          </thead>
          <tbody>
            {% for volume in volumes %}
              <tr>
                <td>{{ volume.name }}</td>
                <td>{{ volume.quota_TB|floatformat:2 }}</td>
                <td>{{ volume.used_TB|floatformat:2 }}</td>
                {% comment %}
                <td>{{ volume.expiry }}</td>
                {% endcomment %}
                <td>{{ volume.regular_files }}</td>
                <td>{{ volume.user_count }}</td>
                <td>{{ volume.lab_count }}</td>
                <td>{{ volume.avgsize }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End Storage by Volume -->

{% comment %}
<!-- Start Storage by Tier -->
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-server" aria-hidden="true"></i> Storage by Tier
  </div
  <div class="card-body">
    <div id="chartVolumes"></div>
      <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Tier</th>
            <th scope="col">Capacity (TB)</th>
            <th scope="col">Used (TB)</th>
            <th scope="col">File count</th>
            <th scope="col">User count</th>
            <th scope="col">Lab count</th>
            <th scope="col">Average Allocation size</th>
          </tr>
        </thead>
        <tbody>
          {% for volume in volumes %}
            <tr>
              <td>{{ volume.name }}</td>
              <td>{{ volume.quota_TB }}</td>
              <td>{{ volume.used_TB }}</td>
              <td>{{ volume.regular_files }}</td>
              <td>{{ volume.usercount }}</td>
              <td>{{ volume.labcount }}</td>
              <td>{{ volume.avgsize }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End Storage by Tier -->



<!-- Start  Publications -->
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-newspaper" aria-hidden="true"></i> User Entered Publications
  </div>
  <div class="card-body">
    <div id="chartPublications"></div>
    <strong>Total Publications:</strong> {{total_publications_count}}
  </div>
</div>
<!-- End Publications -->

<!-- Start Allocation by Field of Science -->
<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-flask" aria-hidden="true"></i> Active Allocations and Users by Field of Science
  </div>
  <div id="allocation-by-fos" class="card-body">
    <div class="text-center">
      <button type="button" class="btn btn-primary"><i class="fas fa-sync fa-spin fa-fw" aria-hidden="true"></i> Getting Data <span
          class="sr-only">...</span></button>
    </div>
  </div>
</div>
<!-- End Allocation by Field of Science -->
{% endcomment %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active")
  $("#navbar-center-summary").addClass("active")

  $(document).ready(function () {
    $('#fos-table').DataTable({
      "iDisplayLength": 10,
      "bSortClasses": false,
      "order": [
        [1, "desc"]
      ]
    });

    $('#volume-table').DataTable({
      'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['nosort']
      }]
    });

    drawPublications();
    drawResources();
    drawVolumes();
    get_allocation_by_fos()
    get_allocation_summary();
  });

    function stackedBarTooltipAdjustment(d, titleFormat, valueFormat, color) {
      var dc = d.map (function (dd) {
          return {value: dd.value, x: dd.x, id: dd.id, name: dd.name, index: dd.index};
        });
      dc[1].value += dc[0].value;
      return this.getTooltipContent(dc, titleFormat, valueFormat, color);
    }


    function drawVolumes() {
      if (storage_data_columns.length != 0) {
        var chart = c3.generate({
          bindto: '#chartVolumes',
          data: {
                  "x": "names",
                  "columns": storage_data_columns,
                  "type": "bar",
                  "order": "null",
                  "groups": [[
                          'usage (TB)',
                          'quota (TB)',
                          ]],
                  "colors":
                  {
                      "quota (TB)": '#1a1a1a',
                      "usage (TB)":  function (d) {
                        total = storage_data_columns[1][d.index+1] + d.value
                        if (d.value/total >= .8) return "red"
                        else if (d.value/total >= .6) return 'yellow';
                        return "green";
                          // return d.index && d.index === 2 ? "#dd0" : color;
                      }
                  }
              },
          legend: {
            show: false,
            item: {
              onclick: function (id) { }
            }
          },
          tooltip: {
            contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                      var dc = d.map (function (dd) {
                          return {value: dd.value, x: dd.x, id: dd.id, name: dd.name, index: dd.index};
                        });
                      dc[1].value += dc[0].value;
                  return this.getTooltipContent(dc, defaultTitleFormat, defaultValueFormat, color);
            }
        },
          axis: {
            x: {
              type: 'category',
              categories: storage_data_columns[0],
              label: {
                text: 'Volumes',
                position: 'outer-center'
              }
            },
            y: {
              label: {
                text: 'TB',
                position: 'inner-center'
              }
            }
          }
        });
      };
    }

  function drawResources() {
    if (resource_chart_data['columns'].length != 0) {
      var chart = c3.generate({
        bindto: '#chartResourcesBar',
        data: resource_chart_data,
        legend: {
          show: false,
          item: {
            onclick: function (id) { }
          }
        },
        tooltip: {
          contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                    var dc = d.map (function (dd) {
                        return {value: dd.value, x: dd.x, id: dd.id, name: dd.name, index: dd.index};
                      });
                    dc[1].value += dc[0].value;
                return this.getTooltipContent(dc, defaultTitleFormat, defaultValueFormat, color);
          }
      },
        axis: {
          x: {
            type: 'category',
            categories: resource_chart_data['columns'][0],
            label: {
              text: 'Resource',
              position: 'outer-middle'
            },
          },
          rotated: true,
          y: {
            label: 'TB',
            position: 'outer-middle'
          }
        }
      });
    };
  }


  function drawPublications() {
    if (publication_by_year_bar_chart_data['columns'].length != 0) {
      var chart = c3.generate({
        bindto: '#chartPublications',
        data: publication_by_year_bar_chart_data,
        legend: {
          show: false,
          item: {
            onclick: function (id) { }
          }
        },
        axis: {
          x: {
            label: {
              text: 'Year',
              position: 'outer-center'
            }
          },
          y: {
            label: 'Number of Publications',
            position: 'outer-middle'
          }
        }
      });
    };
  }

  var publication_by_year_bar_chart_data = {{ publication_by_year_bar_chart_data | safe }}
  var storage_data_columns = {{ storage_data_columns | safe }}
  var resource_chart_data = {{ resource_chart_data | safe}}

  function get_allocation_summary() {
    $.ajax({
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      type: "GET",
      url: "/allocation-summary",
      success: function (data) {
        $('#allocation-summary').html(data);
      }
    });
  };

  function get_allocation_by_fos() {
    $.ajax({
      headers: { 'X-CSRFToken': getCookie('csrftoken') },
      type: "GET",
      url: "/allocation-by-fos",
      success: function (data) {
        $('#allocation-by-fos').html(data);
        $('#fos-table').DataTable({
          "iDisplayLength": 10,
          "bSortClasses": false,
          "order": [
            [1, "desc"]
          ]
        });
      }
    });
  };

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
{% endblock %}
