<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>
	  {{ PORTAL_NAME }} is a new user portal available to all users of
	  {{ PROGRAM_NAME_SHORT }} clusters, starting on
	  {{ CONSTANCE_CONFIG.LAUNCH_DATE }}.
  </p>
  We'd love to hear your feedback. Please fill out this
	<a target="_blank" href="{{ CONSTANCE_CONFIG.FEEDBACK_FORM_URL }}">
		Google Form
	</a> letting us know what you think.
</div>
