<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>
	  MyBRC is a new user portal available to all users of
	  {{ PROGRAM_NAME_SHORT }} clusters, starting on June 1st, 2021.
  </p>
  We'd love to hear your feedback. Please fill out this
	<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScZoYXkFMAVEYhoqE2guG64JQb4dsPcwidlhZ0W-TZ2t_Va4w/viewform">
		Google Form
	</a> letting us know what you think.
</div>
