{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Contact
{% endblock %}


{% block content %}
<h1>Contact</h1><hr>

<p>
  For general inquiries, please email <a href="">research-it@berkeley.edu</a>.
</p>
<p>
  If you are having a technical problem with one of our HPC clusters (Savio, Vector, ABC), you can email the HPC ticketing system directly at <a href="">brc-hpc-help@berkeley.edu</a>.
</p>
<p>
  For research computing consulting questions, please email <a href="">brc@berkeley.edu</a>.
</p>
<p>
  For research data management questions, please email <a href="">researchdata@berkeley.edu</a>.
</p>

{% endblock %}
