{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load common_tags %}
{% load humanize %}


{% block title %}
Help
{% endblock %}


{% block content %}

<h2>Coldfront Help Resources</h2>
<hr>


<div class="card mb-3 border-primary">
  <div class="card-header bg-primary text-white">
    <i class="fas fa-question-circle" aria-hidden="true"></i> Documentation
  </div>
  <div class="card-body">
    <p class="card-text text-justify">
      <a href=https://docs.rc.fas.harvard.edu/kb/coldfront-allocation-management/>Coldfront Usage Guide</a>
    </p>
    <p class="card-text text-justify">
      <a href=https://docs.rc.fas.harvard.edu/kb/storage-service-center/>Storage Service Center Overview</a>
    </p>
    <p class="card-text text-justify">
      <a href=https://docs.rc.fas.harvard.edu/kb/storage-service-center-bill/>how to read your storage center bill</a>
    </p>
  </div>
</div>
{% endblock %}
