{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Contact
{% endblock %}


{% block content %}
<h1>Contact</h1><hr>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>MyBRC is a new user portal available to all users of BRC clusters, starting on June 1st, 2021.</p>
      We'd love to hear your feedback. Please fill out this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScZoYXkFMAVEYhoqE2guG64JQb4dsPcwidlhZ0W-TZ2t_Va4w/viewform">Google Form</a> letting us know what you think.
  </div>

<p>
  For general inquiries, please email <a href="">research-it@berkeley.edu</a>.
</p>
<p>
  If you are having a technical problem with one of our HPC clusters (Savio, Vector, ABC), you can email the HPC ticketing system directly at <a href="">brc-hpc-help@berkeley.edu</a>.
</p>
<p>
  For research computing consulting questions, please email <a href="">brc@berkeley.edu</a>.
</p>
<p>
  For research data management questions, please email <a href="">researchdata@berkeley.edu</a>.
</p>

{% endblock %}
