{% extends "templates/base.html" %} {% load settings %} {% block content %}
<div class="row">
  
  <div class="col-lg-6">
    <a href="{% url 'project-list' %}"><h3>Projects &raquo;</h3></a>
    <hr> 
    {% if project_list %}
      <ul class="list-group">
        {% for project in project_list %}
          <li class="list-group-item"><a href="{% url 'project-detail' project.pk %}"><i class="fa fa-folder fa-lg" aria-hidden="true"></i> {{project.title}}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> There are no projects to display.</div>
      {% if user.userprofile.is_pi or user.is_superuser %}
        <a class="btn btn-primary btn-block" href="{% url 'project-create' %}" role="button">Add a project</a><hr>
      {% endif %}

    {% endif %}
  </div>


  <div class="col-lg-6">
    <a href="{% url 'subscription-list' %}"><h3>Subscriptions &raquo;</h3></a>
    <hr> 
    {% if subscription_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Resource</th>
          <th>Status</th>
         
        </tr>
      </thead>
      <tbody>
        {% for subscription in subscription_list %}
            <tr>
              <td>{{subscription.project.title}}</td>
              <td>{{subscription.resources.first}}</td>
              {%  if subscription.expires_in < 0 %}
                  <td><a href=""  class="btn btn-danger btn-block">Expired</a></td>
              {%  elif subscription.expires_in >= 0 and  subscription.expires_in <= 30 %}
                  <td><a href=""  class="btn btn-danger btn-block">Expires in <span class="badge badge-light">{{subscription.expires_in}}</span> day{{subscription.expires_in|pluralize }}</a></td>
              {% elif subscription.expires_in > 30 and subscription.expires_in <= 90 %}
                  <td><a href=""  class="btn btn-warning btn-block">Expires in <span class="badge badge-light">{{subscription.expires_in}}</span> day{{subscription.expires_in|pluralize }}</a></td>
              {% elif subscription.status.name == "Pending" %}
                  <td><a href="{% url 'subscription-detail' subscription.id %}"  class="btn btn-info btn-block">{{subscription.status}}</a></td>
              {% elif subscription.status.name == "Active" %}
                  <td><a href="{% url 'subscription-detail' subscription.id %}"  class="btn btn-primary btn-block">{{subscription.status}}</a></td>
              {% else %}
                  <td><a href="{% url 'subscription-detail' subscription.id %}"  class="btn btn-info btn-block">{{subscription.status}}</a></td>
              {% endif %}        
            </tr>
        {% endfor %}
      </tbody>
    </table>
  
    {% else %}
    <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> There are no subscriptions to display.</div>
    {% endif %}
  </div>
</div>
<div class="row">
  {% include "portal/extra_app_templates.html" %}
</div>
{% endblock %} {% block javascript %} {{ block.super }}
<script>
$("#navbar-main > ul > li.active").removeClass("active");
$("#navbar-home").addClass("active");
</script>
{% endblock %}