{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Manage Users for Secure Dir {% endblock %}

{% block content %}
  <h1>{{ action|title }} users {{ preposition }}: {{ directory }}</h1>
  <hr>
  {% if formset %}
    <div class="card border-light">
      <div class="card-body">
        {% if add_scratch %}
          <div class="alert alert-warning" role="alert">
            You may only add users who are not part of another secure
            scratch directory (no check box will appear below for those users).
          </div>
        {% endif %}

        <form action="{% url url allocation.pk action %}" method="post">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
              <tr>
                {% if can_manage_users %}
                  <th>
                    <input type="checkbox" class="check" id="selectAll">
                  </th>
                {% endif %}
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
              </thead>
              <tbody>
              {% for form in formset %}
                <tr>
                  {% if can_manage_users %}
                    <td>{{ form.selected }}</td>
                  {% endif %}

                  {% if form.selected %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ form.username.value }}</td>
                    <td>{{ form.first_name.value }}</td>
                    <td>{{ form.last_name.value }}</td>
                    <td>{{ form.email.value }}</td>
                  {% else %}
                    <td><div class="text-muted">{{ forloop.counter }}</div></td>
                    <td><div class="text-muted">{{ form.username.value }}</div></td>
                    <td><div class="text-muted">{{ form.first_name.value }}</div></td>
                    <td><div class="text-muted">{{ form.last_name.value }}</div></td>
                    <td><div class="text-muted">{{ form.email.value }}</div></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {{ formset.management_form }}
          <div>
            {% if can_manage_users %}
              <button type="submit" class="btn {{ button }}">
                <i class="fas fa-user-check" aria-hidden="true"></i>
                {{ action|title }} Selected Users
              </button>
            {% endif %}
            <a class="btn btn-secondary" href="{% url 'allocation-detail' allocation.pk %}" role="button">
              <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
              Back to Allocation
            </a>
            <br>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <a class="btn btn-secondary mb-3" href="{% url 'allocation-detail' allocation.pk %}" role="button">
      <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
      Back to Allocation
    </a>
    <div class="alert alert-info">
      No users to {{ action }}!
    </div>
  {% endif %}
  <script>
      $("#selectAll").click(function() {
          $("input[name^='userform-']").prop('checked', $(this).prop('checked'));
      });

      $("input[name^='userform-']").click(function(ele) {
          var id = $(this).attr('id');
          if (id != "selectAll") {
              $("#selectAll").prop('checked', false);
          }
      });
  </script>
{% endblock %}
