{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Add users to the {{ title }} {% endblock %}

{% block content %}
  <h1>Add users to the {{ title }}</h1>
  <hr>
  {% if formset %}
    <div class="card border-light">
      <div class="card-body">

        <form action="{% url 'secure-dir-add-users' allocation.pk %}" method="post">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
              <tr>
                {% if can_add_users %}
                  <th>
                    <input type="checkbox" class="check" id="selectAll">
                  </th>
                {% endif %}
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
              </thead>
              <tbody>
              {% for form in formset %}
                <tr>
                  {% if can_add_users %}
                    <td>{{ form.selected }}</td>
                  {% endif %}
                  <td>{{ forloop.counter }}</td>
                  <td>{{ form.username.value }}</td>
                  <td>{{ form.first_name.value }}</td>
                  <td>{{ form.last_name.value }}</td>
                  <td>{{ form.email.value }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {{ formset.management_form }}
          <div>
            {% if can_add_users %}
              <button type="submit" value="add" name="decision" class="btn btn-success">
                <i class="fas fa-user-check" aria-hidden="true"></i>
                Add Selected Users
              </button>
            {% endif %}
            <a class="btn btn-secondary" href="{% url 'allocation-detail' allocation.pk %}" role="button">
              <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
              Back to Allocation
            </a>
            <br>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <a class="btn btn-secondary mb-3" href="{% url 'allocation-detail' allocation.pk %}" role="button">
      <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
      Back to Allocation
    </a>
    <div class="alert alert-info">
      No users to add!
    </div>
  {% endif %}
  <script>
      $("#selectAll").click(function() {
          $("input[name^='userform-']").prop('checked', $(this).prop('checked'));
      });

      $("input[name^='userform-']").click(function(ele) {
          var id = $(this).attr('id');
          if (id != "selectAll") {
              $("#selectAll").prop('checked', false);
          }
      });
  </script>
{% endblock %}
