{% extends 'generic/base.html' %}
{% load i18n %}

{% block title %}{% trans "Add Funding" %}{% endblock %}

{% block tabs %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a
                class="nav-link active"
                id="object-list-tab"
                data-bs-toggle="tab"
                data-bs-target="#object-list"
                type="button"
                role="tab"
                aria-controls="object-list"
                aria-selected="true"
            >
                {% trans "Results" %}
                <c-ui.badge css_class="total-object-count" only>
                    <c-slot
                        name="value"
                    >{% if table.page.paginator.count %}{{ table.page.paginator.count }}{% else %}0{% endif %}</c-slot>
                </c-ui.badge>
            </a>
        </li>
        {% if filter_form %}
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="filters-form-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#filters-form"
                    type="button"
                    role="tab"
                    aria-controls="filters-form"
                    aria-selected="false"
                >
                    {% trans "Filters" %}
                    <c-ui.badge :value="{{ filter_form.changed_data|length }}" bg_color="primary" only />
                </button>
            </li>
        {% endif %}
    </ul>
{% endblock tabs %}

{% block content %}
    {# Results tab #}
    <div class="tab-pane show active" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
        <form method="post" action="{% url 'ras:project_add_funding' pk=project.pk %}">
            {% csrf_token %}
            <input type="hidden" name="return_url" value="{{ return_url }}">

            {% if providers %}
                <div class="mb-3">
                    {% trans "Research Providers:" %}
                    {% for provider in providers %}
                        <c-ui.badge :value="provider" bg_color="primary" css_class="rounded-pill" only />
                    {% endfor %}
                </div>
            {% endif %}

            <c-card.table.htmx :table="table" :model="model" only />

            {# Form buttons #}
            <div class="btn-list d-print-none">
                <a href="{{ return_url }}" class="btn btn-outline-secondary btn-float">{% trans "Cancel" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Link Selected" %}</button>
            </div>
        </form>
    </div>
    {# /Results tab #}

    {# Filters tab #}
    {% if filter_form %}
        <div class="tab-pane show" id="filters-form" role="tabpanel" aria-labelledby="filters-form-tab">
            <c-form.filters :filter_form="filter_form" :return_url="return_url" only />
        </div>
    {% endif %}
    {# /Filters tab #}
{% endblock content %}
