{% load plugins %}
<c-layout.row>
    <c-layout.col>
        {{ left }}
        {% if object %}
            {% plugin_left_page object %}
        {% endif %}
    </c-layout.col>
    <c-layout.col>
        {{ right }}
        {% if object %}
            {% plugin_right_page object %}
        {% endif %}
    </c-layout.col>
</c-layout.row>
{% if bottom %}
    <c-layout.row>
        <c-layout.col>
            {{ bottom }}
        </c-layout.col>
        {% if object %}
            {% plugin_full_width_page object %}
        {% endif %}
    </c-layout.row>
{% endif %}
