{% load i18n %}
{% load buttons %}

<div class="modal-header">
    <h2 class="modal-title">
        {{ action.label }} {{ object }}
    </h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body row">
    <form action="{{ request.path }}" method="post" enctype="multipart/form-data" class="mt-5">
        <c-form :form="form" />
        <div class="text-end">
            <button
                type="button"
                class="btn btn-outline-secondary btn-float"
                data-bs-dismiss="modal"
                aria-label="Cancel"
            >
                {% trans "Cancel" %}
            </button>
            {% action_buttons action object type="submit" %}
        </div>
    </form>
</div>
