<div class="card border-light">
  <div class="card-body">
    {% if queryset %}

      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title"><span style="text-transform:capitalize;">{{ adj }} Cluster Account Requests</span></h5>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
              <tr>
                <th scope="col">
                  #
                </th>
                <th scope="col">
                  Date Requested/<br>Last Modified
                </th>
                <th scope="col">
                  User Email
                </th>
                <th scope="col">
                  Cluster Username
                </th>
                <th scope="col">
                  Project
                </th>
                <th scope="col">
                  Allocation
                </th>
                <th scope="col">
                  Status
                </th>
              </tr>
              </thead>
              <tbody>
              {% for cluster_account in queryset %}
                <tr>
                  {% if show_all %}
                    <td>{{ cluster_account.pk }}</td>
                  {% else %}
                    <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ cluster_account.modified|date:"M. d, Y" }}</td>
                  <td>{{ cluster_account.allocation_user.user.email }}</td>
                  <td>
                    {% if cluster_account.allocation_user.user.userprofile.cluster_uid %}
                      {{ cluster_account.allocation_user.user.username }}
                    {% else %}
                      <span class="badge badge-danger">
                No cluster account.
              </span>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'project-detail' cluster_account.allocation.project.pk %}">
                      {{ cluster_account.allocation.project.name }}
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'allocation-detail' cluster_account.allocation.pk %}">
                      <span class="accessibility-link-text">Allocation {{ allocation.pk }}</span>
                      {{ cluster_account.allocation.pk }}
                    </a>
                  </td>
                  <td>
                    {% with status=cluster_account.value %}
                      {% if status == "Pending - Add" %}
                        <span class="badge badge-warning">Pending</span>
                      {% elif status == "Processing" %}
                        <span class="badge badge-warning">{{ status }}</span>
                      {% elif status == "Active" %}
                        <span class="badge badge-success">{{ status }}</span>
                      {% elif status == "Denied" %}
                        <span class="badge badge-danger">{{ status }}</span>
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% with pag_obj=queryset %}
              {% include 'common/pagination.html' %}
            {% endwith %}
          </div>
        </div>
      </div>

    {% else %}
      <div class="alert alert-info">
        No {{ adj }} cluster account requests!
      </div>
    {% endif %}
  </div>
</div>
