<div class="card border-light">
  <div class="card-body">
    {% if queryset %}
      <div class="card border-light">
        <div class="card-body">
        <h5 class="card-title"><span style="text-transform:capitalize;">{{ adj }} {{ title }}</span></h5>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col">
                #
              </th>
              <th scope="col">
                {% if adj == 'active' %}
                  Date Requested
                {% else %}
                  Date Completed
                {% endif %}
              </th>
              <th scope="col">
                User Email
              </th>
              <th scope="col">
                User
              </th>
              <th scope="col">
                Requester
              </th>
              <th scope="col">
                Project
              </th>
              <th scope="col">
                Status
              </th>
            </tr>
            </thead>
            <tbody>
            {% for removal_request in queryset %}
              <tr>
                {% if show_all %}
                  <td>{{ removal_request.pk }}</td>
                {% else %}
                  <td>{{ forloop.counter }}</td>
                {% endif %}
                {% if adj == 'active' %}
                  <td>{{ removal_request.request_time|date:"M. d, Y" }}</td>
                {% else %}
                  <td>{{ removal_request.completion_time|date:"M. d, Y" }}</td>
                {% endif %}
                <td>{{ removal_request.project_user.user.email }}</td>
                <td>{{ removal_request.project_user.user.username }}</td>
                <td>{{ removal_request.requester.username }}</td>

                <td>
                  <a href="{% url 'project-detail' removal_request.project_user.project.pk %}">
                    {{ removal_request.project_user.project.name }}
                  </a>
                </td>
                <td>
                  {% with status=removal_request.status.name %}
                    {% if status == "Pending" %}
                      <span class="badge badge-warning">{{ status }}</span>
                    {% elif status == "Processing" %}
                      <span class="badge badge-warning">{{ status }}</span>
                    {% elif status == "Complete" %}
                      <span class="badge badge-success">{{ status }}</span>
                    {% endif %}
                  {% endwith %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          {% with pag_obj=queryset %}
            {% include 'common/pagination.html' %}
          {% endwith %}

        </div>
        </div>
      </div>
      {% else %}
        <div class="alert alert-info">
          No {{ adj }} project removal requests!
        </div>
      {% endif %}
  </div>
</div>