{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Project Renewal {{ request_filter|title }} Requests %}
{% endblock %}


{% block content %}
<h1>{{ request_filter|title }} Project Renewal Requests</h1>
<hr>

<p>
  {% if request_filter == 'completed' %}
    View completed requests for allocation renewals under projects. You may
    also view pending requests
    <a href="{% url 'pi-allocation-renewal-pending-request-list' %}">
      <span class="accessibility-link-text">Pending Requests</span>
      here</a>.
  {% else %}
    View pending requests for allocation renewals under projects. You may also
    view completed requests
    <a href="{% url 'pi-allocation-renewal-completed-request-list' %}">
      <span class="accessibility-link-text">Completed Requests</span>
      here</a>.
  {% endif %}
</p>

{% if renewal_request_list %}
<div class="table-responsive">
  {% with queryset=renewal_request_list %}
    {% include 'project/project_renewal/project_renewal_request_list_table.html' %}
  {% endwith %}
</div>
{% else %}
<div class="alert alert-info">
  No {{ request_filter }} renewal requests!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  // TODO
</script>

{% endblock %}
