{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}
{% load iso8601_to_datetime %}


{% block title %}
Project Renewal Request Detail
{% endblock %}


{% block content %}
<h1>
  {{ renewal_request }}
  {% with status=renewal_request.status.name %}
    {% if status == 'Under Review' %}
      <span class="badge badge-warning" style="float: right;">{{ status }}</span>
    {% elif status == 'Approved' %}
      <span class="badge badge-warning" style="float: right;">
        {{ status }} - Incomplete
      </span>
    {% elif status == 'Complete' %}
      <span class="badge badge-success" style="float: right;">{{ status }}</span>
    {% else %}
      <span class="badge badge-danger" style="float: right;">{{ status }}</span>
    {% endif %}
  {% endwith %}
</h1>
<hr>

{% include 'project/project_renewal/request_card.html' with renewal_request=renewal_request %}

<div class="card mb-3">
  <div class="card-header">
    <h2>
      <i class="fas fa-question-circle" aria-hidden="true"></i>
      Request Status
    </h2>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Status:</th>
            <td>
              {% with status=renewal_request.status.name %}
                {% if status == 'Under Review' %}
                  <p>
                    This request is currently under review. Administrators must
                    determine if the PI is eligible for access.
                  </p>
                {% elif status == 'Approved' %}
                  <p>
                    This request has been approved, but has not been processed
                    yet.
                  </p>
                {% elif status == 'Complete' %}
                  <p>
                    This request has been fully processed.
                  </p>
                {% else %}
                  <p>
                    This request has been denied. Below are specific details:
                  </p>
                  <p>
                    <strong>Category:</strong>
                    {{ denial_reason.category }}
                  </p>
                  <p>
                    <strong>Justification:</strong>
                    {{ denial_reason.justification }}
                  </p>
                  <p>
                    <strong>Timestamp:</strong>
                    {{ denial_reason.timestamp|iso8601_to_datetime }}
                  </p>
                  {% comment %}
                  <!-- This is disabled because a PI may always make a new request. -->
                  {% if user.is_superuser %}
                    <p>
                      <form action="{% url 'pi-allocation-renewal-request-review-undeny' renewal_request.pk %}" method="post">
                        {% csrf_token %}
                        <strong>Un-deny Request:</strong>
                        <input class="btn btn-primary" type="submit" value="Un-deny" />
                      </form>
                    </p>
                  {% endif %}
                  {% endcomment %}
                  <p>
                    If you have any questions or concerns, please contact us at
                    {{ support_email }}.
                  </p>
                {% endif %}
              {% endwith %}
            </td>
          </tr>
          <tr>
            <th>Latest Update Timestamp:</th>
            <td>{{ latest_update_timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if is_allowed_to_manage_request and renewal_request.status.name not in 'Denied,Complete' %}
  <div class="card mb-3">
    <div class="card-header">
      <h2>
        <i class="fas fa-check-circle" aria-hidden="true"></i>
        System Administrator Checklist
      </h2>
    </div>
    <div class="card-body">
      <p>
        This section, which is only visible for system administrators,
        activates this request. Please review the given information and
        complete the checklist in the following order before final approval.
        You may also deny the request for some other reason.
      </p>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in checklist %}
              <tr>
                <td>{{ item.0 }}</td>
                <td>
                  {% with status=item.1 latest_update_timestamp=item.2 %}
                    {% if status == 'Approved - Processing' or status == 'Pending' or status == 'Under Review' %}
                      <span class="badge badge-warning">
                    {% elif status == 'Approved' or status == 'Approved - Complete' %}
                      <span class="badge badge-success">
                    {% else %}
                      <span class="badge badge-danger">
                    {% endif %}
                      {{ status }}
                      {% if latest_update_timestamp %}
                        {{ latest_update_timestamp|iso8601_to_datetime }}
                      {% endif %}
                      </span>
                  {% endwith %}
                </td>
                <td>
                  {% if item.3 %}
                    <a href="{{ item.4 }}" class="btn btn-primary">
                      Manage
                    </a>
                  {% else %}
                    <button class="btn btn-primary" disabled="true">
                      Manage
                    </button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
      {% if is_checklist_complete %}
        <form action="{% url 'pi-allocation-renewal-request-detail' renewal_request.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'pi-allocation-renewal-pending-request-list' %}" class="btn btn-secondary">Cancel</a>
          <a href="{% url 'pi-allocation-renewal-request-review-deny' renewal_request.pk %}" class="btn btn-danger" style="float: right;">
            Deny For Other Reason
          </a>
        </form>
      {% else %}
        <button type="button" class="btn btn-primary" disabled>Submit</button>
        <a href="{% url 'pi-allocation-renewal-pending-request-list' %}" class="btn btn-secondary">Cancel</a>
        <a href="{% url 'pi-allocation-renewal-request-review-deny' renewal_request.pk %}" class="btn btn-danger" style="float: right;">
          Deny For Other Reason
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}

{% endblock %}
