{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}


{% block title %}
Project Renewal {{ request_filter|title }} Requests %}
{% endblock %}


{% block content %}
<h1>{{ request_filter|title }} Project Renewal Requests</h1>
<hr>

<p>
  {% if request_filter == 'completed' %}
    View completed requests for allocation renewals under projects. You may
    also view pending requests
    <a href="{% url 'pi-allocation-renewal-pending-request-list' %}">
      <span class="accessibility-link-text">Pending Requests</span>
      here</a>.
  {% else %}
    View pending requests for allocation renewals under projects. You may also
    view completed requests
    <a href="{% url 'pi-allocation-renewal-completed-request-list' %}">
      <span class="accessibility-link-text">Completed Requests</span>
      here</a>.
  {% endif %}
</p>

{% if renewal_request_list %}
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">
          #
          <a href="?order_by=id&direction=asc&{{filter_parameters}}">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=id&direction=des&{{filter_parameters}}">
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col">
          Date Requested/<br>Last Modified
          <a href="?order_by=modified&direction=asc&{{filter_parameters}}">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=modified&direction=des&{{filter_parameters}}">
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col">
          Requester Email
          <a href="?order_by=requester__email&direction=asc&{{filter_parameters}}">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=requester__email&direction=des&{{filter_parameters}}">
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col">
          Current Project
          <a href="?order_by=project&direction=asc&{{filter_parameters}}">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=project&direction=des&{{filter_parameters}}">
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col">
          Requested Project
          <a href="?order_by=project&direction=asc&{{filter_parameters}}">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=project&direction=des&{{filter_parameters}}">
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col">
          PI
          <a href="?order_by=pi&direction=asc&{{filter_parameters}}">
            <i class="fas fa-sort-up"></i>
          </a>
          <a href="?order_by=pi&direction=des&{{filter_parameters}}">
            <i class="fas fa-sort-down"></i>
          </a>
        </th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for renewal_request in renewal_request_list %}
      <tr>
        <td>
          <a href="{% url 'pi-allocation-renewal-request-detail' renewal_request.pk %}">
            <span class="accessibility-link-text">Project {{ renewal_request.pk }}</span>
            {{ renewal_request.pk }}
          </a>
        </td>
        <td>{{ renewal_request.modified|date:"M. d, Y" }}</td>
        <td>{{ renewal_request.requester.email }}</td>
        <td>
          {% with pre_project=renewal_request.pre_project %}
            {% if pre_project %}
              {{ pre_project.name }}
            {% else %}
              N/A
            {% endif %}
          {% endwith %}
        </td>
        <td>{{ renewal_request.post_project.name }}</td>
        <td>{{ renewal_request.pi.email }}</td>
        <td>
          {% with status=renewal_request.status.name %}
            {% if status == 'Under Review' %}
              <span class="badge badge-warning">{{ status }}</span>
            {% elif status == 'Approved' %}
              <span class="badge badge-warning">
                {{ status }} - Incomplete
              </span>
            {% elif status == 'Complete' %}
              <span class="badge badge-success">{{ status }}</span>
            {% else %}
              <span class="badge badge-danger">{{ status }}</span>
            {% endif %}
          {% endwith %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-info">
  No {{ request_filter }} renewal requests!
</div>
{% endif %}

<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-admin").addClass("active");
  // TODO
</script>

{% endblock %}
