<div class="card mb-3">
  <div class="card-header">
    <h2>
      <i class="fas fa-info-circle" aria-hidden="true"></i>
      Request Information
      {% with status=renewal_request.status.name %}
        {% if status == 'Under Review' %}
          <span class="badge badge-warning" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% elif status == 'Approved' %}
          <span class="badge badge-warning" style="float:right; position:relative; top:5px;">
            {{ status }} - Scheduled
          </span>
        {% elif status == 'Complete' %}
          <span class="badge badge-success" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% else %}
          <span class="badge badge-danger" style="float:right; position:relative; top:5px;">{{ status }}</span>
        {% endif %}
      {% endwith %}
    </h2>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">
      <strong>Request #: </strong>
      {{ renewal_request.pk }}
    </p>
    <p class="card-text text-justify">
      <strong>Date Requested: </strong>
      {{ renewal_request.request_time|date:"M. d, Y" }}
    </p>
    {% if renewal_request.approval_time %}
      <p class="card-text text-justify">
        <strong>Date Approved: </strong>
        {{ renewal_request.approval_time|date:"M. d, Y" }}
      </p>
    {% endif %}
    {% if renewal_request.completion_time %}
      <p class="card-text text-justify">
        <strong>Date Completed: </strong>
        {{ renewal_request.completion_time|date:"M. d, Y" }}
      </p>
    {% endif %}
    <p class="card-text text-justify">
      <strong>Requester: </strong>
      {% with requester=renewal_request.requester %}
        {{ requester.first_name }} {{ requester.last_name }} ({{ requester.email }})
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>PI: </strong>
      {% with pi=renewal_request.pi %}
        {{ pi.first_name }} {{ pi.last_name }} ({{ pi.email }})
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>Current Project: </strong>
      {% with pre_project=renewal_request.pre_project %}
        {% if pre_project %}
          <a href="{% url 'project-detail' pre_project.pk %}">
            <span class="accessibility-link-text">{{ pre_project.name }}</span>
            {{ pre_project.name }}
          </a>
        {% else %}
          N/A
        {% endif %}
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>Requested Project: </strong>
      {% with post_project=renewal_request.post_project %}
        {% if post_project %}
          <a href="{% url 'project-detail' post_project.pk %}">
            <span class="accessibility-link-text">{{ post_project.name }}</span>
            {{ post_project.name }}
          </a>
        {% else %}
          N/A
        {% endif %}
      {% endwith %}
    </p>
    <p class="card-text text-justify">
      <strong>Allocation Period: </strong>
      {{ renewal_request.allocation_period.name }}
    </p>
    <p class="card-text text-justify">
      {% if renewal_request.status.name == 'Approved' %}
        <strong>Number of Service Units Approved to be Added: </strong>
      {% elif renewal_request.status.name == 'Complete' %}
        <strong>Number of Service Units Added: </strong>
      {% else %}
        <strong>Number of Service Units to Add: </strong>
      {% endif %}
      {{ allocation_amount }}
    </p>
  </div>
</div>
