{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load feature_flags %}
{% load static %}


{% block title %}
Renew PI Allowance
{% endblock %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}


{% block content %}
<h1>Renew PI Allowance</h1><hr>

{% flag_enabled 'ALLOCATION_RENEWAL_FOR_NEXT_PERIOD_REQUESTABLE' as next_period_requestable %}
{% if next_period_requestable %}
  <div class="alert alert-info" role="alert">
    <i class="fas fa-info-circle" aria-hidden="true"></i>
    The allowance year for FCAs is ending soon, on
    {{ CURRENT_ALLOWANCE_YEAR_ALLOCATION_PERIOD.end_date|date:"M. d, Y" }}.
    Between now and then, you may request to renew a PI's allocation and/or
    update pooling preferences for the remainder of the current allocation
    year, and/or for the next allowance year.
  </div>
{% endif %}

<p style="color: red;">
  <b>
    Note: Currently, only renewals of Faculty Compute Allowances (FCAs) are
    supported in this form. Renewals for Instructional Compute Allowances
    (ICAs) and Partner Compute Allowances (PCAs) are coming soon.
  </b>
</p>
<p>
  Some compute allowances last for a particular allocation period. When they
  reach their end dates, they must be renewed. Each allowance is tied to a
  particular PI, and administrators must review that that PI is still eligible.
  The following allocation types require renewal:
</p>
<ul>
  <li>Faculty Compute Allowance (FCA): June 1st to May 31st</li>
  <li>Instructional Compute Allowance (ICA): Semester Start to End Dates*</li>
  <li>Partner Compute Allowance (PCA): June 1st to May 31st</li>
</ul>
<p>
  This form is intended for Principal Investigators (PIs) or Managers of
  projects. They may renew a particular PI's allowance for the current
  allocation period. This may involve keeping the PI on the Project they are
  currently using, or opting to start or stop pooling with other PIs.
</p>
<p>
  If you are filling out the form on behalf of another PI, that PI will be
  notified by email that a request is being made by you.
</p>
<p>
  * The PI will be contacted to provide a signed Memorandum of Understanding
  as part of the approval process.
</p>
<a class="btn btn-primary" href="{% url 'renew-pi-allocation' %}">
  Continue
</a>
<a class="btn btn-secondary" href="{% url 'project-list' %}">
  Back
</a>

<hr>

<h1>Pending Requests</h1>

<div class="row">
  <div class="col-lg-12 mt-2">
    <p>
      You may view your
      <a href="{% url 'pi-allocation-renewal-pending-request-list' %}">
        pending
      </a>
      renewal requests.
    </p>
    <p>
      You may also view your
      <a href="{% url 'pi-allocation-renewal-completed-request-list' %}">
        completed
      </a>
      renewal requests.
    </p>
  </div>
</div>

{% endblock %}
