{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Allocation Renewal Request - Review Eligibility
{% endblock %}


{% block content %}
<h1>Review Eligibility</h1>
<hr>

<p>
  Please determine whether the request's PI is eligible for a Savio allowance.

  {% if savio_request.allocation_type == "FCA" or savio_request.allocation_type == "PCA" %}
    <b>
      As part of this, confirm that the PI does not already have an existing
      {{ savio_request.allocation_type }}, possibly under a different email
      address.
    </b>
  {% endif %}

  If the PI is ineligible, the request will be denied immediately, and a
  notification email will be sent to the requester and PI.
</p>

{% include 'project/project_renewal/request_card.html' with renewal_request=renewal_request %}

<div class="card mb-3">
  <div class="card-header">
    <h4>
      <i class="fas fa-check-circle" aria-hidden="true"></i>
      Review
    </h4>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a
          href="{% url 'pi-allocation-renewal-request-detail' renewal_request.pk %}"
          class="btn btn-secondary">
        Cancel
      </a>
    </form>
  </div>
</div>

{% comment %}
{% include 'project/project_request/savio/project_request_extra_fields_modal.html' with extra_fields_form=extra_fields_form %}
{% include 'project/project_request/savio/project_request_survey_modal.html' with survey_form=survey_form %}
{% endcomment %}

{% endblock %}
