{% extends "common/base.html" %}
{% load static %}
{% load common_tags %} 

{% block title %} 
Register
{% endblock %} 

{% block content %}
<script>
  $("#navbar-main > ul > li.active").removeClass("active");
  $("#navbar-login").addClass("active");
</script>

<div class="col-sm-6 offset-sm-3">
  <div class="card border-primary">
    <div class="card-header bg-primary text-white">
      <i class="fas fa-lock" aria-hidden="true"></i>
      Register
    </div>
    <div class="card-body">
      <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle" aria-hidden="true"></i>
        Hint: If you are an existing BRC cluster user and this is your first
        time visiting the portal, you should already have a portal account.
        Please <a href="{% url 'password-reset' %}">set your password</a>.
      </div>
      {% include "user/registration_form.html" %}
    </div>
    <div class="text-center">
      <a href="{% url 'login' %}">Already have an account?</a>
    </div>
    <br>
  </div>
</div>
{% endblock %}
