{% extends "common/base.html" %}
{% load staticfiles %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-user").addClass("active");
    $("#navbar-user-user-profile").addClass("active");
</script>


  <div class="card ">
    <div class="card-header"><i class="fas fa-user" aria-hidden="true"></i> User Profile</div>
    <div class="card-body">
      <h4 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h4>
      <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" nowrap>University Role(s):</th>
          <td>{{group_list}}</td>
        </tr>
        <tr>
          <th scope="row">Email:</th>
          <td>{{user.email}}</td>
        </tr>  
        <tr>
          <th scope="row">PI Status:</th>
          <td>  {% if user.userprofile.is_pi %}
                  <span class="badge badge-success"> <i class="fas fa-check"></i> 
                {% else %} 
                  <form class="form-inline" method="post" action="{% url 'user-upgrade' %}">
                      <div class="form-group mb-2">
                        <span class="badge badge-danger"><i class="fas fa-times"></i></span>
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                          {% csrf_token %}
                          <button class="btn btn-secondary" type="submit"><i class="fas fa-chevron-circle-up" aria-hidden="true"></i> Upgrade Account</button>
                      </div>
                  </form>
                {% endif %}
          </td>
        </tr>
        <tr>
          <th>Last Login:</th>
          <td>{{user.last_login}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>

{% endblock %}

