{% extends "common/base.html" %}
{% load staticfiles %}

{% block title %}
User Profile{% if not user == viewed_user %}: {{ viewed_user.username }}{% endif %}
{% endblock %}

{% block content %}
<script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-user").addClass("active");
    $("#navbar-user-user-profile").addClass("active");
</script>


  <div class="card ">
    <div class="card-header"><i class="fas fa-user" aria-hidden="true"></i>
      User Profile{% if not user == viewed_user %}: {{ viewed_user.username }}{% endif %}
      <div class="float-right">
        <a class="btn btn-info" href="{% url 'user-projects-managers' viewed_user %}" role="button"><i class="far fa-user-circle" aria-hidden="true"></i> View user projects and managers</a>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center">
        {{viewed_user.first_name}}
        {% if viewed_user.userprofile.middle_name %}
          {{viewed_user.userprofile.middle_name }}
        {% endif %}
        {{viewed_user.last_name}}
      </h4>
      <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row" nowrap>University Role(s):</th>
          <td>{{group_list}}</td>
        </tr>
        <tr>
          <th scope="row">Email:</th>
          <td>{{viewed_user.email}}</td>
        </tr>  
        <tr>
          <th scope="row">PI Status:</th>
          <td>  {% if viewed_user.userprofile.is_pi %}
                  <span class="badge badge-success"><i class="fas fa-check"></i></span>
                {% elif not user == viewed_user %}
                  <span class="badge badge-danger"><i class="fas fa-times"></i></span>
                {% else %}
                  <form class="form-inline" method="post" action="{% url 'user-upgrade' %}">
                      <div class="form-group mb-2">
                        <span class="badge badge-danger"><i class="fas fa-times"></i></span>
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                          {% csrf_token %}
                          <button class="btn btn-secondary" type="submit"><i class="fas fa-chevron-circle-up" aria-hidden="true"></i> Upgrade Account</button>
                      </div>
                  </form>
                {% endif %}
          </td>
        </tr>
        <tr>
          <th>Change Password:</th>
          <td><a href="{% url 'password-change' %}" class="btn btn-secondary">Change Password</a></td>
        </tr>
        <tr>
          <th>Last Login:</th>
          <td>{{viewed_user.last_login}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>

{% endblock %}

