{% load crispy_forms_tags %}
{% load i18n %}

{% cotton:vars :form="form" %}

{% for fieldset in form.fieldsets %}
    <div class="field-group mb-5">
        {% if fieldset.legend %}
            <div class="row">
                <h2 class="col-9 offset-3">{{ fieldset.legend }}</h2>
            </div>
        {% endif %}
        {% for field_name in fieldset.fields %}
            {% with field=form|get_bound_field:field_name %}
                {% if field_name in form.meta_fields %}
                    {# Skip meta fields - they're rendered separately #}
                {% elif field_name in form.nullable_fields %}
                    <c-field.nullify :field="field" :form="form" />
                {% else %}
                    {{ field|as_crispy_field }}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endfor %}
