{% load crispy_forms_tags %}
{% load i18n %}

{% cotton:vars show_custom_fields=True %}

{% if form_message %}
    <div class="row">
        <div class="col-6 offset-3 mb-3 h4">
            <c-alert type="info">{{ form_message }}</c-alert>
        </div>
    </div>
{% endif %}

{% crispy form %}

{% if show_custom_fields and form.custom_fields %}
    <fieldset>
        <legend class="col-9 offset-3">{% trans "Custom Fields" %}</legend>

        {% for group, fields in form.custom_field_groups.items %}
            {% if group %}
                <div class="row">
                    <h3 class="col-9 offset-3 mb-3 h4">{{ group }}</h3>
                </div>
            {% endif %}
            {% for name in fields %}
                {{ form|getfield:name|as_crispy_field }}
            {% endfor %}
        {% endfor %}
    </fieldset>
{% endif %}
