htmlmin==0.1.12
Jinja2==3.0.2
jsmin==3.0.0
Markdown==3.3.4
MarkupSafe==2.1.1
mkdocs==1.3.0
mkdocs-material==8.3.9
mkdocs-minify-plugin==0.2.1
mkdocs-awesome-pages-plugin==2.5.0
Pygments==2.12.0
pymdown-extensions==9.5
PyYAML==5.4
six==1.16.0
