htmlmin==0.1.12
Jinja2==3.1.2
jsmin==3.0.1
Markdown==3.3.4
MarkupSafe==2.1.2
mkdocs==1.4.2
mkdocs-material==9.0.11
mkdocs-minify-plugin==0.6.2
mkdocs-awesome-pages-plugin==2.8.0
mkdocstrings==0.20.0
mkdocstrings-python-legacy==0.2.3
Pygments==2.14.0
pymdown-extensions==10.0
PyYAML==6.0
six==1.16.0
importlib-metadata==4.11.3
