htmlmin==0.1.12
Jinja2==2.11.1
jsmin==2.2.2
Markdown==3.3.4
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==7.0.2
mkdocs-minify-plugin==0.2.1
mkdocs-awesome-pages-plugin==2.5.0
Pygments==2.5.2
pymdown-extensions==8.1.1
PyYAML==5.3
six==1.14.0
django-datatable==0.3.1
django-datatables-view==1.19.1
django-tables2==2.3.4
djangorestframework==3.12.2
djangorestframework-datatables==0.6.0
django-mathfilters==1.0.0