{% extends 'users/base.html' %}
{% load i18n %}

{% block title %}{% trans "Permission" %} {{ object.name }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Name' %}">
                    {{ object.name }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Enabled' %}">
                    <c-ui.checkmark :value="object.enabled" />
                </c-card.fields.item>
            </c-card.fields>

            <c-card.fields header='{% trans "Actions" %}' only>
                <c-card.fields.item label="{% trans 'View' %}">
                    <c-ui.checkmark :value="object.can_view" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Add' %}">
                    <c-ui.checkmark :value="object.can_add" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Change' %}">
                    <c-ui.checkmark :value="object.can_change" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Delete' %}">
                    <c-ui.checkmark :value="object.can_delete" />
                </c-card.fields.item>
                {% for a in object.additional_actions %}
                    <c-card.fields.item label="{{ a }}">
                        <c-ui.checkmark :value="True" />
                    </c-card.fields.item>
                {% endfor %}
            </c-card.fields>

            <c-card.code header="{% trans 'Constraints' %}">
                {{ object.constraints|json }}
            </c-card.code>
        </c-slot>

        <c-slot name="right">
            <c-card.list header="{% trans 'Object Types' %}" only>
                {% for object_type in object.object_types.all %}
                    <c-card.list.item>
                        {{ object_type }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>

            <c-card.list header="{% trans 'Assigned Users' %}" only>
                {% for user in object.users.all %}
                    <c-card.list.item link="{% url 'users:user' pk=user.pk %}">
                        {{ user }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>

            <c-card.list header="{% trans 'Assigned Groups' %}" only>
                {% for group in object.groups.all %}
                    <c-card.list.item link="{% url 'users:group' pk=group.pk %}">
                        {{ group }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>
        </c-slot>
    </c-layout.panels>
{% endblock %}
