{% extends 'users/base.html' %}
{% load i18n %}

{% block title %}{% trans "Role" %} {{ object.name }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Name' %}">
                    {{ object.name }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Description' %}">
                    {{ object.description|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Weight' %}">
                    {{ object.weight }}
                </c-card.fields.item>
            </c-card.fields>
        </c-slot>

        <c-slot name="right">
            <c-card.list header="{% trans 'Permissions' %}" only>
                {% for perm in object.object_permissions.all %}
                    <c-card.list.item link="{% url 'users:objectpermission' pk=perm.pk %}">
                        {{ perm }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>

            <c-card.list header="{% trans 'Users' %}" only>
                {% for user in object.users.all %}
                    <c-card.list.item link="{% url 'users:user' pk=user.pk %}">
                        {{ user }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>

            <c-card.list header="{% trans 'Groups' %}" only>
                {% for group in object.groups.all %}
                    <c-card.list.item link="{% url 'users:group' pk=group.pk %}">
                        {{ group }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>
        </c-slot>
    </c-layout.panels>
{% endblock %}
