{% extends 'users/base.html' %}
{% load i18n %}

{% block title %}{% trans "User" %} {{ object.username }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
    <c-layout.panels>
        <c-slot name="left">
            <c-card.fields :object="object" only>
                <c-card.fields.item label="{% trans 'Username' %}">
                    {{ object.username }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Full Name' %}">
                    {{ object.get_full_name|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Email' %}">
                    {{ object.email|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Account Created' %}">
                    {{ object.date_joined|isodate }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Last Login' %}">
                    {{ object.last_login|isodatetime:"minutes"|placeholder }}
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Active' %}">
                    <c-ui.checkmark :value="object.is_active" />
                </c-card.fields.item>

                <c-card.fields.item label="{% trans 'Superuser' %}">
                    <c-ui.checkmark :value="object.is_superuser" />
                </c-card.fields.item>
            </c-card.fields>
        </c-slot>

        <c-slot name="right">
            <c-card.list header="{% trans 'Assigned Groups' %}" only>
                {% for group in object.groups.all %}
                    <c-card.list.item link="{% url 'users:group' pk=group.pk %}">
                        {{ group }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>

            <c-card.list header="{% trans 'Assigned Permissions' %}" only>
                {% for perm in object.object_permissions.all %}
                    <c-card.list.item link="{% url 'users:objectpermission' pk=perm.pk %}">
                        {{ perm }}
                    </c-card.list.item>
                {% empty %}
                    <c-card.list.item>
                        <span class="text-muted">{% trans "None" %}</span>
                    </c-card.list.item>
                {% endfor %}
            </c-card.list>
        </c-slot>

        {% if perms.core.view_objectchange %}
            <c-slot name="bottom">
                <c-card.table :table="changelog_table" show_paginator=False only>
                    <c-slot name="header">
                        {% trans "Recent Activity" %}
                        <div class="card-actions">
                            <a
                                href="{% url 'core:objectchange_list' %}?user_id={{ user.pk }}"
                                class="btn btn-ghost-primary btn-sm"
                            >
                                <i class="fa-solid fa-arrow-right" aria-hidden="true"></i> {% trans "View All" %}
                            </a>
                        </div>
                    </c-slot>
                </c-card.table>
            </c-slot>
        {% endif %}
    </c-layout.panels>
{% endblock %}
