{% load i18n %}

<c-vars label="{% trans 'Export' %}" />

<div class="dropdown">
    <button
        type="button"
        class="btn btn-info dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <i class="fa-solid fa-download" aria-hidden="true"></i> {{ label }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a
                id="export_current_view"
                class="dropdown-item"
                href="?{% if url_params %}{{ url_params }}&{% endif %}export=table"
            >{% trans "Current View" %}</a>
        </li>
        <li>
            <a
                class="dropdown-item"
                href="?{% if url_params %}{{ url_params }}&{% endif %}export"
            >{% trans "All Data" %} ({{ data_format }})</a>
        </li>
    </ul>
</div>
