/*
 * SPDX-FileCopyrightText: (C) University at Buffalo
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.page-body .card {
  margin-bottom: 1rem;
}

.page-body .card .table {
  margin-bottom: 0;
}

/* Quick search close button */
div.quicksearch > input#quicksearch {
  border-right: 0;
}

div.quicksearch > span.input-group-text {
  padding-left: 0;
  background: var(--tblr-bg-forms);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

span.color-label {
  display: inline-block;
  width: 5rem;
  height: 1rem;
  padding: 0.25em 0.5em;
  border: 1px solid #303030;
  border-radius: 6px;
}

/* Allow the showing of the page drop down nav */
.table-responsive {
  overflow-x: inherit;
}

/* ChangeLogging Diffs */
// Serialized data from change records
pre.change-data {
  border-radius: 0;
  padding: 0;

  // Display each line individually for highlighting
  > span {
    display: block;
    padding-right: 1em;
    padding-left: 1em;
    width: 100%;
    min-width: fit-content;

    &.added {
      color: var(--bs-body-color);
      background-color: rgba(47, 179, 68, 0.15);
    }

    &.removed {
      color: var(--bs-body-color);
      background-color: rgba(214, 57, 57, 0.15);
    }
  }
}

// Change data diff w/added & removed data
pre.change-diff {
  border-color: transparent;

  &.change-added {
    color: var(--bs-body-color);
    background-color: rgba(47, 179, 68, 0.15);
  }

  &.change-removed {
    color: var(--bs-body-color);
    background-color: rgba(214, 57, 57, 0.15);
  }
}

// <pre> elements displayed with a border
pre.block {
  padding: 1em;
  border: 1px solid #eee;
  border-radius: var(--tblr-border-radius);
}

// ToggleColumn checkbox widths
.w-1 {
  width: 0.25rem !important;
}

// For the action button lists
.btn-list {
  --tblr-list-gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--tblr-list-gap);
}

// Colored column links
.badge a {
  color: inherit;
  text-decoration: none;
}

.form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
}

// Read-only tom-select
select[data-readonly] + .ts-wrapper {
  opacity: 0.5;
  pointer-events: none;
}
