{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load common_tags %}
{% load humanize %}


{% block title %}
Publications
{% endblock %}


{% block content %}
<!-- <h2>{% settings_value 'CENTER_NAME' %} Scientific Impact</h2> -->
<style>
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 100px;
}

.item1 { 
    grid-column: span 3;
    grid-row: span 3;
    transition: transform .2s;
}

.item2 { 
    grid-column: span 2;
    grid-row: span 2;
    transition: transform .2s;
}

.item3 { 
    grid-column: span 4;
    grid-row: span 4;
    transition: transform .2s;
}

.item1:hover { 
    transform: scale(2)
}

.item2:hover { 
    transform: scale(3)
}

.item3:hover { 
    transform: scale(1.5)
}

img {
    width: 100%;
    height: 100%;
}
</style>
<div class="masonry" style="padding-top: 150px;">
    <div class="item item3"><a href={{url_0}}><img src={{img_0}}></a></div>
    <div class="item item1"><a href={{url_1}}><img src={{img_1}}></a></div>
    <div class="item item2"><a href={{url_2}}><img src={{img_2}}></a></div>
    <div class="item item2"><a href={{url_3}}><img src={{img_3}}></a></div>
    <div class="item item2"><a href={{url_4}}><img src={{img_4}}></a></div>
    <div class="item item3"><a href={{url_5}}><img src={{img_5}}></a></div>
    <div class="item item1"><a href={{url_6}}><img src={{img_6}}></a></div>
    <div class="item item1"><a href={{url_7}}><img src={{img_7}}></a></div>
    <div class="item item1"><a href={{url_8}}><img src={{img_8}}></a></div>
    <div class="item item3"><a href={{url_9}}><img src={{img_9}}></a></div>
    <div class="item item1"><a href={{url_11}}><img src={{img_11}}></a></div>
    <div class="item item2"><a href={{url_10}}><img src={{img_10}}></a></div>
    <div class="item item3"><a href={{url_12}}><img src={{img_12}}></a></div>
    <div class="item item1"><a href={{url_13}}><img src={{img_13}}></a></div>
    <div class="item item1"><a href={{url_14}}><img src={{img_14}}></a></div>
    <div class="item item1"><a href={{url_15}}><img src={{img_15}}></a></div>
    <div class="item item2"><a href={{url_16}}><img src={{img_16}}></a></div>
    <div class="item item2"><a href={{url_17}}><img src={{img_17}}></a></div>
    <div class="item item3"><a href={{url_18}}><img src={{img_18}}></a></div>
    <div class="item item3"><a href={{url_19}}><img src={{img_19}}></a></div>
    <div class="item item2"><a href={{url_20}}><img src={{img_20}}></a></div>
    <div class="item item3"><a href={{url_21}}><img src={{img_21}}></a></div>
    <div class="item item1"><a href={{url_22}}><img src={{img_22}}></a></div>
    <div class="item item3"><a href={{url_23}}><img src={{img_23}}></a></div>
    <div class="item item1"><a href={{url_24}}><img src={{img_24}}></a></div>
    <div class="item item2"><a href={{url_25}}><img src={{img_25}}></a></div>
    <div class="item item2"><a href={{url_26}}><img src={{img_26}}></a></div>
    <div class="item item2"><a href={{url_27}}><img src={{img_27}}></a></div>
    <div class="item item3"><a href={{url_28}}><img src={{img_28}}></a></div>
    <div class="item item2"><a href={{url_29}}><img src={{img_29}}></a></div>
    <div class="item item1"><a href={{url_30}}><img src={{img_30}}></a></div>
    <div class="item item3"><a href={{url_31}}><img src={{img_31}}></a></div>
    <div class="item item2"><a href={{url_32}}><img src={{img_32}}></a></div>
    <div class="item item3"><a href={{url_33}}><img src={{img_33}}></a></div>
    <div class="item item2"><a href={{url_34}}><img src={{img_34}}></a></div>
    <div class="item item1"><a href={{url_35}}><img src={{img_35}}></a></div>
    <div class="item item2"><a href={{url_36}}><img src={{img_36}}></a></div>
    <div class="item item2"><a href={{url_37}}><img src={{img_37}}></a></div>
    <div class="item item1"><a href={{url_38}}><img src={{img_38}}></a></div>
    <div class="item item3"><a href={{url_39}}><img src={{img_39}}></a></div>
    <div class="item item1"><a href={{url_40}}><img src={{img_40}}></a></div>
    <div class="item item2"><a href={{url_41}}><img src={{img_41}}></a></div>
    <div class="item item3"><a href={{url_42}}><img src={{img_42}}></a></div>
    <div class="item item3"><a href={{url_43}}><img src={{img_43}}></a></div>
    <div class="item item1"><a href={{url_44}}><img src={{img_44}}></a></div>
    <div class="item item3"><a href={{url_45}}><img src={{img_45}}></a></div>
    <div class="item item2"><a href={{url_46}}><img src={{img_46}}></a></div>
    <div class="item item1"><a href={{url_47}}><img src={{img_47}}></a></div>
    <div class="item item1"><a href={{url_48}}><img src={{img_48}}></a></div>
    <div class="item item2"><a href={{url_49}}><img src={{img_49}}></a></div>
    <div class="item item2"><a href={{url_50}}><img src={{img_50}}></a></div>
    <div class="item item3"><a href={{url_51}}><img src={{img_51}}></a></div>
    <div class="item item3"><a href={{url_52}}><img src={{img_52}}></a></div>
    <div class="item item2"><a href={{url_53}}><img src={{img_53}}></a></div>
    <div class="item item2"><a href={{url_54}}><img src={{img_54}}></a></div>
    <div class="item item2"><a href={{url_55}}><img src={{img_55}}></a></div>
    <div class="item item2"><a href={{url_56}}><img src={{img_56}}></a></div>
    <div class="item item1"><a href={{url_57}}><img src={{img_57}}></a></div>
    <div class="item item3"><a href={{url_58}}><img src={{img_58}}></a></div>
    <div class="item item3"><a href={{url_59}}><img src={{img_59}}></a></div>
    <div class="item item2"><a href={{url_60}}><img src={{img_60}}></a></div>
    <div class="item item3"><a href={{url_61}}><img src={{img_61}}></a></div>
    <div class="item item1"><a href={{url_62}}><img src={{img_62}}></a></div>
    <div class="item item3"><a href={{url_63}}><img src={{img_63}}></a></div>
    <div class="item item2"><a href={{url_64}}><img src={{img_64}}></a></div>
    <div class="item item3"><a href={{url_65}}><img src={{img_65}}></a></div>
    <div class="item item2"><a href={{url_66}}><img src={{img_66}}></a></div>
    <div class="item item3"><a href={{url_67}}><img src={{img_67}}></a></div>
    <div class="item item2"><a href={{url_68}}><img src={{img_68}}></a></div>
    <div class="item item1"><a href={{url_69}}><img src={{img_69}}></a></div>
    <div class="item item3"><a href={{url_70}}><img src={{img_70}}></a></div>
    <div class="item item2"><a href={{url_71}}><img src={{img_71}}></a></div>
    <div class="item item3"><a href={{url_72}}><img src={{img_72}}></a></div>
    <div class="item item2"><a href={{url_73}}><img src={{img_73}}></a></div>
    <div class="item item1"><a href={{url_74}}><img src={{img_74}}></a></div>
    <div class="item item1"><a href={{url_75}}><img src={{img_75}}></a></div>
    <div class="item item2"><a href={{url_76}}><img src={{img_76}}></a></div>
    <div class="item item2"><a href={{url_77}}><img src={{img_77}}></a></div>
    <div class="item item3"><a href={{url_78}}><img src={{img_78}}></a></div>
    <div class="item item3"><a href={{url_79}}><img src={{img_79}}></a></div>
    <div class="item item1"><a href={{url_80}}><img src={{img_80}}></a></div>
    <div class="item item2"><a href={{url_81}}><img src={{img_81}}></a></div>
    <div class="item item2"><a href={{url_82}}><img src={{img_82}}></a></div>
    <div class="item item3"><a href={{url_83}}><img src={{img_83}}></a></div>
    <div class="item item3"><a href={{url_84}}><img src={{img_84}}></a></div>
    <div class="item item1"><a href={{url_85}}><img src={{img_85}}></a></div>
    <div class="item item3"><a href={{url_86}}><img src={{img_86}}></a></div>
    <div class="item item3"><a href={{url_87}}><img src={{img_87}}></a></div>
    <div class="item item1"><a href={{url_88}}><img src={{img_88}}></a></div>
    <div class="item item2"><a href={{url_89}}><img src={{img_89}}></a></div>
    <div class="item item3"><a href={{url_90}}><img src={{img_90}}></a></div>
    <div class="item item1"><a href={{url_91}}><img src={{img_91}}></a></div>
    <div class="item item3"><a href={{url_92}}><img src={{img_92}}></a></div>
    <div class="item item3"><a href={{url_93}}><img src={{img_93}}></a></div>
    <div class="item item1"><a href={{url_94}}><img src={{img_94}}></a></div>
    <div class="item item2"><a href={{url_95}}><img src={{img_95}}></a></div>
    <div class="item item2"><a href={{url_96}}><img src={{img_96}}></a></div>
    <div class="item item2"><a href={{url_97}}><img src={{img_97}}></a></div>
    <div class="item item3"><a href={{url_98}}><img src={{img_98}}></a></div>
    <div class="item item3"><a href={{url_99}}><img src={{img_99}}></a></div>
    <div class="item item1"><a href={{url_100}}><img src={{img_100}}></a></div>
    <div class="item item3"><a href={{url_101}}><img src={{img_101}}></a></div>
    <div class="item item3"><a href={{url_102}}><img src={{img_102}}></a></div>
    <div class="item item3"><a href={{url_103}}><img src={{img_103}}></a></div>
    <div class="item item1"><a href={{url_104}}><img src={{img_104}}></a></div>
    <div class="item item1"><a href={{url_105}}><img src={{img_105}}></a></div>
    <div class="item item1"><a href={{url_106}}><img src={{img_106}}></a></div>
    <div class="item item2"><a href={{url_107}}><img src={{img_107}}></a></div>
    <div class="item item1"><a href={{url_108}}><img src={{img_108}}></a></div>
    <div class="item item3"><a href={{url_109}}><img src={{img_109}}></a></div>
    <div class="item item3"><a href={{url_110}}><img src={{img_110}}></a></div>
    <div class="item item1"><a href={{url_111}}><img src={{img_111}}></a></div>
    <div class="item item2"><a href={{url_112}}><img src={{img_112}}></a></div>
    <div class="item item2"><a href={{url_113}}><img src={{img_113}}></a></div>
    <div class="item item3"><a href={{url_114}}><img src={{img_114}}></a></div>
    <div class="item item2"><a href={{url_115}}><img src={{img_115}}></a></div>
    <div class="item item2"><a href={{url_116}}><img src={{img_116}}></a></div>
    <div class="item item1"><a href={{url_117}}><img src={{img_117}}></a></div>
    <div class="item item1"><a href={{url_118}}><img src={{img_118}}></a></div>
    <div class="item item1"><a href={{url_119}}><img src={{img_119}}></a></div>
    <div class="item item3"><a href={{url_120}}><img src={{img_120}}></a></div>
    <div class="item item1"><a href={{url_121}}><img src={{img_121}}></a></div>
    <div class="item item1"><a href={{url_122}}><img src={{img_122}}></a></div>
    <div class="item item2"><a href={{url_123}}><img src={{img_123}}></a></div>
    <div class="item item3"><a href={{url_124}}><img src={{img_124}}></a></div>
    <div class="item item2"><a href={{url_125}}><img src={{img_125}}></a></div>
    <div class="item item1"><a href={{url_126}}><img src={{img_126}}></a></div>
    <div class="item item2"><a href={{url_127}}><img src={{img_127}}></a></div>
    <div class="item item2"><a href={{url_128}}><img src={{img_128}}></a></div>
    <div class="item item1"><a href={{url_129}}><img src={{img_129}}></a></div>
    <div class="item item1"><a href={{url_130}}><img src={{img_130}}></a></div>
    <div class="item item1"><a href={{url_131}}><img src={{img_131}}></a></div>
    <div class="item item1"><a href={{url_132}}><img src={{img_132}}></a></div>
    <div class="item item1"><a href={{url_133}}><img src={{img_133}}></a></div>
    <div class="item item2"><a href={{url_134}}><img src={{img_134}}></a></div>
    <div class="item item3"><a href={{url_135}}><img src={{img_135}}></a></div>
    <div class="item item1"><a href={{url_136}}><img src={{img_136}}></a></div>
    <div class="item item1"><a href={{url_137}}><img src={{img_137}}></a></div>
    <div class="item item2"><a href={{url_138}}><img src={{img_138}}></a></div>
    <div class="item item3"><a href={{url_139}}><img src={{img_139}}></a></div>
    <div class="item item1"><a href={{url_140}}><img src={{img_140}}></a></div>
    <div class="item item2"><a href={{url_141}}><img src={{img_141}}></a></div>
    <div class="item item1"><a href={{url_142}}><img src={{img_142}}></a></div>
    <div class="item item3"><a href={{url_143}}><img src={{img_143}}></a></div>
    <div class="item item3"><a href={{url_144}}><img src={{img_144}}></a></div>
    <div class="item item2"><a href={{url_145}}><img src={{img_145}}></a></div>
    <div class="item item3"><a href={{url_146}}><img src={{img_146}}></a></div>
    <div class="item item3"><a href={{url_147}}><img src={{img_147}}></a></div>
    <div class="item item3"><a href={{url_148}}><img src={{img_148}}></a></div>
    <div class="item item1"><a href={{url_149}}><img src={{img_149}}></a></div>
    <div class="item item2"><a href={{url_150}}><img src={{img_150}}></a></div>
    <div class="item item2"><a href={{url_151}}><img src={{img_151}}></a></div>
    <div class="item item2"><a href={{url_153}}><img src={{img_153}}></a></div>
    <div class="item item3"><a href={{url_152}}><img src={{img_152}}></a></div>
    <div class="item item2"><a href={{url_155}}><img src={{img_155}}></a></div>
    <div class="item item1"><a href={{url_154}}><img src={{img_154}}></a></div>
</div>
{% endblock %}
