{% extends "common/base.html" %}
{% load common_tags %}


{% block content %}
<div class="row mt-4">
  <div class="col mr-0">
    <h1 class="text-center">Welcome to RT Projects</h1>
    <br>

    <p><a class="btn btn-primary btn-block" href="{% url 'login' %}{{next}}" role="button"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log In</a></p>


    <hr>
    <div class="card bg-light">
      <div class="card-body">
        <!-- <h3 class="card-title h5">Do not have an Account?</h3>
        <p class="card-text" style="text-align: justify;text-justify: inter-word;">{% settings_value 'ACCOUNT_CREATION_TEXT' %}</p> -->
        <div>
          <h2 class="card-title h2">What resources are available through RT Projects?</h2>
          <div style="margin-left: 10px;">
            <h3>Computing</h3>
            <ul>
              <li><a href="https://servicenow.iu.edu/kb?id=kb_article_view&sysparm_article=KB0023985">Quartz</a></li>
              <li><a href="https://servicenow.iu.edu/kb?id=kb_article_view&sysparm_article=KB0026317">Big Red 200</a></li>
            </ul>
          </div>
          <div style="margin-left: 10px;"> 
            <h3>Storage</h3>
            <ul>
              <li><a href="https://servicenow.iu.edu/kb?id=kb_article_view&sysparm_article=KB0022586">Slate-Project</a></li>
              <li><a href="https://servicenow.iu.edu/kb?id=kb_article_view&sysparm_article=KB0024817">Geode-Project</a></li>
            </ul>
          </div>
          <div style="margin-left: 10px;">
            <h3>Services</h3>
            <ul>
              <li><a href="https://servicenow.iu.edu/kb?id=kb_article_view&sysparm_article=KB0025370">Posit Connect</a></li>
            </ul>
          </div>
        </div>
        <h2 class="card-title h2">What is RT Projects?</h2>
        <p class="card-text" style="text-align: justify;text-justify: inter-word;">RT Projects provides an easy platform to discover and obtain access to high performance computing systems, storage, and other research resources supported by <a href="https://rt.iu.edu/">Research Technologies</a>. </p>
        <h2 class="card-title h2">Who can use RT Projects?</h2>
        <p class="card-text" style="text-align: justify;text-justify: inter-word;">
          IU faculty, staff, and students are able to create and manage Projects that connect their collaborators and students to the resources they need. Students will need to provide their PI's username when creating a project. Creating a Project is easy&mdash; just provide a quick description detailing your research or intended coursework, request the resources you need, and list participants that also need access. Students needing these resources for a class are able to search for their course's Project and view Projects they have been added to.</p>
      </div>
    </div>
  {% include "portal/extra_app_templates.html" %}
  <br>
  </div>
</div>
{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-home").addClass("active");

    $("#expand_button").click(function () {
    $('#collapseOne').collapse();
    icon = $("#plus_minus");
    icon.toggleClass("fa-plus fa-minus");
    });
  </script>
  <script>
    var ref = document.referrer
    if (ref.includes("idp")) {
      window.location.reload()
    }
  </script>
{% endblock %}
