{% load static %}
<div id="userCount" style="min-height: 270px; max-width: 519px; margin: auto;"></div>

<script>
  $(document).ready(function () {
    drawUserCount();
  });

  function drawUserCount() {
    var chart = c3.generate({
      bindto: '#userCount',
      data: user_counts,
      tooltip: {
        show: false
      },
      axis: {
        y: {
          label: 'Total Unique Users'
        },
        x: {
          show: false
        }
      }
    })
  }

  var user_counts = {{ user_counts | safe }}
</script>
