name: Django tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  django-tests:
    name: django-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Enable caching and define a custom cache key suffix
        id: setup-uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Test
        run: |
          uv venv --python 3.12
          source .venv/bin/activate
          python -m ensurepip
          python -m pip install --upgrade pip
          python -m pip install setuptools
          python -m pip install -r requirements.txt
          python -m pip install .
          python manage.py test        
        shell: bash
